{% extends "postman/base_folder.html" %}
{% load i18n %}

{% block head_title %}{{ block.super }} &ndash; {% trans "Archives" context "postman:tab title" %}{% endblock %}

{% block pm_folder_title %}{% trans "Archived Messages" context "postman:title" %}{% endblock %}
{% block pm_archive_button %}{% endblock %}
{% block pm_undelete_button %}{% endblock %}

{% block pm_footer_info %}
    <p>{% trans "Messages in this folder will never be removed. You can use this folder for long term storage." %}</p>
{% endblock %}
