{% extends "core/base.html" %}
{% load i18n static %}
{% load postman_tags %}

{% block head_title %}{% trans "Letterbox" context "postman:tab title" %}{% endblock %}
{% block title %}{% trans "Messaging" %}{% endblock %}
{% block extra_css %}
        {{ block.super }}
        <link type="text/css" media="all" rel="stylesheet" href="{% static 'postman/css/postman.css' %}" />
{% endblock %}

{% block page %}
    {% comment %}
    TODO: a menu sliding from the side, for small screens.
    <div style="position: absolute; right: 0; color: #fff; background-color: #f71; padding: 4px 6px;
                border-top-left-radius: 6px; border-bottom-left-radius: 6px;" class="visible-xs-block">
        <span class="fa fa-bars fa-lg" aria-label="menu"></span>
    </div>
    {% endcomment %}

    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-6 col-lg-offset-3">
        {% block content %}{% endblock %}
    </div>

    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
        {% block postman_menu %}
            <ul id="postman_menu" role="navigation">{% postman_unread as unread_count %}
                <li>
                    {% spaceless %}
                    <a href="{% url 'postman:inbox' %}">
                        <span class="fa fa-inbox fa-lg fa-fw" aria-hidden="true"></span>
                        <span>{% trans "Inbox" context "postman:menu" %}</span>
                        {% if unread_count %}<strong>&nbsp;({{ unread_count }})</strong>{% endif %}
                    </a>
                    {% endspaceless %}
                </li>
                <li>
                    {% spaceless %}
                    <a href="{% url 'postman:write' %}">
                        <span class="fa fa-pencil fa-lg fa-fw" aria-hidden="true"></span>
                        <span>{% trans "Write" context "postman:menu" %}</span>
                    </a>
                    {% endspaceless %}
                </li>
                <li>
                    {% spaceless %}
                    <a href="{% url 'postman:sent' %}">
                        <span class="fa fa-share fa-lg fa-fw" aria-hidden="true"></span>
                        <span>{% trans "Sent Messages" context "postman:menu" %}</span>
                    </a>
                    {% endspaceless %}
                </li>
                <li>
                    {% spaceless %}
                    <a href="{% url 'postman:archives' %}">
                        <span class="fa fa-folder-open fa-lg fa-fw" aria-hidden="true"></span>
                        <span>{% trans "Archives" context "postman:menu" %}</span>
                    </a>
                    {% endspaceless %}
                </li>
                <li>
                    {% spaceless %}
                    <a href="{% url 'postman:trash' %}">
                        <span class="fa fa-trash fa-lg fa-fw" aria-hidden="true"></span>
                        <span>{% trans "Trash" context "postman:menu" %}</span>
                    </a>
                    {% endspaceless %}
                </li>
            </ul>
        {% endblock %}
    </div>
{% endblock %}
