{% extends "email/base_email.html" %}
{% load i18n %}

{% block heading %}{% blocktrans with sender=object.obfuscated_sender trimmed %}
    {{ sender }} wrote to you!
{% endblocktrans %}{% endblock heading %}

{% block preheader %}{{ object.body|truncatechars:97 }}{% endblock %}

{% block body %}
    {{ object.body|linebreaks }}
{% endblock body %}

{% block call_to_action %}
    {% url 'postman:view' object.pk as url %}
    {% trans 'Reply' as text %}
<tr>
    <td align="center">
        <!-- BULLETPROOF BUTTON -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" style="padding-top: 25px;" class="padding">
                    <table border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                        <tr>
                            <td align="center" style="border-radius: 3px;" bgcolor="#5CB85C"><a href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ site.domain }}{{ url }}" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 15px 25px; border: 1px solid #4CAE4C; display: inline-block;" class="mobile-button">{{ text }} &rarr;</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
{% endblock %}