{% extends 'email/base_email.html' %}
{% load i18n domain variable %}

{% block heading %}
    {% asvar sender_url %}{{ object.sender.profile.get_absolute_url }}{% endasvar %}
    {% if sender_url %}
        {% domain sender_url as sender_url %}
        {% blocktrans with url=sender_url sender=object.obfuscated_sender trimmed %}
            <a href="{{ url }}">{{ sender }}</a> wrote to you!
        {% endblocktrans %}
    {% else %}
        {% blocktrans with sender=object.obfuscated_sender trimmed %}
            {{ sender }} wrote to you!
        {% endblocktrans %}
    {% endif %}
{% endblock heading %}

{% block preheader %}{{ object.body|truncatechars:97 }}{% endblock %}

{% block body %}
    {{ object.body|linebreaks }}
{% endblock body %}

{% block call_to_action %}
    {% url 'postman:view' object.pk as url %}
    {% trans "Reply" as text %}
    {% asvar text_before_button %}
        <div class="padding" style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; color: #333333; padding-top: 25px;">
            <i>{% trans "Answer this message by using the button:" %}</i>
        </div>
    {% endasvar %}
    {% include 'email/snippets/button.html' %}
{% endblock %}
{% block email_action %}
    {% url 'postman:view' object.pk as url %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "EmailMessage",
        "potentialAction": {
            "@type": "ViewAction",
            "name": "{% trans "Reply" %} {% trans "at" %} PS",
            "target": "{% domain url %}",
            "url": "{% domain url %}"
        },
        "description": "{{ object.subject|escapejs }}"
    }
    </script>
{% endblock %}
