{% extends "email/base_email.html" %}{% load i18n %}{% load domain %}

{% block heading %}{% trans "Confirm email" %}{% endblock %}

{% block preheader %}
    {% blocktrans %}You're receiving this email because you requested the change of your email address at {{ site_name }}:{% endblocktrans %}
{% endblock preheader %}

{% block body %}
    {% blocktrans %}You're receiving this email because you requested the change of your email address at {{ site_name }}:{% endblocktrans %}
        <br>
        <strong>{{ email }}</strong>
        <br>
        <br>
    {% trans "In case you did not requested this change and you think it’s a fraud, please contact us ASAP!" %}
        <br>
        <br>
    {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
{% endblock body %}

{% block call_to_action %}{% endblock %}