{% extends "email/base_email.html" %}{% load i18n %}

{% block heading %}{% trans "Password reset" %}{% endblock %}

{% block preheader %}
    {% blocktrans trimmed %}
        You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
    {% endblocktrans %}
{% endblock preheader %}

{% block body %}
    {% trans "You would like to set a new login password." %}
    {% trans "Unfortunately, you deactivated your account previously, and first it needs to be re-activated." %}
        <br /><br />
    {% trans "Reply to this email message if you would like to re-activate the account;" %}
    <em>{% trans "An administrator will contact you soon." %}</em>
        <br /><br />
    <small style="color: #999999"><pre>REF# {{ restore_request_id }}</pre></small>
{% endblock body %}
