{% extends 'email/password_reset.html' %}
{% load i18n %}

{% block body %}
    {% block information %}
        {% trans "You would like to set a new login password." %}
    {% endblock %}
    {% block additional_information %}
        {% trans "Unfortunately, you deactivated your account previously, and first it needs to be re-activated." %}
            <br /><br />
        {% trans "Reply to this email message if you would like to re-activate the account;" %}
        <i>{% trans "An administrator will contact you soon." %}</i>
            <br /><br />
        <small style="color: #999999"><pre>REF# {{ restore_request_id }}</pre></small>
    {% endblock %}
{% endblock body %}

{% block call_to_action %}{% endblock %}
