{% extends 'email/base_email.html' %}
{% load i18n domain %}

{% block heading %}{% trans "Password reset" %}{% endblock %}

{% block preheader %}
    {% blocktrans trimmed %}
        You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
    {% endblocktrans %}
{% endblock preheader %}

{% block body %}
    {% trans "Please go to the following page and choose a new password:" %}
        <br />
    {% block reset_link %}
        <a href="{% domain %}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            {% domain %}{% url 'password_reset_confirm' uidb64=uid token=token %}
        </a>
    {% endblock %}
        <br />
        <br />
    {% trans "Your username, in case you've forgotten:" %} <i>{{ user.username }}</i>
{% endblock body %}

{% block call_to_action %}
    {% url 'password_reset_confirm' uidb64=uid token=token as url %}
    {% trans "Choose password" as text %}
    {% include 'email/snippets/button.html' %}
{% endblock %}
