{% extends 'email/base_email.html' %}
{% load i18n domain %}
{% load split from utils %}

{% block heading %}{% trans "Email needs confirmation" %}{% endblock %}

{% block preheader %}
    {% blocktrans trimmed %}
        You're receiving this email in order to verify your email address at {{ site_name }}.
    {% endblocktrans %}
{% endblock preheader %}

{% block body %}
    {% trans "Please go to the following page to complete the verification:" %}
        <br>
    {% block verify_link %}
        <a href="{% domain url %}">
            {% domain %}{{ url_first }}<wbr>{{ url_second|split:'~45'|join:'<wbr>' }}
        </a>
    {% endblock %}
        <br>
        <br>
    {% trans "Your username, in case you've forgotten:" %} <i>{{ user.username }}</i>
{% endblock body %}

{% block call_to_action %}
    {% trans "Confirm email" as text %}
    {% include 'email/snippets/button.html' %}
{% endblock %}
