{% extends 'hosting/base_form.html' %}
{% load i18n bootstrap %}

{% block form_block_class %} password reset{% endblock %}

{% block form_submit_button %}{% trans 'Change my password' %}{% endblock %}

{% block form_title %}
    {% if form %}
        {% trans "Enter new password" %}
    {% else %}
        {% trans "Invalid password link" %}
    {% endif %}
{% endblock %}

{% block form_tip %}
    {% if form %}
        {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
    {% else %}
        {% trans "It seems like you already used this link. A link to change your password can be used just once." %}
    {% endif %}
{% endblock %}

{% if not form %}
    {% block fields %}{% endblock %}
    {% block form_submit %}{% endblock %}
    {% block form_back_link %}
        <a href="{% url 'password_reset' %}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
            {% trans "New password link" %}
        </a>
    {% endblock %}
{% endif %}
