{% extends 'core/base_crispy_form.html' %}
{% load i18n cdn %}

{% block head_title %}{% trans "Settings" %} &gt; {% trans "Change password" %}{% endblock %}
{% block head_title_separator %}{% trans "at" %}{% endblock %}

{% block form_title %}{% trans "Change password" %}{% endblock %}
{% block form_tip %}{% trans "Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly." %}{% endblock %}
{% block form_block_class %} password change{% endblock %}
{% block fields_after %}
    {% for err in form.non_field_errors.as_data %}
        {% if err.code == 'compromised_password' %}
            <p class="pull-left keep-margin">
                <a href="{% url 'faq' %}#kiel-elekti-bonan-pasvorton">{% trans "How to choose a good password?" %}</a>
            </p>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block form_submit_button %}{% trans "Change" %}{% endblock %}

{% block body %}
    {{ block.super }}
    <script src="{% cdn 'ps' %}/pasportaservo/static/pwstrength/js/zxcvbn.js" defer></script>
{% endblock %}
