{% extends 'core/base_crispy_form.html' %}
{% load i18n %}

{% block head_title %}
    {% if view.role != roles.OWNER %}
        {% trans "Change user's account email" %}{% if form.instance.profile.name %}: {{ form.instance.profile.name }} {% else %} #{{ form.instance.profile.id }} {% endif %}
    {% else %}
        {% trans "My email address" %}
    {% endif %}
{% endblock %}

{% block form_title %}
    {% if view.role >= roles.SUPERVISOR %}
        {{ form.instance.profile.get_fullname_display }} <hr />
    {% endif %}
{% endblock %}

{% block form_title_class %}{% if view.role >= roles.SUPERVISOR %}person-full-name{% endif %}{% endblock %}
