dist: xenial
sudo: false
language: python
cache: pip
services:
  - postgresql
addons:
  postgresql: 9.6
  apt:
    packages:
    - postgresql-9.6-postgis-2.4
    - libgdal-dev
    - language-pack-eo

python:
  - 3.5
  - 3.6
env:
  - DJANGO=1.11
  - DJANGO=2.0

matrix:
  allow_failures:
    - env: DJANGO=2.0
  fast_finish: true

install:
  - pip install -r requirements/dev.txt

before_script:
  - locale-gen eo
  - isort
  - flake8
script:
  - coverage run ./manage.py test
after_success:
  - codecov
