https://www.djangoproject.com/download/1.7c3/tarball/

django-extensions==1.3.3
django-countries==2.1.2
django-phonenumber-field==0.5
django-wpadmin==1.6.1
django-debug-toolbar==1.2.1
psycopg2==2.5.3
