{% load i18n %}
{% spaceless %}
{% if user.is_staff %}
    {% if object.checked %}
        <span class="staff label label-success"
              title="{% if object.checked_by %}
                        {% trans "approved by"|capfirst %}
                        {% if object.checked_by.profile %}
                            <a href='{{ object.checked_by.profile.get_absolute_url }}'>{{ object.checked_by.profile }}</a>
                        {% else %}
                            {% trans "user" %} «{{ object.checked_by }}»
                        {% endif %}
                     {% else %}
                        {% trans "approver unknown"|capfirst %}
                     {% endif %}"
              data-toggle="tooltip-lasting" data-placement="bottom" data-html="true">
            <span class="glyphicon glyphicon-ok-circle"></span> <span>&nbsp;{% trans "Checked" %}</span>
        </span>
    {% else %}
        <span class="staff label label-warning">
            <span class="glyphicon glyphicon-remove-circle"></span> <span>&nbsp;{% trans "Not checked" %}</span>
        </span>
    {% endif %}
{% endif %}
{% endspaceless %}
