{% load i18n %}
{% spaceless %}
{% if perms.hosting.can_supervise %}
    {% if object.checked %}
        <{% if button %}button type="button" {% if button_id %}id="{{ button_id }}"{% endif %}{% else %}span{% endif %}
              class="staff {% if button %}btn btn-success disabled{% else %}label label-success{% endif %}"
              title="{% if object.checked_by %}
                        {% trans "approved by"|capfirst %}
                        {% if object.checked_by.profile %}
                            <a href='{{ object.checked_by.profile.get_absolute_url }}'>{{ object.checked_by.profile.name }}</a>
                        {% else %}
                            {% trans "user" %} «{{ object.checked_by }}»
                        {% endif %}
                     {% else %}
                        {% trans "approver unknown"|capfirst %}
                     {% endif %}"
              data-toggle="tooltip-lasting" data-placement="bottom" data-container="body" data-html="true">
            <span class="glyphicon glyphicon-ok-circle"></span> <span>&nbsp;{% trans "Checked" %}</span>
        </{% if button %}button{% else %}span{% endif%}>
    {% else %}
        <{% if button %}button type="button" {% if button_id %}id="{{ button_id }}"{% endif %}{% else %}span{% endif %}
              class="staff {% if button %}btn btn-warning disabled{% else %}label label-warning{% endif %}">
            <span class="glyphicon glyphicon-remove-circle"></span> <span>&nbsp;{% trans "Not checked" %}</span>
        </{% if button %}button{% else %}span{% endif%}>
    {% endif %}
{% endif %}
{% endspaceless %}
