{% load i18n %}
{% filter cut:'<>' %}{% spaceless %}
{% if perms.hosting.can_supervise %}
    {% if object.checked %}
        <{% if button %}button type="button" {% if button_id %}id="{{ button_id }}"{% endif %}{% else %}span{% endif %}
              class="staff {% if button %}btn btn-success disabled{% else %}label label-success{% endif %}"
              data-title="<>
                    {% if object.checked_by_id %}
                        <>{% trans "approved by"|capfirst %} <>
                        {% if object.checked_by.profile %}
                            <a href='{{ object.checked_by.profile.get_absolute_url }}'>
                                <>{{ object.checked_by.profile.name|default:object.checked_by.username }}<>
                            </a>
                        {% else %}
                            <span class='person-username'>
                                <>{% trans "user" %} «{{ object.checked_by }}»<>
                            </span>
                        {% endif %}
                    {% else %}
                        <>{% trans "approver unknown"|capfirst %}<>
                    {% endif %}
              <>"
              data-toggle="tooltip-lasting" data-placement="bottom" data-container="body" data-html="true">
            <span class="fa fa-check-circle-o fa-lg" aria-hidden="true"></span>
            <span>&nbsp;{% trans "Checked" %}</span>
        </{% if button %}button{% else %}span{% endif%}>
    {% else %}
        <{% if button %}button type="button" {% if button_id %}id="{{ button_id }}"{% endif %}{% else %}span{% endif %}
              class="staff {% if button %}btn btn-warning disabled{% else %}label label-warning{% endif %}">
            <span class="fa fa-times-circle-o fa-lg" aria-hidden="true"></span>
            <span>&nbsp;{% trans "Not checked" %}</span>
        </{% if button %}button{% else %}span{% endif%}>
    {% endif %}
{% endif %}
{% endspaceless %}{% endfilter %}
