{% load i18n expression profile %}
{% load show_as_family_member show_family_member_link from privacy %}

{% if place.family_is_anonymous %}
    {% if show_anonymously %}
        <li>
            <em>{% trans "Other dwellers at this place." %}</em>
        </li>
    {% endif %}
{% else %}
    {% expr None as global any_family_members_displayed %}
    {% for member in place.family_members_cache %}
        {% if member|show_as_family_member:user_role %}
            {% expr True as global any_family_members_displayed %}
            <li class="family-member">
                {% spaceless %}
                {# INFORMATION ABOUT FAMILY MEMBER, AND IF APPLICABLE, LINK TO THE PROFILE #}
                    {% if member|show_family_member_link:user_role %}
                        <a href="{{ member.get_absolute_url }}" data-toggle="popover" data-trigger="hover focus" data-placement="top"
                           data-content="<img src='{{ member.avatar_url }}' height='90'>" data-html="true">
                    {% endif %}
                        <span {% if member.deleted %}class="text-muted" title="{% trans "Deleted profile" %}"{% endif %}>
                            {% if not member.user_id and member.deleted %}
                                <del datetime="{{ member.modified|date:"Y-m-d" }}">
                            {% endif %}
                                <span class="member">{{ member.get_fullname_always_display }}</span>
                                {% if member.birth_date %}
                                    <span class="comment">&ensp;&lrm;({{ member.age }})</span>
                                {% endif %}
                            {% if not member.user_id and member.deleted %}
                                </del>
                            {% endif %}
                        </span>
                    {% if member|show_family_member_link:user_role %}
                        </a>
                    {% endif %}
                {% endspaceless %}

                {% if not member.deleted %}
                {% if place_owner_or_supervisor or user|is_supervisor_of:member %}
                    {% spaceless %}
                    {# INLINE EDIT BUTTON FOR UPDATING FAMILY MEMBER'S PROFILE #}
                        {% if not member.user_id %}
                            <a href="{% url 'family_member_update' place.pk member.pk %}?next={{ request.get_full_path|urlencode }}"
                               class="action-edit-inline text-label-success"
                               title="{% trans "Update a family member" %}">
                                <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                                <span class="sr-only">{% trans "Update" %}</span>
                            </a>
                        {% elif user|is_supervisor_of:member %}
                            <a href="{% url 'profile_update' member.pk member.autoslug %}?next={{ request.get_full_path|urlencode }}"
                               class="action-edit-inline text-label-success"
                               title="{% trans "Update profile" %}">
                                <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                                <span class="sr-only">{% trans "Update" %}</span>
                            </a>
                        {% endif %}
                    {% endspaceless %}
                {% endif %}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    {% if not any_family_members_displayed %}
        <li>
            <em>{% trans "Please ask me privately." %}</em>
        </li>
    {% endif %}
{% endif %}
