{% load i18n %}

{{ description|linebreaks }}

{% if contact_before %}
    <p>
        {% blocktrans count nb_days=contact_before trimmed %}
            If you want to book this accomodation, please contact me at least {{ nb_days }} day in advance.
        {% plural %}
            If you want to book this accomodation, please contact me at least {{ nb_days }} days in advance.
        {% endblocktrans %}
    </p>
{% endif %}

{% if not max_host and max_night %}
    {% blocktrans count max_night=max_night trimmed %}
        I can host during {{ max_night }} night maximum.
    {% plural %}
        I can host during {{ max_night }} nights maximum.
    {% endblocktrans %}
{% elif max_host or max_night %}
    {% blocktrans count max_host=max_host trimmed %}
        I can accept {{ max_host }} person
    {% plural %}
        I can accept {{ max_host }} persons
    {% endblocktrans %}{% if max_night %}{% blocktrans count max_night=max_night trimmed %}
        , during {{ max_night }} night maximum
    {% plural %}
        , during {{ max_night }} nights maximum
    {% endblocktrans %}{% endif %}.
{% endif %}
