{% load i18n %}

{{ description.strip|capfirst|linebreaks }}

{% if contact_before %}
    <p>
    {% filter cut:"<span>"|cut:"</span>"|capfirst %}{% spaceless %}
        {% if place_available %}
            <span>{% trans "if you want to book this accommodation" %}, </span>
        {% elif owner_available %}
            <span>{% trans "if you want to meet with me" %}, </span>
        {% endif %}
        <span>{% blocktrans count nb_days=contact_before trimmed %}
                    please contact me at least {{ nb_days }} day in advance
              {% plural %}
                    please contact me at least {{ nb_days }} days in advance
              {% endblocktrans %}.</span>
    {% endspaceless %}{% endfilter %}
    </p>
{% endif %}

{% if not max_host and max_night %}
    <p>
        {% blocktrans count max_night=max_night trimmed %}
            I can host during {{ max_night }} night maximum
        {% plural %}
            I can host during {{ max_night }} nights maximum
        {% endblocktrans %}.
        {% if not place_available %}
            {% trans "However, at this moment I do not accept guests." %}
        {% endif %}
    </p>
{% elif max_host or max_night %}
    <p>
    {% filter cut:"<span>"|cut:"</span>" %}{% spaceless %}
        <span>{% blocktrans count max_host=max_host trimmed %}
                  I can accept {{ max_host }} person
              {% plural %}
                  I can accept {{ max_host }} persons
              {% endblocktrans %}</span>
        {% if max_night %}
            <span>{% blocktrans count max_night=max_night trimmed %}
                      , during {{ max_night }} night maximum
                  {% plural %}
                      , during {{ max_night }} nights maximum
                  {% endblocktrans %}</span>
        {% endif %}
        <span>.</span>
    {% endspaceless %}{% endfilter %}
    {% if not place_available %}
        {% trans "However, at this moment I do not accept guests." %}
    {% endif %}
    </p>
{% endif %}
