{% load i18n expression %}
{% load show_as_family_member show_family_member_link from privacy %}

{% if place.family_is_anonymous %}
    {% if show_anonymously %}
        <li>
            <em>{% trans "Other dwellers at this place." %}</em>
        </li>
    {% endif %}
{% else %}
    {% expr None as global any_family_members_displayed %}
    {% for member in place.family_members_cache %}
        {% if member|show_as_family_member:user_role %}
            {% expr True as global any_family_members_displayed %}
            <li>
                {% if member|show_family_member_link:user_role %}
                    <a href="{{ member.get_absolute_url }}" data-toggle="popover" data-trigger="hover focus" data-placement="top"
                       data-content="<img src='{{ member.avatar_url }}' height='90'>" data-html="true">
                {% endif %}
                <span {% if member.deleted %}class="text-muted" title="{% trans "Deleted profile" %}"{% endif %}>
                    {% if not member.user_id and member.deleted %}
                        <del datetime="{{ member.modified|date:"Y-m-d" }}">
                    {% endif %}
                        {{ member.get_fullname_always_display }}
                        {% if member.birth_date %}
                            &lrm;({{ member.age }})
                        {% endif %}
                    {% if not member.user_id and member.deleted %}
                        </del>
                    {% endif %}
                </span>
                {% if member|show_family_member_link:user_role %}
                    </a>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    {% if not any_family_members_displayed %}
        <li>
            <em>{% trans "Please ask me privately." %}</em>
        </li>
    {% endif %}
{% endif %}
