{% load i18n variable %}
<span class="status-hosting fa-stack {{ extra_class }}"
      {% with local_context=True %}
        {% asvar availability_title %}{% trans "place" %} {{ place.available|yesno:_("available,unavailable") }}{% endasvar %}
        title="{{ availability_title }}" aria-label="{{ availability_title }}"
      {% endwith %}>
    <span class="place-marker fa fa-stack-2x ps-home" aria-hidden="true"></span>
    <span class="place-availability fa fa-stack-1x fa-{{ place.available|yesno:'check,times' }}" aria-hidden="true"></span>
</span>
