{% load crispy_forms_tags i18n %}
<form class="place-blocking-form form-inline {{ form_class }}" action="{% url 'place_block' place.pk %}" method="PUT"
      id="placeBlockForm{{ place.pk }}" data-csrf="{{ csrf_token }}">
    <div class="form-group">
        <span class="fa fa-check text-label-success fa-spacer-right-2x blocking-success" style="visibility: hidden"
              aria-role="status" data-notification="{% trans "saved" %}"></span>
        {% trans "I am not available over here" %}
    </div>
    {% crispy form %}
    <div class="blocking-tip help-block text-left">
        {% trans "Leave the corresponding field empty if the starting or the ending date is not known." %}
    </div>
    <div class="blocking-errors help-block text-label-warning text-left" style="display: none" aria-role="alert">
    </div>
</form>
