DJANGO_SETTINGS_MODULE="pasportaservo.settings.{ENV_NAME}"
SECRET_KEY="sekreto"
EMAIL_HOST_PASSWORD="pasvorto"
POSTMARK_SERVER_TOKEN="aaaaaaaa-bbbb-cccc-dddd-eeeeeeffffff"
GITHUB_ACCESS_TOKEN="ghp_1234567890abcdef1234567890abcdef"
SENTRY_DSN="https://1234567890abcdef1234567890abcdef@sentry.io/8888888"
