command = '/opt/envs/{ENV_NAME}/bin/gunicorn'
raw_env = [

]
pythonpath = '/srv/{ENV_NAME}/pasportaservo'
bind = ['127.0.0.1:8010', '[::1]:8010']
workers = 3
user = 'ps'
errorlog = '/srv/{ENV_NAME}/stderr.log'
capture_output = True
timeout = 60
