command = '/opt/envs/prod/bin/gunicorn'
raw_env = [
    'DJANGO_SETTINGS_MODULE=pasportaservo.settings.prod',
    'SECRET_KEY="sekreto"',
    'EMAIL_HOST_PASSWORD="pasvorto"',
    'SENDGRID_API_KEY=SG.some.API.Key',
]
pythonpath = '/srv/prod/pasportaservo'
bind = ['127.0.0.1:8010', '[::1]:8010']
workers = 3
user = 'ps'
errorlog = '/srv/staging/stderr.log'
