#!/bin/bash
# This hook is sourced after this virtualenv is activated.
# Located in /opt/envs/{ENV_NAME}/postactivate.sh

cd /srv/{ENV_NAME}/pasportaservo/
set -a
source /srv/{ENV_NAME}/config.env
set +a
