{% extends 'core/base_crispy_form.html' %}
{% load i18n %}

{% block head_title %}{% trans "Log in" context "Imperative" %} &amp; {% trans "Find accommodation" %}{% endblock %}

{% block form_title %}{% trans "Log In" context "Title" %}{% endblock %}
{% block form_tip %}{% trans "Log in with your username and password" %}{% endblock %}
{% block form_block_class %} login{% endblock %}

{% block fields_after %}
    <p class="pull-left text-left keep-margin recovery">
        {% url 'password_reset' as password_reset_url %}{% url 'username_remind' as username_remind_url %}
        {% blocktrans with pwd_url=password_reset_url usr_url=username_remind_url trimmed %}
            I forgot <a href="{{ pwd_url }}">my password</a> or <a href="{{ usr_url }}">my username</a>
        {% endblocktrans %}
    </p>
{% endblock %}
{% block form_submit_button %}{% trans "Log in" %}{% endblock %}
