{% extends 'core/base_form.html' %}
{% load i18n %}

{% block head_title %}{% trans "Log in" context "Imperative" %} &amp; {% trans "Find accommodation" %}{% endblock %}

{% block form_title %}{% trans "Log In" context "Title" %}{% endblock %}
{% block form_tip %}{% trans "Log in with your username and password." %}{% endblock %}
{% block form_block_class %} login{% endblock %}
{% block fields_after %}<p class="pull-left"><a href="{% url 'password_reset' %}">{% trans "Forgot password?" %}</a></p>{% endblock %}
{% block form_submit_button %}{% trans "Log in" %}{% endblock %}
