{% extends 'core/base_crispy_form.html' %}
{% load i18n static domain variable %}
{% load gravatar from profile %}

{% block head_title %}
    {% trans "Log in" context "Imperative" %} &amp;
    {% if origin_object.type == "place" %}
        {% trans "View place details" context "Imperative" %}
    {% elif origin_object.type == "profile" %}
        {% trans "View profile details" context "Imperative" %}
    {% else %}
        {% trans "Find accommodation" %}
    {% endif %}
{% endblock %}

{% block ogp_title %}
    {% if origin_object.type == "place" %}
        {% if origin_object.visible_externally %}
            {% trans "A place in" %} {{ origin_object.object.get_country_display }}
        {% else %}
            {% trans "place"|title %}
        {% endif %}
        {% trans "at" %} Pasporta Servo
    {% elif origin_object.type == "profile" %}
        {% if origin_object.visible_externally and origin_object.object.name %}
            {{ origin_object.object.name }}
        {% else %}
            {% trans "profile"|title %}
        {% endif %}
        {% trans "at" %} Pasporta Servo
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block ogp_description %}&nbsp;{% endblock %}
{% block ogp_type %}
    {% if origin_object.type == "profile" %}profile{% else %}{{ block.super }}{% endif %}
{% endblock %}
{% block ogp_canonical_url %}
    {% comment %}
        The redirection URL (in the query parameter) is not tightly coupled with the object,
        and theoretically could point to a different page. This is not a significant concern.
    {% endcomment %}
    {% url 'login' as default_canonical_url %}
    {% if origin_object %}
        {% domain origin_object.canonical_url|default:request.path|urlencode %}
    {% else %}
        {% domain default_canonical_url %}
    {% endif %}
{% endblock  %}
{% block ogp_image %}
    {% if origin_object.type == "place" %}
        {% if origin_object.visible_externally %}
            {% domain %}{% get_static_prefix %}img/countries/{{ origin_object.object.country.code.upper }}_outline.png
        {% else %}
            {{ block.super }}
        {% endif %}
    {% elif origin_object.type == "profile" %}
        {% asvar fallback_avatar_url %}{% domain %}{% get_static_prefix %}img/avatar.png{% endasvar %}
        {% if origin_object.visible_externally %}
            {% if origin_object.object.avatar_exists %}
                {# Uploaded profile image. #}
                {% domain origin_object.object.avatar_url %}
            {% else %}
                {# Gravatar URL. #}
                {{ origin_object.object|gravatar:fallback_avatar_url }}
            {% endif %}
        {% else %}
            {# Default profile image. #}
            {{ fallback_avatar_url }}
        {% endif %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block form_title %}{% trans "Log In" context "Title" %}{% endblock %}
{% block form_tip %}{% trans "Log in with your username and password" %}{% endblock %}
{% block form_block_class %} login{% endblock %}

{% block fields_after %}
    <p class="pull-left text-left keep-margin recovery">
        {% url 'password_reset' as password_reset_url %}{% url 'username_remind' as username_remind_url %}
        {% blocktrans with pwd_url=password_reset_url usr_url=username_remind_url trimmed %}
            I forgot <a href="{{ pwd_url }}">my password</a> or <a href="{{ usr_url }}">my username</a>
        {% endblocktrans %}
    </p>
{% endblock %}
{% block form_submit_button %}{% trans "Log in" %}{% endblock %}
