{% extends 'core/base.html' %}
{% load i18n %}

{% block extra_head %}
        <meta name="robots" content="noindex">
{% endblock %}

{% block page %}
    <h1 class="text-center">{% trans "Password reset complete" %}</h1>
    <h3 class="text-center">
        {% trans "Your password has been set. You may go ahead and log in now." %}
    </h3>
    <div class="text-center" style="margin-top: 30px">
        <a class="btn btn-primary" href="{{ login_url }}" autofocus>
            <strong>{% trans "Log in" %}</strong>
        </a>
    </div>
{% endblock page %}
