{% extends 'core/base_crispy_form.html' %}
{% load i18n cdn %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% block form_block_class %} password reset{% endblock %}

{% block form_submit_button %}{% trans "Change my password" %}{% endblock %}

{% block form_title %}
    {% if form %}
        {% trans "Enter new password" %}
    {% else %}
        {% trans "Invalid password link" %}
    {% endif %}
{% endblock %}

{% block form_tip %}
    {% if form %}
        {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
    {% else %}
        {% trans "It seems like you already used this link. A link to change your password can be used just once." %}
    {% endif %}
{% endblock %}

{% block fields %}
    {% if form %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block form_submit %}
    {% if form %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block form_back_link %}
    {% if not form %}
        <a href="{% url 'password_reset' %}" class="btn btn-default">
            <span class="fa fa-arrow-left" aria-hidden="true"></span>
            {% trans "New password link" %}
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    {{ block.super }}
    {% if form %}
        <script src="{% cdn 'ps' %}/pasportaservo/static/pwstrength/js/zxcvbn.js" defer></script>
    {% endif %}
{% endblock %}
