{% extends 'core/base_crispy_form.html' %}
{% load i18n cdn %}

{% block head_title %}{% trans "Register" context "Imperative" %} &amp; {% trans "Find accommodation" %}{% endblock %}

{% block form_title %}{% trans "New Account" context "Title" %}{% endblock %}
{% block form_tip %}{% trans "Welcome to Pasporta Servo!" %} <hr />{% endblock %}
{% block form_block_class %} register{% endblock %}

{% block fields_after %}
    {% for err in form.non_field_errors.as_data %}
        {% if err.code == 'compromised_password' %}
            <p class="pull-left keep-margin password-hint">
                <a href="{% url 'faq' %}#kiel-elekti-bonan-pasvorton">{% trans "How to choose a good password?" %}</a>
            </p>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block form_submit_button %}{% trans "Register" %}{% endblock %}

{% block body %}
    {{ block.super }}
    <script src="{% cdn 'ps' %}/pasportaservo/static/pwstrength/js/zxcvbn.js" defer></script>
{% endblock %}
