{% extends 'core/base_form.html' %}
{% load i18n cdn %}

{% block head_title %}{% trans "Register" context "Imperative" %} &amp; {% trans "Find accommodation" %}{% endblock %}

{% block form_title %}{% trans "Registration" context "Title" %}{% endblock %}
{% block form_block_class %} register{% endblock %}
{% block form_tip %}&nbsp;{% endblock %}
{% block form_submit_button %}{% trans "Register" %}{% endblock %}

{% block body %}
    {{ block.super }}
    <script src="{% cdn 'ps' %}/pasportaservo/static/pwstrength/js/zxcvbn.js" defer></script>
{% endblock %}
