{% extends 'core/base.html' %}
{% load i18n %}

{% block head_title %}{% trans "Username" %}{% endblock %}
{% block head_title_separator %}{% trans "at" %}{% endblock %}

{% block extra_head %}
        <meta name="robots" content="noindex">
{% endblock %}

{% block page %}
    <h1 class="text-center">{% trans "Username reminder" %}</h1>
    <h3 class="text-center">
        {% blocktrans trimmed %}
            We've emailed you a reminder of your username. If an account exists
            for the email address you provided, you should receive it shortly.
        {% endblocktrans %}
    </h3>
    <br />
    <p class="text-center">
        {% blocktrans trimmed %}
            If you don't receive an email message, please make sure you've entered
            the email address you registered with. Also, check your spam folder.
        {% endblocktrans %}
        <br />
        {% blocktrans trimmed %}
            If the instruction emails do not seem to reach you,
            please <a href="mailto:{{ SUPPORT_EMAIL }}">contact us</a>.
        {% endblocktrans %}
    </p>
{% endblock page %}
