{% extends 'blog/base_blog.html' %}
{% load i18n %}

{% block head_title %}{% trans "News" %}{% endblock %}

{% block page %}
    <section class="blog row">
        <div class="col-xxs-12 col-xxs-offset-0 col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
            <div class="btn-toolbar pull-right" role="toolbar">
                {% if perms.blog %}
                    <div class="btn-group" role="group">
                        <a href="{% url 'admin:blog_post_add' %}" class="btn btn-primary" title="{% trans "Add" %}">
                            <span class="fa fa-plus" aria-hidden="true"></span>
                            {% trans "Add" %}
                        </a>
                    </div>
                {% endif %}
                {% include 'blog/subscribe.html' %}
            </div>
            <h1 class="title">{% trans "The last news about Pasporta Servo" %}</h1>

            {% for post in post_list %}
                {% include 'blog/post.html' with post=post header_level=2 more_type="link" only %}
                <hr />
            {% endfor %}
        </div>
    </section>
{% endblock page %}
