{% extends 'blog/base_blog.html' %}
{% load i18n static %}

{% block head_title %}{{ post.title }} | {% trans "News" %}{% endblock %}

{% block extra_js %}
        <script src="{% static 'js/pep.min.js' %}"></script>
        <script src="{% static 'js/gestures.js' %}"></script>
        <script src="{% static 'js/blog.js' %}"></script>
{% endblock %}

{% block page %}
    <section class="blog blog-post row">
        <div class="col-xxs-12 col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
            <div class="btn-toolbar pull-right" role="toolbar">
                {% if perms.blog %}
                    <div class="btn-group" role="group">
                        <a href="{% url 'admin:blog_post_change' post.pk %}" class="btn btn-success" title="{% trans "Update" %}">
                            <span class="fa fa-pencil" aria-hidden="true"></span>
                            {% trans "Update" %}
                        </a>
                    </div>
                {% endif %}
                {% include 'blog/subscribe.html' %}
            </div>

            <article>
                <h1 class="title"><a name="T"></a>{{ post.title }}</h1>
                <div class="h3 published">
                    <small class="pull-right text-nowrap">
                        <span class="fa fa-calendar-check-o" aria-hidden="true"></span>&nbsp;
                        <span class="sr-only">{% trans "published on" %} :</span>
                        {{ post.pub_date.date }}
                    </small>
                </div>
                {{ post.body|safe }}
            </article>

            <hr />

            {% if previous_post %}
                <a id="id_prev_post" href="{{ previous_post.get_absolute_url }}" class="btn btn-default btn-vert-space pull-left">
                    <span class="nav-graphical">
                        <span class="fa fa-chevron-left" aria-hidden="true"></span>&nbsp;
                    </span>
                    <span class="sr-only">{% trans "Previous news" %} :</span>
                    <span class="nav-textual">
                        {{ previous_post }}
                    </span>
                </a>
            {% endif %}
            {% if next_post %}
                <a id="id_next_post" href="{{ next_post.get_absolute_url }}" class="btn btn-default btn-vert-space pull-right">
                    <span class="sr-only">{% trans "Next news" %} :</span>
                    <span class="nav-textual">
                        {{ next_post }}
                    </span>
                    <span class="nav-graphical">
                        &nbsp;<span class="fa fa-chevron-right" aria-hidden="true"></span>
                    </span>
                </a>
            {% endif %}
        </div>
    </section>
{% endblock page %}
