{% load i18n static %}
<div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% trans "Subscribe" %}
        <span class="caret"></span>
    </button>
    <ul id="subscribe" class="dropdown-menu dropdown-menu-right">
        <li>
            <a href="{% url 'blog:atom' %}">
                <span class="fa ps-atom fa-lg fa-fw text-brand" aria-hidden="true"></span>
                Atom
            </a>
        </li>
        <li>
            <a href="{% url 'blog:rss' %}">
                <span class="fa fa-square-rss fa-lg fa-fw text-brand" aria-hidden="true"></span>
                RSS
            </a>
        </li>
    </ul>
</div>
