
body, .same-as-body {
    font-family: $font-stack;
    font-size: 16px;
}

.full-name {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.last-name {
    font-variant: small-caps;
    font-variant-caps: small-caps;
}

.edit-buttons {
    float: right;
    margin-bottom: 1em;
}
.history-link {
    margin-right: 12px;
    padding-right: 3px;
    margin-left: 12px;
    padding-left: 3px;
    font-size: 16px;
}
.action-edit-inline {
    margin-left: 0.3ex;
    .fa {
        position: relative;
        top: 1px;
    }
}

code, kbd, pre, samp {
    font-family: "Fira Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
}
.text-body {
    color: $color-text !important;
}
.text-brand, a.text-brand:hover {
    color: $color-brand;
}
.text-muted .glyphicon, .text-muted .fa {
    color: lighten($color-gray, 13.5%);
}
.text-label-primary, a.text-label-primary:hover {
    color: $color-primary;
}
.text-label-success, a.text-label-success:hover {
    color: $color-success;
}
.text-label-info, a.text-label-info:hover {
    color: $color-info;
}
.text-label-warning, a.text-label-warning:hover {
    color: $color-warning;
}
.text-label-danger, a.text-label-danger:hover {
    color: $color-danger;
}

@mixin transition($params...) {
            transition: #{$params};
    -webkit-transition: #{$params};
       -moz-transition: #{$params};
         -o-transition: #{$params};
}

.btn-vert-space {
    margin-bottom: 5px;
}
.btn-vert-space-even,
.anchor-vert-space-even {
    margin-top: 2px;
    margin-bottom: 2px;
}
ul.dropdown-menu li {
    img:first-child, .fa:first-child {
        width: 16px;
        height: 16px;
        margin-right: 15px;
    }
    .fa:first-child {
        vertical-align: middle;
    }
}
ul.dropdown-menu-lg li {
    img:first-child, .fa:first-child {
        width: 24px;
        height: 24px;
    }
}
.datepicker-dropdown {
    font-size: 13px;
}
.datepicker .disabled {
    color: #bbb !important;
}
.datepicker-btn-inline {
    top: 0px;
    cursor: pointer;
    color: lighten($color-text, 25%);
}
.toggle-handle {
    min-width: 1.8em;
    border-radius: 45%;
}
.toggle-handle:focus {
    outline: 0;
}

.debug-only {
    position: absolute;
    left: 0px;
    opacity: 0.5;
    z-index: 100000000;
}


/* General header. */
header {
    color: $color-brand-text;
    background: $color-brand;
    padding: 0.5em 0;
    margin-bottom: 1em;
}
header:not(.home) {
    box-shadow: 0px 3px 5px 0px #d0d0d0;
}
header a {
    color: $color-brand-text;
}
header a:hover {
    color: $color-brand-text;
}
header .links {
    font-weight: bold;
    padding-top: 0.5em;
    text-align: right;
}

header #title, .same-as-title {
    font-family: $font-stack-title;
    font-size: 1.6em;
}
header #title a:hover {
    text-decoration: none;
}
header #subtitle {
    padding-top: 0.5em;
}
header:not(.home) #subtitle,
.message {
    font-family: $font-stack-hint;
}


/* Search & Accommodation details */
#page.search form.search {
    margin-bottom: 1em;
    #maplink.pull-left {
        margin-right: 1em;
    }
    #maplink.pull-right {
        margin-left: 1em;
    }
}
#page.search #georesult {
    margin-bottom: 1em;
    .maplink {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}
.place-list {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid darken($color-gray-light, 6%);
}
.place-detail .owner .name,
.place-list .name {
    font-weight: bold;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.place-list .name {
    white-space: nowrap;
}
.place-detail .status,
.place-list .status:not(.anchor-group) {
    text-align: right;
}
.place-list .status {
    font-size: 0.8em;
}
.place-detail .status,
.place-detail .place-blocking {
    float: right;
    margin-right: -5px;
    z-index: 10;
}
.place-detail .place-blocking {
    margin-left: 5px;
}
.place-overview .status {
    font-size: 0.6em;
}
.place-overview > .status {
    font-weight: 500;
}
.place-list .status .place-anchor {
    vertical-align: middle;
    &:not(.glyphicon) {
        font-size: 1.4062em;
        position: relative;
        top: 1px;
        margin-right: 2px;
    }
    &.place-anchor-drink, &.place-anchor-guide {
        font-size: 1.5625em;
        margin-right: 3px;
    }
    &.place-anchor-drink {
        top: 2px;
        margin-right: 4px;
    }
    &.glyphicon {
        top: 2px;
        font-size: 2.0ex;
    }
}
.place-overview .place-anchor {
    position: relative;
    top: 0.35ex;
    .fa {
        width: 0.875em;
    }
}
.anchor-group {
    margin-top: 3px;
}
.anchor-group-item {
    display: inline-block;
    &:not(:last-child) {
        margin-right: 0.5ex;
    }
    .label {
        font-family: $font-stack-hint;
    }
}
.status-drinking, .status-guiding {
    color: darken($color-success, 20%);
}
.status-hosting {
    .place-marker {
        color: $color-brand;
    }
    .place-availability {
        color: lighten($color-text, 20%);
    }
    &.glyphicon-stack-normal > .place-availability {
        top: 0.1em;
        left: 0.3em;
    }
    &.glyphicon-stack-large > .place-availability {
        top: 0.1em;
        left: 0.1em;
    }
    &.fa-stack > .place-availability {
        top: 0.2em;
        left: 0.05em;
    }
}
.place-list-compact .status-hosting {
    top: -0.65ex;
}
.place-list .avatar {
    text-align: center;
}
.place-list .avatar img {
    width: 100%;
    max-width: 100px;
}
.place-detail .owner .avatar {
    padding-right: 0;
    margin-bottom: 0.5em;
}
.place-detail .place-blocking {
    clear: right;
}
.description-small {
    margin-top: 1em;
    margin-bottom: 1em;
}
.place-overview .description-short {
    display: inline-block;
    position: relative;
    top: 0.2ex;
    .fa {
        position: relative;
        top: 0.15ex;
    }
}
.switch[data-target="#family-panel-small"],
.switch[href="#family-panel-small"] {
    position: relative;
    top: -0.15ex;
    margin-left: 1em;
    &:not(.initial) .fa {
        transition: all 0.3s ease-in;
    }
}

.anchor-notify + .popover {
    color: $color-state-info-text;
    background-color: $color-state-info-bg;
    border-color: $color-state-info-border;
    opacity: 0.95;
    text-align: center;
    &.bottom > .arrow {
        border-bottom-color: $color-state-info-border;
    }
    &.left > .arrow {
        border-left-color: $color-state-info-border;
    }
    &.bottom > .arrow:after {
        border-bottom-color: $color-state-info-bg;
    }
    &.left > .arrow:after {
        border-left-color: $color-state-info-bg;
    }
}

.place-blocking-panel {
    position: absolute;
    right: 10px;
    z-index: 11;
    background-color: $color-default-bg;
    box-shadow: 0px -1px 5px 0px darken($color-default-bg, 12%);
}
.place-blocking-form {
    .form-group {
        white-space: nowrap;
    }
    .form-group > .control-label {
        font-weight: normal;
    }
    &.form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    &.form-inline .form-group > .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-group > div,
    .form-group > div > input {
        display: inherit;
    }
    .form-group > div > input[type="text"] {
        width: 9em;
    }
    .blocking-tip,
    .blocking-errors {
        margin-bottom: 0;
    }
}
.has-feedback .form-control.input-sm {
    padding-right: 30px;
}


/* Accomodation */
.owner {
    margin-bottom: 1em;
}
.owner img {
    width: 100%;
    max-width: 140px;
}
.owner .register {
    margin-top: 1em;
}
.register label, .login label {
    display: none;
}
.register .form-group:last-of-type {
    position: absolute;
    top: -10000px;  /* Hiding honeypot */
}
p.tip {
    font-size: 0.8em;
}
.map .leaflet-container {
    min-height: 300px;
}


/* Profile */
.profile-detail .owner .name {
    @extend .full-name;
}
@media (max-width: 540px) {
    .profile-detail .owner .avatar {
        display: inline-block;
        position: relative;
        cursor: zoom-in;

        &:after {
            font-family: FontAwesome;
            content: attr(data-content);
            position: absolute;
            bottom: -5px;
            right: -1px;
            color: $color-gray-light;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
        }
    }
    .mfp-wrap {
        position: fixed !important;
        top: 0px !important;
    }
}
.contact-details:not(a) {
    font-style: italic;
}
a.contact-details:not(:hover) {
    color: darken($color-primary, 17.5%);
}

.owned-place {
    .conceal-marker {
        margin-right: 0.6em;
    }
}
.list-vertical-align {
    min-height: 3.5em;
}
.list-vertical-align .family-member,
.list-vertical-align .phone-number {
    margin-top: 0.5em;
    margin-bottom: 0em;
}
.list-vertical-align .member,
.list-vertical-align .number {
    font-weight: bold;
    margin: 0 1em 0 0.5em;
    & + .conceal-marker {
        margin-right: 0.6em;
    }
}
.phone-number .number {
    white-space: nowrap;
}
.list-group-item.concealed {
    background-color: $color-default-bg;
    &:not(.text-primary):not(.text-success):not(.text-info):not(.text-warning):not(.text-danger) {
        color: $color-gray;
    }
}
.list-group-item.concealed-partially {
    @mixin striped($color, $angle: 45deg) {
        @mixin gradient($config...) {
            background-image: -webkit-linear-gradient($config);
            background-image:      -o-linear-gradient($config);
            background-image:         linear-gradient($config);
        }
        @include gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    }
    @include striped(rgba(0, 0, 0, 0.03));
    -webkit-background-size: 40px 40px;
            background-size: 40px 40px;
}

#page.settings #matrix_form {
    th.header-in_book {
        vertical-align: middle !important;
        text-align: center !important;
    }
    .asset-icon {
        float: left;
        width: 13%;
        width: 1em;
    }
    .asset-value {
        float: left;
        width: 87%;
        width: calc(100% - 1em);
        padding-left: 5px;
    }
    .asset-value.idented {
        padding-left: 30px;
    }
    .asterisk {
        position: absolute;
        right: 0px;
    }
    .visibility-success {
        position: absolute;
        left: 0px;
        z-index: 2;
        text-shadow: 1px 3px 3px #eee;
    }
    .authorized-list.switch {
        position: absolute;
        top: 1px;
        right: 0px;
    }
}

.authorized-user {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 5px !important;
    }
    &:last-child:nth-child(-n+5) {
        /* When in position 1..5 */
        margin-bottom: 0px !important;
    }
    .name {
        position: relative;
        top: 0.1em;
        display: inline-block;
        max-width: 100%;
        @extend .full-name;
    }
    .avatar {
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
    }
    .avatar {
        width: 30px;
        height: 30px;
        margin-right: 0.5ex;
    }
}
.authorized-user.compact {
    margin-bottom: 10px;
    .col-avatar {
    }
    .col-name {
        white-space: nowrap;
        overflow: hidden;
    }
    .avatar {
        width: 25px;
        height: 25px;
        margin-right: 0.2em;
    }
}
.authorized-list.panel {
    width: 420px;
    position: absolute;
    right: 0px;
    top: calc(100% + 2px);
    z-index: 11;
    .panel-body {
        overflow-y: auto;
    }
}


/* Supervisors */
.staff.label .fa.fa-lg {
    vertical-align: -20%;
}

#tasks-header {
    cursor: pointer;
}
#tasks-header .switch {
    padding: 0px 2px 2px 2px;
}
#tasks .collapsing.initial {
    @include transition(height 0.1s);
}
#supervisors-wanted button.close {
    margin-left: 10px;
}

.countries-list > .row:not(.grid-header) > [class^="col-"]:first-child {
    padding-top: 8px;
    padding-bottom: 8px;
}
.country-code {
    width: 40px;
}
.place-supervisor-detail {
    .control-buttons {
        margin-left: 20px;
    }
    .control-buttons .timestamp {
        margin-bottom: 0px;
        margin-right: 1px;
        &:first-of-type {
            margin-top: 1em;
        }
    }
    .name {
        @extend .full-name;
    }
    .description-short.has-content {
        margin: 10px 0px;
    }
}
#check-place-check-errors .modal-dialog {
    overflow-y: initial !important;
    .modal-body {
        max-height: 77vh;
        overflow-y: auto;
    }
}


/* Footer */
footer {
    text-align: center;
    padding: 3em 0;
}


/* Forms */
.base-form {
    text-align: center;
    margin-top: 1em;
}
.base-form h4 {
    margin-top: 0;
}

#id_conditions_chosen .chosen-choices {
    padding: 2px;
    padding-left: 5px;
}
#id_conditions_chosen .chosen-choices input[type="text"] {
    height: 26px;
}

*[type="password"] + .progress,
*[type="password"] + .popover + .progress {
    margin-top: 2px;
}
*[type="password"] + .progress .password-verdict,
*[type="password"] + .popover + .progress .password-verdict {
    float: right;
    margin-right: 1ex;
}
.help-block,
*[type="password"] + .progress .password-verdict,
*[type="password"] + .popover + .progress .password-verdict {
    font-family: $font-stack-hint;
}
.help-block {
    font-size: 0.9em;
}
.input-lg {
    font-size: 1.5em;
}

:invalid {
    box-shadow: none;
    outline: 0;
}
.form-touched:invalid {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f77;
    outline: 0;  /* IE 10 */
}

.alert.flyover {
    margin-top: -100px;
    overflow: hidden;
    position: fixed;
    top: 0;
    opacity: 0.95;
    z-index: 1050;
    @include transition(margin-top 1s, opacity 0.8s linear);

    &.in {
        margin-top: -5px;
    }
    &.out {
        opacity: 0;
    }
}


/* XXS */
@media (max-width: #{$BOOTSTRAP-XS - 1}) {
    .list-vertical-align .family-member .member {
        margin-right: 0.5em;
    }
    .list-vertical-align .phone-number .comment {
        font-size: 14px;
    }
    .list-vertical-align .member,
    .list-vertical-align .number {
        & + .conceal-marker {
            margin-left: -0.4em;
        }
    }
    .place-detail .status {
        max-width: 4.25em;
    }

    .place-supervisor-detail .name {
        clear: both;
    }
    .place-supervisor-detail .control-buttons {
        margin-bottom: 1em;
    }
    .place-supervisor-detail .control-buttons .timestamp {
        font-size: 80%;
    }
    .place-supervisor-detail .phone-number:not(:last-child):after {
        content: "\a";
        white-space: pre;
    }
}
/* !XXS */
@media (min-width: #{$BOOTSTRAP-XS}) {
    .place-supervisor-detail .phone-number:not(:last-child) {
        margin-right: 0.5em;
    }
}
/* XS */
@media (max-width: #{$BOOTSTRAP-SM - 1}) {
    .owner h1 {
        margin-top: 0;
        font-size: 24px;
    }
    h2.owner {
        font-size: 24px;
    }
    #page.settings #matrix_form {
        th.header-public, th.header-authed {
            font-size: 85%;
        }
        .asset-value.idented {
            padding-left: 20px;
        }
    }
}
/* SM */
@media (min-width: #{$BOOTSTRAP-SM}) {
    .map > .embed-responsive {
        padding-bottom: 0;
        height: 400px;
    }
    .map iframe {
        border-radius: 4px;
        /*height: 300px;*/
    }
}
/* MD */
@media (min-width: #{$BOOTSTRAP-MD}) {
    .map > .embed-responsive {
        height: 450px;
    }
    .map iframe {
        /*height: 500px;*/
    }
}
/* LG */
@media (min-width: #{$BOOTSTRAP-LG - 30}) {
    .map > .embed-responsive {
        height: 500px;
    }
}
