
body, .same-as-body {
    font-family: $font-stack;
    font-size: 16px;
}

.last-name {
    font-variant: small-caps;
    font-variant-caps: small-caps;
}

.edit-buttons {
    float: right;
    margin-bottom: 1em;
}
.history-link {
    margin-right: 12px;
    padding-right: 3px;
    margin-left: 12px;
    padding-left: 3px;
    font-size: 16px;
}

.text-as-ps, a.text-as-ps:hover {
    color: $primary-color;
}
.text-muted .glyphicon {
    color: #999;
}
.text-label-primary, a.text-label-primary:hover {
    color: #428bca;
}
.text-label-success, a.text-label-success:hover {
    color: #5cb85c;
}
.text-label-info, a.text-label-info:hover {
    color: #5bc0de;
}
.text-label-warning, a.text-label-warning:hover {
    color: #f0ad4e;
}
.text-label-danger, a.text-label-danger:hover {
    color: #d9534f;
}

.btn-vert-space {
    margin-bottom: 5px;
}
.btn-vert-space-even,
.anchor-vert-space-even {
    margin-top: 2px;
    margin-bottom: 2px;
}
ul.dropdown-menu li img:first-child {
    margin-right: 0.5em;
}
.datepicker-dropdown {
    font-size: 13px;
}
.datepicker .disabled {
    color: #bbb !important;
}
.datepicker-btn-inline {
    top: 0px;
    cursor: pointer;
    color: #737373;
}


/* General header. */
header {
    color: #fff;
    background: $primary-color;
    padding: 0.5em 0;
    margin-bottom: 1em;
}
header:not(.home) {
    box-shadow: 0px 3px 5px 0px #d0d0d0;
}
header a {
    color: #fff;
}
header a:hover {
    color: #fff;
}
header .links {
    font-weight: bold;
    padding-top: 0.5em;
    text-align: right;
}

header #title, .same-as-title {
    font-family: $title-font-stack;
    font-size: 1.6em;
}
header #title a:hover {
    text-decoration: none;
}
header #subtitle {
    padding-top: 0.5em;
}

header .enveloppe span {
    font-size: 1.3em;
}

/* Header on home page */
header.home {
    margin-bottom: 0;
}
header.home .links {
    text-align: center;
}

header.home #title, .same-as-home-title {
    font-size: 5em;
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 0.25em;
}
header.home #title small {
    font-size: .3em;
    opacity: .5;
}
header.home #title small:hover {
    cursor: help;
}
header.home #subtitle {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2em;
    font-weight: bold;
}

header.home form.search {
    margin-bottom: 2em;
}


/* Search & Accommodation details */
#page.search form.search {
    margin-bottom: 1em;
}
.place-list {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}
.place-detail .name,
.place-list .name {
    font-weight: bold;
}
.place-detail .status,
.place-list .status:not(.anchor-group) {
    text-align: right;
}
.place-list .status {
    font-size: 0.8em;
    color: #666;
}
.place-detail .status,
.place-detail .place-blocking {
    float: right;
    width: 25%;
    margin-right: -5px;
    z-index: 10;
}
.place-overview .status {
    font-size: 0.6em;
}
.place-list .status .place-anchor {
    width: 2.5ex;
    height: 2.5ex;
    vertical-align: middle;
}
.place-list .status .place-anchor.glyphicon {
    top: 2px;
    font-size: 2.0ex;
}
.place-overview .place-anchor {
    width: 2.0ex;
    height: 2.0ex;
    vertical-align: bottom;
}
.anchor-group {
    margin-top: 3px;
}
.anchor-group-item {
    display: inline-block;
}
.anchor-group-item:not(:last-child) {
    margin-right: .5ex;
}
.place-detail .status .place-marker {
    color: $primary-color;
}
.place-detail .status .place-availability {
    color: #666;
    top: .1em;
}
.glyphicon-stack-normal > .place-availability {
    left: .3em;
}
.glyphicon-stack-large > .place-availability {
    left: .1em;
}
.place-list .avatar {
    text-align: center;
}
.place-list .avatar img {
    width: 100%;
    max-width: 100px;
}
.place-detail .owner .avatar {
    padding-right: 0;
}
.place-detail .place-blocking {
    clear: right;
}
.description-small {
    margin-top: 1em;
    margin-bottom: 1em;
}
.place-overview .description-short {
    display: inline-block;
    position: relative;
    top: .2ex;
}
.place-overview .description-short .glyphicon {
    position: relative;
    top: .3ex;
}
.place-overview .description-prefix {
    position: relative;
    top: .45ex;
}

.anchor-notify + .popover {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    opacity: 0.95;
    text-align: center;
}
.anchor-notify + .popover.bottom > .arrow {
    border-bottom-color: #bce8f1;
}
.anchor-notify + .popover.left > .arrow {
    border-left-color: #bce8f1;
}
.anchor-notify + .popover.bottom > .arrow:after {
    border-bottom-color: #d9edf7;
}
.anchor-notify + .popover.left > .arrow:after {
    border-left-color: #d9edf7;
}

.place-blocking-panel {
    position: absolute;
    right: 10px;
    z-index: 11;
    background-color: #f5f5f5;
    box-shadow: 0px -1px 5px 0px #d5d5d5;
}
.place-blocking-form.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.place-blocking-form .form-group {
    white-space: nowrap;
}
.place-blocking-form .form-group > .control-label {
    font-weight: normal;
}
.place-blocking-form.form-inline .form-group > .control-label {
    margin-bottom: 0;
    vertical-align: middle;
}
.place-blocking-form .form-group > div,
.place-blocking-form .form-group > div > input {
    display: inherit;
}
.place-blocking-form .form-group > div > input[type=text] {
    width: 9em;
}
.has-feedback .form-control.input-sm {
    padding-right: 30px;
}
.place-blocking-form .blocking-tip,
.place-blocking-form .blocking-errors {
    margin-bottom: 0;
}


/* Accomodation */
.owner {
    margin-bottom: 1em;
}
.owner img {
    width: 100%;
    max-width: 140px;
}
.owner .register {
    margin-top: 1em;
}
.register label, .login label {
    display: none;
}
.register .form-group:last-of-type {
    position: absolute;
    top: -10000px;  /* Hiding honeypot */
}
p.tip {
    font-size: 0.8em;
}
.map .leaflet-container {
    min-height: 300px;
}


/* Profile */
.profile-avatar img {
    width: 100%;
    max-width: 140px;
}
.profile-avatar {
    margin-right: 2em;
}
@media (max-width: 540px) {
    .owner-avatar {
        display: inline-block;
        position: relative;
        cursor: zoom-in;
    }
    .owner-avatar:after {
        font-family: 'Glyphicons Halflings';
        content: attr(data-content);
        position: absolute;
        bottom: -5px;
        right: -1px;
        color: #eee;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
    }
    .mfp-wrap {
        position: fixed !important;
        top: 0px !important;
    }
}

.list-vertical-align {
    min-height: 3.5em;
}
.list-vertical-align .details {
    margin-top: .5em;
    margin-bottom: 0em;
}
.list-vertical-align .member,
.list-vertical-align .number {
    font-weight: bold;
    margin: 0 1em 0 .5em;
}
.list-vertical-align .number {
    white-space: nowrap;
}

.authorized-user {
    position: relative;
    top: .1em;
}


/* Supervisors */
#tasks-header {
    cursor: pointer;
}
#tasks-header .switch {
    padding: 0px 2px 2px 2px;
}
#tasks .collapsing.initial {
    transition: height 0.1s; -webkit-transition: height 0.1s; -moz-transition: height 0.1s; -o-transition: height 0.1s;
}
#supervisors-wanted button.close {
    margin-left: 10px;
}

.countries-list > .row:not(.grid-header) > [class^="col-"]:first-child {
    padding-top: 8px;
    padding-bottom: 8px;
}
.country-code {
    width: 40px;
}
.place-supervisor-detail .control-buttons .timestamp:first-of-type {
    margin-top: 1em;
}
.place-supervisor-detail .control-buttons .timestamp {
    margin-bottom: 0px;
}
.place-supervisor-detail .description-short.has-content {
    margin: 10px 0px;
}
#check-place-check-errors .modal-dialog {
    overflow-y: initial !important;
}
#check-place-check-errors .modal-dialog .modal-body {
    max-height: 77vh;
    overflow-y: auto;
}


/* Footer */
footer {
    text-align: center;
    padding: 3em 0;
}

#home-explain.has-content {
    padding-top: 4em;
    padding-bottom: 3em;
}
.blog-post .post-title .post-published {
    position: relative;
    top: 0.7ex;
}


/* Forms */
.base-form {
    text-align: center;
    margin-top: 1em;
}
.base-form h4 {
    margin-top: 0;
}

#id_conditions_chosen .chosen-choices {
    padding: 2px;
    padding-left: 5px;
}
#id_conditions_chosen .chosen-choices input[type="text"] {
    height: 26px;
    width: 15px !important;
}

*[type="password"] + .progress,
*[type="password"] + .popover + .progress {
    margin-top: 2px;
}
*[type="password"] + .progress .password-verdict,
*[type="password"] + .popover + .progress .password-verdict {
    float: right;
    margin-right: 1ex;
}
header:not(.home) #subtitle,
.message,
.help-block,
*[type="password"] + .progress .password-verdict,
*[type="password"] + .popover + .progress .password-verdict {
    font-family: $font-stack;
}
.help-block {
    font-size: 0.9em;
}
.input-lg {
    font-size: 1.5em;
}

:invalid {
    box-shadow: none;
    outline: 0;
}
.form-touched:invalid {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #f77;
    outline: 0; /* IE 10 */
}

.alert.flyover {
    margin-top: -100px;
    overflow: hidden;
    position: fixed;
    top: 0;
    opacity: 0.92;
    z-index: 1050;
    transition: margin-top 1s, opacity .8s linear; -webkit-transition: margin-top 1s, opacity .8s linear; -moz-transition: margin-top 1s, opacity .8s linear; -o-transition: margin-top 1s, opacity .8s linear;
}
.alert.flyover.in {
    margin-top: -13px;
}
.alert.flyover.out {
    opacity: 0;
}


/* XXS */
@media (max-width: 479px) {
    .blog-post .post-title a:after {
        display: table;
        content: " ";
        clear: right;
    }
    .blog-post .post-title .post-published {
        top: 0.85ex;
    }

    .list-vertical-align .member {
        margin-right: .5em;
    }
    .list-vertical-align .details .comment {
        font-size: 14px;
    }

    .place-supervisor-detail .name {
        clear: both;
    }
    .place-supervisor-detail .control-buttons {
        margin-bottom: 1em;
    }
    .place-supervisor-detail .control-buttons .timestamp {
        font-size: 80%;
    }
    .place-supervisor-detail .phone-number:not(:last-child):after {
        content: "\a";
        white-space: pre;
    }
}
/* !XXS */
@media (min-width: 480px) {
    .place-supervisor-detail .phone-number:not(:last-child) {
        margin-right: 0.5em;
    }
}
/* XS */
@media (max-width: 767px) {
    header.home #title {
        font-size: 4em;
    }
    .owner h1 {
        margin-top: 0;
        font-size: 24px;
    }
    h2.owner {
        font-size: 24px;
    }
}
/* SM */
@media (min-width: 768px) {
    .map > .embed-responsive {
        padding-bottom: 0;
        height: 400px;
    }
    .map iframe {
        border-radius: 4px;
        /*height: 300px;*/
    }
}
/* MD */
@media (min-width: 992px) {
    header.home form.search {
        margin-bottom: 2em;
    }
    header.home #title {
        margin-top: 1em;
        padding-bottom: 0.5em;
    }
    .map > .embed-responsive {
        height: 450px;
    }
    .map iframe {
        /*height: 500px;*/
    }
}
/* LG */
@media (min-width: 1170px) {
    header.home form.search {
        margin-bottom: 5em;
    }
    header.home #title {
        margin-top: 1em;
        padding-bottom: 1em;
    }
    .map > .embed-responsive {
        height: 500px;
    }
}
