.blog {
    width: 100%;

    .title {
        font-size: 2.2em;
        font-weight: bold;
        text-align: center;
        padding: 1.5em 0;
    }

    img {
        text-align: center;
        margin: 1em auto;
    }

    article {
        margin-top: 2em;
        margin-bottom: 5em;
    }
}
