/* Header on home and hero pages */
header.hero {
    margin-bottom: 0;
}
header.hero .navigator {
    max-width: 1140px;

    a:not(.linkicon) {
        font-weight: bold;
    }
    .navskip > a {
        &:focus, &:active {
            top: 0;
        }
    }
}

header.hero #title, .same-as-hero-title {
    font-size: 5em;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 0.25em;
}
header.hero #title small {
    font-size: 0.3em;
    opacity: 0.5;
    &:hover {
        cursor: help;
    }
}
header.hero #subtitle {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2em;
    font-weight: bold;
}

header.hero form.search {
    margin-bottom: 2em;
}

/* Footer on home page */
#home-explain.has-content {
    padding-top: 4em;
    padding-bottom: 3em;
}
.blog-post .post-title .post-published {
    position: relative;
    top: 0.7ex;
}

/* NANO */
@media (max-width: 319px) {
    header.hero #title {
        font-size: 20vw;
    }
}
/* XXS */
@media (max-width: #{$BOOTSTRAP-XS - 1}) {
    .blog-post .post-title a:after {
        display: table;
        content: " ";
        clear: right;
    }
    .blog-post .post-title .post-published {
        top: 0.85ex;
    }
}
/* !XSS */
@media (min-width: #{$BOOTSTRAP-XS}) {
    header.hero .navigator {
        .nav-session.out {
            position: absolute;
            left: 20%;
        }
        .nav-profile.out {
            position: absolute;
            right: 20%;
        }
    }
}
/* XS */
@media (max-width: #{$BOOTSTRAP-SM - 1}) {
    header.hero #title {
        font-size: 4em;
    }
    header.hero #subtitle {
        margin-top: 0.5em;
    }
    #home-explain.has-content {
        padding-top: 2em;
    }
}
/* SM */
@media (min-width: #{$BOOTSTRAP-SM}) {
}
/* MD */
@media (min-width: #{$BOOTSTRAP-MD}) {
    header.hero form.search {
        margin-bottom: 2em;
    }
    header.hero #title {
        margin-top: 1em;
        padding-bottom: 0.5em;
    }
}
/* LG */
@media (min-width: #{$BOOTSTRAP-LG - 30}) {
    header.hero form.search {
        margin-bottom: 5em;
    }
    header.hero #title {
        margin-top: 1em;
        padding-bottom: 1em;
    }
}


.highlight-orange:hover img, .highlight-orange:focus img {
    background: radial-gradient(closest-side, rgba(255,119,17,1), rgba(255,119,17,0));
}
.highlight-blue:hover img, .highlight-blue:focus img {
    background: radial-gradient(closest-side, rgba(66,139,202,1), rgba(66,139,202,0));
}
.highlight-custom:hover, .highlight-custom:focus, .highlight-custom:active {
    outline: 0;
}
.highlight-custom img {
    padding-bottom: 1px;
    border-bottom: solid 2px transparent;
}
.highlight-custom:focus img {
    border-bottom: solid 2px $color-brand-aux;
}

/* XXS */
@media (max-width: #{$BOOTSTRAP-XS - 1}) {
    .social-links {
        &:not(.social-contact) {
            &.lg-icons {
                height: 80px;
                line-height: 80px;
            }
            &.sm-icons {
                padding-top: 9px;
            }
        }
        &.social-contact {
            padding-right: 5px;
            padding-top: 9px;
            text-align: center;
        }
    }
    .social-links.social-contact.sm-icons {
        width: 42px;
    }
    .social-links.social-contact.lg-icons {
        width: 74px;
    }
    .social-links.social-contact a:not(:last-child) img {
        margin-bottom: 9px;
    }
    .social-links.social-contact .highlight-custom img {
        padding-bottom: 0px;
        border-bottom: 0;
        padding-right: 2px;
        border-right: solid 2px transparent;
    }
    .social-links.social-contact .highlight-custom:focus img {
        border-right: solid 2px $color-brand-aux;
    }
    .social-links.social-networks.sm-icons a img {
        margin-right: 12px;
    }
    .social-links.social-networks.lg-icons a img {
        margin-right: 15px;
    }
}
/* !XXS */
@media (min-width: #{$BOOTSTRAP-XS}) {
    .social-links {
        height: 80px;
        line-height: 80px;
    }
    .social-links.social-contact a img,
    .social-links.social-networks a img {
        margin-left: 9px;
        margin-right: 9px;
    }
    .social-links.social-contact.lg-icons a img,
    .social-links.social-networks.lg-icons a img {
        margin-left: 12px;
        margin-right: 12px;
    }
    .social-links.social-contact a.narrow img,
    .social-links.social-networks a.narrow img {
        margin-left: 3px;
        margin-right: 3px;
    }
    .social-links.social-contact a:last-child img {
        margin-right: 0;
    }
    .social-links.social-networks a:first-child img {
        margin-left: 0;
    }
}
