
/* Message */
.message {
    position: relative;
    color: white;
    font-family: $font-stack-hint;
    font-weight: bold;
    font-size: 0.85em;
    letter-spacing: 0.015em;
    padding: 0.8em 2em;
    text-align: center;
    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.6);

    &.debug   { background-color: #aa4a86; }
    &.info    { background-color: #40708a; }
    &.success { background-color: #4cae4c; }
    &.warning { background-color: #d99c5f; }
    &.error   { background-color: #d95f5f; }

    html.js-enabled &.eminent {
        position: fixed;
        top: 50% !important;
        left: 30% !important;
        width: 40% !important;
        border: solid 4px #bbb;
        border-radius: 3px;
        z-index: 1030;
        opacity: 0.98;
        transition: top 1.5s ease-in, opacity 2s;

        &.out {
            top: -40px !important;
            opacity: 0;
        }

        /* XS */
        @media (max-width: #{$BOOTSTRAP-SM - 1}) {
            display: none;
        }
    }

    a {
        color: white;
        opacity: 0.8;
        text-decoration: underline;

        &:focus,
        &:active,
        &:hover {
            opacity: 1;
        }
    }

    .close {
        position: absolute;
        right: 0.5em;
        top: 8px;
        font-size: 1.6em;
        color: black;
        opacity: 0.3;
        text-shadow: rgba(0,  0,  0,  0.2) -2px  0,   rgba(0,  0,  0,  0.2) 0  -2px,
                     rgba(255,255,255,0.2)  2px  0,   rgba(255,255,255,0.2) 0   2px,
                     rgba(0,  0,  0,  0.2) -2px -2px, rgba(255,255,255,0.2) 2px 2px;
        &:focus,
        &:active,
        &:hover {
            color: white;
            opacity: 0.6;
            outline: none;
        }
    }
}

.top-notice {
    margin-bottom: 1em;

    p, form {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
