/* XXS */

@media (max-width: 479px) {
    .visible-xxs-block {
        display: block !important;
    }
    .visible-xxs-inline {
        display: inline !important;
    }
    .visible-xxs-inline-block {
        display: inline-block !important;
    }
    .hidden-xxs {
        display: none !important;
    }
    @for $i from 1 through 12 {
        .col-xxs-#{$i} {
            float: left; width: $i / 12 * 100%;
        }
        .col-xs-push-#{$i} {
            left: auto;
        }
        .col-xs-pull-#{$i} {
            right: auto;
        }
    }
}
