{# 2018-05-28 #}
{% load i18n %}

    {% comment %}
        This is the initial privacy policy document. It is converted to a flatpage by the "policy_as_flatpage" migration in "Core".
    {% endcomment %}
    <style type="text/css">
        [role="heading"][aria-level="4"] {
            margin-bottom: 20px;
        }
        [role="heading"][aria-level="4"]:not(:first-child) {
            margin-top: 20px;
        }
    </style>

    <p>
    Tiu ĉi dokumento celas priskribi la tipojn de viaj informoj kaj datenoj kiujn ni
    kolektas, la manierojn en kiuj tiuj datenoj estas uzataj (krom la evidenta celo
    provizi al vi “Pasportan Servon”), kun kiu ili estas kundividitaj, kaj kiajn
    opciojn vi havas rilate la privatecon de viaj datenoj.
    La diversaj partoj de la dokumento klarigas kiamaniere ni kolektas la informojn
    kaj kiamaniere ni pritraktas ilin.
    </p>
    <p>
    De tempo al tempo ni povas ĝustigi aŭ modifi la kondiĉojn kaj la tekston de tiu
    ĉi privateca politiko; en tiuj okazoj ni aktualigos la daton ekde kiu la teksto
    efikas kaj sciigos vin pri la ŝanĝoj.
    Via daŭra uzado de Pasporta Servo indikas konsenton je la kolektado kaj uzado de
    la datenoj rilataj al vi, kiel priskribite en tiu ĉi dokumento.
    </p>
    <br />

    <section>
        <div class="list-group" id="{% trans "collected-information" context "URL" %}">
            <div class="list-group-item list-group-item-info">
                <a href="#{% trans "collected-information" context "URL" %}" class="linking-grip" aria-hidden="true">
                    <span class="fa fa-link"></span>
                </a>
                <strong role="heading" aria-level="3" id="title_collected_information">
                    Informoj kiujn ni kolektas dum via uzado de la retejo
                </strong>
                <br class="visible-xxs-inline-block" />
                <a href="#{% trans "shared-information" context "URL" %}">
                    <span class="fa fa-chevron-down pull-right" aria-hidden="true"></span>
                    <span class="sr-only">Salti al sekva sekcio</span>
                </a>
                <br class="visible-xxs-inline-block" />
            </div>
        </div>
        <blockquote aria-labelledby="#title_collected_information">
            <div role="heading" aria-level="4">
                <strong><em>Informoj kiujn vi propravole kundividas kun ni:</em></strong>
            </div>
            <ul>
                <li>
                <strong>Datenoj por konto.</strong>
                Kiam vi registriĝas ĉe Pasporta Servo, ni bezonas scii viajn uzanto-nomon
                kaj retpoŝtan adreson.
                Notu ke ekzistas aĝlimo por ekuzi Pasportan Servon kaj vi devas esti almenaŭ
                16-jaraĝa en la momento de registriĝo.
                </li>
                <li>
                <strong>Datenoj por profilo.</strong>
                Vi povas aldoni informojn pri vi mem; tiuj informoj inkluzivas nomo(j)n,
                genron, naskiĝdaton, sin-priskribon, kaj profilbildojn.  Provizo de tiuj ĉi
                datenoj estas nedeviga, krom esceptoj detaligitaj sube. Ili konsistigos
                parton de via profilo kaj estos videblaj al ĉiuj aliaj uzantoj de la retejo
                (kun la escepto de naskiĝdato: ni montras vian aĝon sed ne la ekzaktan
                daton [*]); kelkaj datumeroj, nome la profilbildo kaj la persona(j) nomo(j),
                estas publike videblaj ankaŭ al vizitantoj de la retejo kiuj ne estas
                registriĝintaj. Vi havas la eblecon mal-publikigi tiujn ĉi informojn.
                <em>Esceptoj:</em>
                </li>
                <ul>
                    <li>
                    Se vi emas ĉiĉeroni aŭ trinkejumi kun gastoj, vi devos provizi vian
                    nomon kaj naskiĝdaton. Aldone, vi devas havi almenaŭ 16 jarojn.
                    </li>
                    <li>
                    Se vi emas gastigi, vi devos provizi vian nomon kaj
                    naskiĝdaton. Aldone, vi devas havi almenaŭ 17 jarojn.
                    </li>
                    <li>
                    Se vi emas gastigi kaj esti aperigita en la presita libreto, vi
                    devos krom la supraj informoj provizi ankaŭ vian genron.
                    </li>
                </ul>
                <li>
                <strong>Kontakto-informoj.</strong>
                Vi povas aldoni al via profilo por-publikan retpoŝtan adreson kaj
                telefonnumerojn. Vi havas la kontrolon pri kie ĉiu el tiuj ĉi datumeroj
                aperu kaj kiu vidu ilin [*].
                </li>
                <li>
                <strong>Datenoj de loĝejo(j).</strong>
                Aldonante loĝejon, vi povas indiki la adreson, la kondiĉojn en via loĝejo,
                kaj liberformatan priskribon.  Provizo de tiuj ĉi datenoj estas nedeviga,
                krom esceptoj detaligitaj sube.  Nur uzantoj eksplicite menciitaj fare de
                vi povos vidi vian plenan adreson [*]. Via loĝlando estas publike videbla
                ankaŭ al vizitantoj de la retejo kiuj ne estas registriĝintaj; vi havas la
                eblecon mal-publikigi tiun ĉi informon. La informojn pri viaj kunloĝantoj,
                kiujn vi mem provizas (nomo(j)n, genron, naskiĝdaton, kaj tiel plu), vidos
                la eksplicite menciitaj uzantoj kaj, se vi ebligos tion en la agordoj,
                ankaŭ aliaj registriĝintaj uzantoj. Se la kunloĝanto mem estas uzanto de
                la retejo, la reguloj rilate datenojn de profilo aplikiĝas.
                <em>Esceptoj:</em>
                </li>
                <ul>
                    <li>
                    Vi devas indiki la landon en kiu la loĝejo troviĝas kaj la geografian
                    pozicion de la loĝejo sur la mapo.
                    </li>
                    <li>
                    Se vi emas ĉiĉeroni aŭ trinkejumi kun gastoj, vi devos provizi la
                    nomon de la urbo.
                    </li>
                    <li>
                    Se vi emas gastigi, vi devos provizi la nomon de la urbo, la nomon
                    de la proksima granda urbo se via loĝejo fakte troviĝas en urbeto
                    aŭ vilaĝo, kaj la adreson de la loĝejo.
                    </li>
                    <li>
                    En iuj landoj la provinco aŭ subŝtato estas nepra parto de adreso;
                    se via loĝejo troviĝas en tia lando, vi devos provizi ankaŭ tiun
                    ĉi informon kune kun la nomo de la urbo.
                    </li>
                </ul>
                <li>
                <strong>Korespondaĵoj kun aliaj uzantoj.</strong>
                Kontaktado de uzantoj de la retejo estas efektivigata pere de interna
                komuniko-sistemo. Por ebligi tion, ni kolektas kaj konservas la enhavon
                de la mesaĝoj en nia sistemo.
                </li>
                <li>
                <strong>Aliaj informoj.</strong>
                Uzante la serĉo-mekanismojn de la retejo, vi sciigas al ni ŝlosilvortojn
                laŭ kiuj trovi profilojn de aliaj uzantoj.
                </li>
                <li>
                <strong>[*]</strong>
                Datumerojn markitajn per steleto povas ĉiam vidi la landaj organizantoj
                de via lando, indikita per la lokiĝo de via loĝejo. Pli detale en la sekcio
                <a href="#{% trans "shared-information" context "URL" %}">Kundivido de Informoj</a>
                sube.
                </li>
            </ul>

            <div role="heading" aria-level="4">
                <strong><em>Informoj kiuj estas kolektataj aŭtomate:</em></strong>
            </div>
            <ul>
                <li>
                <strong>Protokolaj datenoj pri uzado.</strong>
                Interagoj kun la retejo estas registritaj en protokolo fare de la
                retservilo, eĉ kiam vi ne estas ensalutinta aŭ ne kreis konton ĉe
                Pasporta Servo. La registritaj informoj inkluzivas
                <abbr title="Unuforma Rimeda Lokindiko: adreso de reta risurco, retadreso">URL</abbr>-ojn
                kiujn vi aliris, la URL-on de la paĝo plusendinta vin al PS, tempon
                de aliro, tipon de retumilo kaj en ĝi agordita(j)n lingvo(j)n,
                operaciumon, kaj
                <a href="http://www.ais-sanmarino.org/kursoj/s1/interr1/l02.htm" rel="external noreferrer">IP-adreso</a>n.
                </li>
                <li>
                <strong>Lokigo.</strong>
                Iuj funkcioj de la retejo povas provi diveni vian geografian lokigon; tiu
                ĉi informo estas uzata nur momente kaj ne estas registrita aŭ en ajna alia
                maniero konservita en la datumbazo.
                </li>
                <li>
                <strong>Datenoj sekve de mezurado.</strong>
                Diversaj teĥnologioj, kiel kuketoj, gvato-rastrumeroj (angle: <i lang="en">web beacons</i>),
                kaj spuro-ligiloj (angle: <i lang="en">tracking links</i>), ebligas al ni
                kolekti specifajn statistikajn datenojn kaj sekve komprenon de uzado de la
                retejo, monitoradon de agado, mezuradon de vizitoj, kaj rekonon ĉu retpoŝta
                mesaĝo atingis adresaton kaj estis legita. Por pliaj informoj bonvole vidu
                la sekciojn <a href="#{% trans "cookies" context "URL" %}">Kuketoj</a> kaj
                <a href="#{% trans "measurement" context "URL" %}">Mezurado</a> sube.
                </li>
            </ul>

            <div role="heading" aria-level="4">
                <strong><em>Informoj kiuj originas de eksteraj provizantoj:</em></strong>
            </div>
            <ul>
                <li>
                En la okazo kiam vi alvenas al la retejo de Pasporta Servo pere de
                plusendilo sur alia retpaĝo, la
                <abbr title="Unuforma Rimeda Lokindiko: adreso de reta risurco, retadreso">URL</abbr>
                de tiu paĝo estas registrita en la retservila protokolo.
                </li>
            </ul>
        </blockquote>
    </section>

    <section>
        <div class="list-group" id="{% trans "shared-information" context "URL" %}">
            <div class="list-group-item list-group-item-info">
                <a href="#{% trans "shared-information" context "URL" %}" class="linking-grip" aria-hidden="true">
                    <span class="fa fa-link"></span>
                </a>
                <strong role="heading" aria-level="3" id="title_shared_information">
                    Kundivido de la informoj
                </strong>
                <br class="visible-xxs-inline-block" />
                <a href="#{% trans "cookies" context "URL" %}">
                    <span class="fa fa-chevron-down pull-right" aria-hidden="true"></span>
                    <span class="sr-only">Salti al sekva sekcio</span>
                </a>
                <a href="#{% trans "collected-information" context "URL" %}">
                    <span class="fa fa-chevron-up pull-right" aria-hidden="true"></span>
                    <span class="sr-only">Salti al antaŭa sekcio</span>
                </a>
                <br class="visible-xxs-inline-block" />
            </div>
        </div>
        <blockquote aria-labelledby="#title_shared_information">
            <div role="heading" aria-level="4">
                <strong><em>Inter gastigantoj kaj gastoj</em></strong>
            </div>
            <p>
            Dum certaj datumeroj, ekzemple via plena adreso aŭ la telefonnumeroj, estas
            kutime kaŝitaj de la aliaj uzantoj de la retejo (krom la landaj organizantoj
            de via lando), vi povas elekti malkaŝi ilin por specifa uzanto pere de la
            paĝo ‘Permesitaj Uzantoj’ de via loĝejo. Ili restos videblaj al tiu uzanto
            dum kiam ties nomo daŭre estas en la listo.
            </p>

            <div role="heading" aria-level="4">
                <strong><em>Kun landaj organizantoj</em></strong>
            </div>
            <p>
            La plenajn informojn en via profilo, inkluzive de naskiĝdato, la
            kontakto-informojn (kiel telefonnumeroj aŭ por-publika retpoŝta adreso), la
            plenan adreson de via loĝejo kaj la detalojn de la kunloĝantoj, povas ĉiam
            vidi landaj organizantoj (LO-j) de la lando en kiu la loĝejo situas.
            </p>
            <p>
            Se vi havas kelkajn loĝejojn, ni diru en lando Ώξ kaj en lando Έφ, tiam LO-j
            de Ώξ vidos la datenojn de via profilo kaj de via loĝejo en Ώξ sed ne povos
            vidi la ne-publikajn informojn pri loĝejo en Έφ; same, sed inverse, por LO-j
            de Έφ.
            </p>
            <p>
            La nomoj de la landaj organizantoj por ĉiu lando kaj ligiloj al iliaj profiloj
            aperas en la <a href="{% url 'supervisors' %}">paĝo LO-j</a>.
            </p>

            <div role="heading" aria-level="4">
                <strong><em>Kun ĝenerala publiko</em></strong>
            </div>
            <p>
            Kelkaj partoj de via profilo, nome via(j) persona(j) nomo(j), via profilbildo,
            kaj via lando estas konsiderataj kiel via publika imago kiu estas alirebla fare
            de ajna vizitanto de la retejo eĉ se tiu ne estas registriĝinta kaj pere de
            interretaj iloj (ekzemple, ret-serĉiloj). En la agordoj de via profilo vi povas
            elekti mal-publikigi tiujn ĉi informojn; tiuokaze via nomo ligita al Pasporta
            Servo ne aperos en serĉiloj kaj aliro al la datenoj postulos registriĝon en la
            retejo.
            </p>

            <div role="heading" aria-level="4">
                <strong><em>Kun eksteraj organizoj</em></strong>
            </div>
            <p>
            Krom la sube detaligitaj okazoj, ni ne kundividos viajn informojn kun eksteraj
            provizantoj de servoj aŭ aŭtoritatoj.
            </p>
            <ul>
                <li>
                Cele al faciligi la kompleksan taskon de transportado kaj administrado
                de retpoŝtaj mesaĝoj, ni utiligas la servon de la firmao SendGrid.
                La datenoj estas konservitaj sur serviloj en Usono; SendGrid, Inc
                <a href="https://www.privacyshield.gov/participant?id=a2zt0000000TRktAAG"
                   rel="external noreferrer">estas atestita</a>
                kadre de la Privatecaj Ŝirmoj Usono–EU kaj Usono–Svislando.
                SendGrid utiligas kromajn eksterajn prilaborantojn por provizi la
                retpoŝto-pritraktajn servojn. En la okazo kiam SendGrid transdonas la
                datenojn al kroma prilaboranto, kaj pritraktado de la datenoj ne laŭas
                la principojn de la Privateca Ŝirmo, la respondeco kuŝos ĉe SendGrid.
                </li>
                <li>
                La ret-serĉiloj utiligas indeksrobotojn por krei indekson de interreto,
                kaj tiuj iloj rajtas trarigardi la publikajn paĝojn de ajna retejo,
                inkluzive de Pasporta Servo. Inter tiuj paĝoj estas inkluzivita via
                por-publika profilo, kiel detaligite supre ĉe “Kundivido de informoj kun
                ĝenerala publiko”. Vi rajtas elekti mal-publikigi tiujn ĉi datenojn.
                Kaze kiam vi ŝanĝas la agordon, iom da tempo povas pasi ĝis kiam la
                indekso de serĉilo estos ĝisdatigita. Dume la informoj daŭre restos
                troveblaj. La serĉilo povas ankaŭ reteni paĝojn en kaŝmemoro, eĉ se tiuj
                ne plu estas alireblaj; ni ne povas influi tion nek ŝanĝi la metodojn de
                indeksado. En iuj kazoj vi rajtus peti forigon de la ne-publikaj informoj
                el la indekso &mdash; por tio sinturnu vin rekte al la firmao funkciiganta
                la serĉilon.
                </li>
                <li>
                Kun la intenco subteni sekurecon kaj laŭleĝan agadon, ni povas pludoni
                privatajn informojn al juraj instancoj aŭ aŭtoritatoj se ni opinias ke tio
                estas pravigeble necesa por konformi al la aplikeblaj leĝoj, regularoj,
                juraj procesoj aŭ registaraj postuloj, inkluzive de postuloj pri nacia
                sekureco. Ni rezervas la rajton tion fari ankaŭ por gardi la observon de
                niaj politikoj kaj kondiĉoj de uzo fare de uzantoj, por protekti la
                sekurecon kaj integrecon de niaj servoj, kaj por ŝirmi Pasportan Servon,
                niajn uzantojn, kaj la ĝeneralan publikon forde damaĝa aŭ kontraŭleĝa agado.
                </li>
            </ul>

            <div role="heading" aria-level="4">
                <strong><em>Jura respondeco</em></strong>
            </div>
            <p>
            Pri la sekureco de viaj datenoj kaj ilia laŭa traktado laŭleĝe respondecas la
            Tutmonda Esperantista Junulara Organizo (TEJO): Nieuwe Binnenweg 176,
            <span style="white-space: nowrap">3015 BJ</span> Rotterdam, Nederlando.
            </p>
        </blockquote>
    </section>

    <section>
        <div class="list-group" id="{% trans "cookies" context "URL" %}">
            <div class="list-group-item list-group-item-info">
                <a href="#{% trans "cookies" context "URL" %}" class="linking-grip" aria-hidden="true">
                    <span class="fa fa-link"></span>
                </a>
                <strong role="heading" aria-level="3" id="title_cookies">
                    Kuketoj kaj retumila stokejo
                </strong>
                <br class="visible-xxs-inline-block" />
                <a href="#{% trans "measurement" context "URL" %}">
                    <span class="fa fa-chevron-down pull-right" aria-hidden="true"></span>
                    <span class="sr-only">Salti al sekva sekcio</span>
                </a>
                <a href="#{% trans "shared-information" context "URL" %}">
                    <span class="fa fa-chevron-up pull-right" aria-hidden="true"></span>
                    <span class="sr-only">Salti al antaŭa sekcio</span>
                </a>
                <br class="visible-xxs-inline-block" />
            </div>
        </div>
        <blockquote aria-labelledby="#title_cookies">
            <p>
            Ni uzas teĥnologiojn nomatajn kuketoj kaj en-retumila stokado. Kuketoj estas
            etaj dosieroj konservitaj helpe de la retumilo sur la aparato, kiun vi uzas
            por aliri Pasportan Servon (ekz., via komputilo aŭ via poŝtelefono), kaj
            estas transsenditaj reen al la servilo de PS dum vi uzas la servon.
            La stokejo provizas similan funkcion, sed permesas konservi pli da informoj
            kiuj aldone ĉiam restas loke ene de via retumilo.
            </p>

            La kuketoj permesas al ni:
            <ul>
                <li>Daŭre identigi vin dum vi estas konektita al la retejo kaj ankoraŭ
                    ne elsalutis (<em>esenca rolo</em>);
                <li>Konservi viajn preferojn (<em>esenca rolo</em>);
                <li>Kompili statistikojn pri uzmanieroj de la retejo (vidu la sekcion
                    <a href="#{% trans "measurement" context "URL" %}">Mezurado</a> sube).
            </ul>
            La retumila stokejo permesas al ni:
            <ul>
                <li>Konservi viajn preferojn (<em>esenca rolo</em>).
            </ul>

            <p>
            Kuketoj kaj stokejo rilataj al Pasporta Servo povas esti forviŝitaj pere de
            via retumilo; kutime tio fareblas en la sekcio ‘Privateco’ de la retumilaj
            agordoj. Aldone, kuketoj povas esti tute malebligitaj (por ajnaj kuketoj aŭ
            nur tiuj de PS). Tamen, tia agordo malebligos uzi plejparton de la funkcioj
            de la retejo, ĉar ili estas dependaj de la ebleco identigi la ensalutitan
            personon, kio siavice estas dependa de speciala “sesio-kuketo”.
            </p>
        </blockquote>
    </section>

    <section>
        <div class="list-group" id="{% trans "measurement" context "URL" %}">
            <div class="list-group-item list-group-item-info">
                <a href="#{% trans "measurement" context "URL" %}" class="linking-grip" aria-hidden="true">
                    <span class="fa fa-link"></span>
                </a>
                <strong role="heading" aria-level="3" id="title_measurement">
                    Teĥnologioj de mezurado
                </strong>
                <br class="visible-xxs-inline-block" />
                <a href="#{% trans "cookies" context "URL" %}">
                    <span class="fa fa-chevron-up pull-right" aria-hidden="true"></span>
                    <span class="sr-only">Salti al antaŭa sekcio</span>
                </a>
                <br class="visible-xxs-inline-block" />
            </div>
        </div>
        <blockquote aria-labelledby="#title_measurement">
            <p>
            Sur la retejo de Pasporta Servo estas kompilataj statistikoj pri la uzmanieroj.
            Tiaj statistikoj helpas al ni kompreni kiel vizitantoj interagas kun la retejo
            kaj kiuj ŝanĝoj plibonigus la uzon.
            Tion ni faras helpe de la servo Google Analytics; por funkciigi ĝin, la firmao
            Google &ndash; helpe de via retumilo &ndash; konservas kuketojn kun hazardaj
            numeroj sur la aparato, kiun vi uzas por aliri PS-n.
            Tiuj kuketoj estas ĉiam validaj nur por la retejo de PS kaj influas neniujn
            aliajn retejojn nek programojn sur via aparato.
            </p>
            <p>
            La kolektitaj datenoj estas anonimaj: viaj personaj detaloj ne estas
            inkluzivitaj kaj via IP-adreso estas tranĉita (nur parto de ĝi estas uzata
            por la statistikoj). La datenoj estas konservitaj sur la serviloj de Google
            en Usono; se postulitaj fare de juraj instancoj, Google povas transdoni ilin.
            Ni ne povas influi tion. Google, LLC
            <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI"
               rel="external noreferrer">estas atestita</a>
            kadre de la Privatecaj Ŝirmoj Usono–EU kaj Usono–Svislando.
            </p>

            <p>
            La jenaj kuketoj estas konservitaj:
            </p>
            <table class="table small">
            <thead>
                <tr>
                    <th class="text-nowrap">Nomo de kuketo</th>
                    <th class="text-nowrap">Celo de kuketo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_ga, _gid</td>
                    <td>
                        Ebligas distingi vin dis de aliaj vizitantoj, noti ĉu estas via unua
                        vizito al la retejo, kaj registri la manieron en kiu vi uzas la retejon,
                        per anonimigita metodo.
                    </td>
                </tr>
                <tr>
                    <td>_gat</td>
                    <td>
                        Ebligas kalkuladon de suma nombro de vizitantoj kaj limigon de trafiko
                        rilata al la statistika mezurado.
                    </td>
                </tr>
            </tbody>
            </table>

            <p>
            Ni ne uzas la reklamajn servojn de Google, nek kombinas aliajn ĝiajn servojn kun
            la datenoj el Google Analytics. Sekve tiuj ĉi informoj ne povas esti uzitaj fare
            de Google por identigi vin tra ĝiaj reklamaj retoj (ekzemple, por personigitaj
            reklamoj). Ni ankaŭ ne kundividas la datenojn derivitajn el la menciitaj kuketoj
            kun kromaj eksteraj liverantoj.
            </p>
            <p>
            Por malebligi la uzon de Google Analytics sur via konto ĉe Pasporta Servo,
            <span class="fa fa-sign-in text-primary" aria-hidden="true"></span>
            <a href="{% url 'login' %}" target="privacy_actions">ensalutu</a>
            kaj ĉe la
            <span class="fa fa-cogs text-primary" aria-hidden="true"></span>
            <a href="{% url 'profile_settings_shortcut' %}#{% trans "privacy" context "URL" %}"
               target="privacy_actions">agordoj de via profilo</a>,
            malelektu “{% trans "I agree to be included by usage measurement tools." %}”.
            Tiamaniere, neniuj statistikoj pri via uzado de la retejo estos kolektataj,
            kie ajn vi ne ensalutus.
            Se vi ne jam havas konton,
            <a href="{% url 'register' %}" target="privacy_actions">registriĝu</a>, kaj
            sekve <a href="{% url 'profile_create' %}" target="privacy_actions">kreu profilon</a>.
            Se vi deziras ke la ilo ne uzu viajn informojn, sen krei konton kaj profilon
            ĉe Pasporta Servo, vi povas instali la
            <a href="http://tools.google.com/dlpage/gaoptout"
               rel="external noreferrer">ellasan retumilan aldonaĵon</a>
            provizitan far Google aŭ ŝalti la agordon “Ne Spuru Min” (<i lang="en">“Do Not Track”</i>,
            DNT, angle) ene de via retumilo se ĝi subtenas tion. Kutime tiu ĉi opcio
            troviĝas en la sekcio ‘Privateco’ de la retumilaj agordoj. Ambaŭ paŝoj
            efikos nur por la retumilo ene de kiu vi instalis la aldonaĵon aŭ kies
            agordojn vi modifis.
            </p>
        </blockquote>
        <blockquote>
            <p>
            Nia provizanto de retpoŝtaj servoj SendGrid aparte registras la
            pritrakto-ŝtupojn de ĉiu retpoŝta mesaĝo sendita fare de aŭ per Pasporta
            Servo, kaj kompilas statistikojn pri uzitaj poŝtprogramoj kaj manieroj
            legi la mesaĝojn. Tio helpas al ni adapti la formaton de la mesaĝoj tiel
            ke ili pli taŭgus al la poŝtprogramo kiun vi uzas. Krome la registrado
            de la ŝtupoj permesas al ni spuri la kialojn en la okazo kiam mesaĝo ne
            atingas adresaton.
            </p>
            <p>
            Ambaŭ tiuj taskoj estas efektivigataj per spuro-ligiloj, kiuj enhavas
            unikan identigilon por ĉiu retpoŝta mesaĝo sendita fare de aŭ per PS.
            Tia identigilo konsistas el kombino de literoj kaj ciferoj, kaj estas
            atribuita al la mesaĝo far SendGrid en momento de ĝia sendo. La identigilo
            ne enhavas viajn personajn detalojn nek ajnan parton el la enhavo de la
            mesaĝo.
            </p>

            <p>
            La menciitaj ligiloj ĉiam komenciĝas per:
            </p>
            <table class="table small">
            <tbody>
                <tr>
                    <td>
                        http://ligilo.pasportaservo.org/wf/
                    </td>
                </tr>
            </tbody>
            </table>

            <p>
            Aparte de spuro-ligiloj, SendGrid utiligas gvato-rastrumerojn (angle:
            <i lang="en">web beacons</i>) por scii ĉu la retmesaĝo atingis la adresaton
            kaj ĉu ĝi estis malfermita. Gvato-rastrumeroj estas travideblaj bilderoj
            aldonitaj al la enhavo de la mesaĝo kaj funkcias en la sama maniero kiel
            la spuro-ligiloj; ili estas distribuataj per la sama retadreso kiel la
            menciita ĉi-supre.
            </p>
        </blockquote>
    </section>
