@font-face {
    font-family: Geotica;
    src: url("../fonts/Geotica_Three-webfont.woff");
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url("../fonts/ptsans-regular.woff") format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url("../fonts/ptsans-bold.woff") format('woff');
}

body {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

/* General header. */
header {
    color: #fff;
    background: #f71;
    padding: 0.5em 0;
    margin-bottom: 1em;
}
header a {
    color: #fff;
}
header a:hover {
    color: #fff;
}
header .links {
    font-weight: bold;
    padding-top: 0.5em;
    text-align: right;
}
header #title {
    font-family: Geotica, sans-serif;
    font-size: 1.6em;
}
header #title a:hover {
    text-decoration: none;
}
header #subtitle {
    padding-top: 0.5em;
}

header .enveloppe span {
    font-size: 1.3em;
}

header.home {
    margin-bottom: 0;
}

/* Header on home page */
header.home .links {
    text-align: center;
}

header.home #title {
    font-size: 7em;
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 0.25em;
}
header.home #subtitle {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2em;
    font-weight: bold;
}

header.home form.search {
    margin-bottom: 2em;
}

/* Search */
#page.search form.search{
    margin-bottom: 1em;
}
.place-list {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}
.place-list .name {
    font-weight: bold;
}
.place-list .status {
    text-align: right;
    font-size: 0.8em;
    color: #666;
}
.place-list .avatar {
    text-align: center;
}
.place-list .avatar img {
    width: 100%;
    max-width: 100px;
}

/* Accomodation */
.owner {
    margin-bottom: 1em;
}
.owner img {
    width: 100%;
}
.base-form {
    text-align: center;
    margin-top: 1em;
}
.register label, .login label {
    display: none;
}
.base-form h4 {
    margin-top: 0;
}
.register .form-group:last-of-type {  /* Hiding honeypot */
    position: absolute;
    top: -10000px;
}
p.tip {
    font-size: 0.8em;
}
.map iframe {
    height: 150px;
}
.description-small {
    margin-top: 1em;
}


/* Profile */
.profile-avatar img {
    width: 100%;
    max-width: 140px;
}
.profile-avatar {
    margin-right: 2em;
}

.phone {
    height: 4em;
}
.phone .details {
    margin-top: .5em;
}
.phone .number {
    font-weight: bold;
    margin: 0 1em;
}


/* Footer */
footer {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

#home-explain {
    padding-top: 5em;
    padding-bottom: 5em;
    background: url('/static/img/home/woman-on-couch.jpg') no-repeat center center / cover transparent;
}
#home-explain p {
    font-size: 5em;
    text-align: center;
    font-weight: bold;
}

/* SM */
@media (min-width: 768px) {
    .map iframe {
        border-radius: 4px;
        height: 300px;
    }
    #home-explain .desc {
        padding-top: 1em;
    }
}
/* MD */
@media (min-width: 992px) {
    header.home form.search {
        margin-bottom: 2em;
    }
    header.home #title {
        margin-top: 1em;
        padding-bottom: 0.5em;
    }
    .map iframe {
        border-radius: 4px;
        height: 500px;
    }
    #home-explain .desc {
        font-size: 1.8em;
        padding-top: 2em;
    }
}
/* LG */
@media (min-width: 1170px) {
    header.home form.search {
        margin-bottom: 8em;
    }
    header.home #title {
        margin-top: 1em;
        padding-bottom: 1em;
    }
    #home-explain {
        padding-top: 15em;
        padding-bottom: 15em;
    }
}
