{% extends 'base.html' %}
{% load i18n static breach %}

{% block body %}
    <section class="messages" role="complementary">
        {% block messages %}
            {% for message in messages %}{% include "core/message.html" %}{% endfor %}
        {% endblock %}
    </section>
    <header class="container-fluid{% block header_class %}{% endblock %}" role="banner">
        {% block header %}
            <div class="row">
                <div class="col-xs-2 col-sm-3 col-md-2" id="title">
                    <a href="{% url 'home' %}">P<span class="hidden-xs">asporta&nbsp;</span>S<span class="hidden-xs">ervo</span></a>
                </div>
                <div class="hidden-xs col-sm-3 col-md-3" id="subtitle">
                    La fama gastiga servo por esperantistoj
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1 col-md-offset-4 enveloppe links" role="navigation">
                    {% if user.is_authenticated %}
                        <a href="{% url 'postman:inbox' %}" style="text-decoration: none">
                            {% trans "inbox" as title_inbox %}
                            {% if not postman_unread_count %}
                                <span class="glyphicon glyphicon-envelope" title="{{ title_inbox }}"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-envelope"
                                      title="{{ title_inbox }}: {% blocktrans count unread=postman_unread_count trimmed %}
                                                                    {{ unread }} new message
                                                                {% plural %}
                                                                    {{ unread }} new messages
                                                                {% endblocktrans %}"></span>
                                <sup>{{ postman_unread_count|default:"" }}</sup>
                            {% endif %}
                        </a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-1 links" role="navigation">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" style="text-decoration: none">
                            <span class="glyphicon glyphicon-log-out" title="{% trans "log out" %}"></span>
                        </a>
                    {% elif user %} {# 500/403-CSRF error pages don't have a user object #}
                        <a href="{% url 'login' %}?{{ REDIRECT_FIELD_NAME }}={{ request.get_full_path|urlencode }}">
                            {% trans "log in" %}
                        </a>
                    {% endif %}
                </div>
                <div class="col-xs-5 col-sm-2 col-md-1 links" role="navigation">
                    {% if user.is_authenticated %}
                        {% if user.profile %}
                            <a href="{{ user.profile.get_absolute_url }}">{{ user.username }}</a>
                        {% else %}
                            <a href="{% url 'profile_create' %}">{{ user.username }}</a>
                        {% endif %}
                    {% elif user %} {# 500/403-CSRF error pages don't have a user object #}
                        <a href="{% url 'register' %}?{{ REDIRECT_FIELD_NAME }}={{ request.get_full_path|urlencode }}">{% trans "register" %}</a>
                    {% endif %}
                </div>
            </div>
        {% endblock header %}
    </header>

    {% block pre-page %}{% endblock %}

    <div id="page" role="{% block page_role %}main{% endblock %}" class="container{% block page_class %}{% endblock %}">
        {% block page %}{% endblock %}
    </div>

    <footer class="container-fluid" role="{% block footer_role %}note{% endblock %}">
        {% block footer %}
            <div class="row">
                <div class="col-md-12" role="navigation">
                    <span class="text-nowrap"><a href="{% url 'about' %}">{% trans "About us" %}</a></span>
                    |
                    <span class="text-nowrap"><a href="{% url 'faq' %}">{% trans "FAQ" %}</a></span>
                    |
                    <span class="text-nowrap"><a href="{% url 'terms_conditions' %}">{% trans "Terms" %}</a></span>
                    |
                    <span class="text-nowrap"><a href="{% url 'supervisors' %}">{% trans "Supervisors" %}</a></span>
                    <span class="hidden-xs">|</span><br class="visible-xs-inline" style="margin-bottom: 10px" />
                    <span class="text-nowrap">
                        <a href="http://tejo.org" title="Tutmonda Esperantista Junulara Organizo">
                            <img src="{% static 'img/home/tejo-sm.png' %}" width="39" height="18" style="vertical-align:-15%" alt="TEJO" />
                        </a>
                    </span>
                </div>
            </div>
        {% endblock footer %}
    </footer>

    {% include "core/snippets/google_analytics.html" with DNT=request.DNT DEBUG=debug only %}

    {% if user.is_authenticated %}
    <!-- PageId:{% random_identifier %} -->
    {% endif %}
{% endblock body %}
