{% extends 'core/base.html' %}
{% load i18n static compress %}
{% load crispy_forms_tags %}

{% block extra_css %}
        <link rel="stylesheet" href="{% static 'datepicker/css/datepicker3.min.css' %}">
{% endblock extra_css %}

{% block extra_js %}
        <script src="{% static 'datepicker/js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'datepicker/js/locales/bootstrap-datepicker.eo.js' %}"></script>
        <script src="{% static 'pwstrength/js/pwstrength-bootstrap.min.js' %}"></script>
        <script src="{% static 'pwstrength/js/locales/pwstrength-bootstrap.eo.js' %}"></script>
        <script src="{% static 'js/forms.js' %}"></script>
        <script src="{% static 'js/forms-validation.eo.js' %}"></script>
{% endblock extra_js %}

{% block extra_head %}
    {{ form.media }}
{% endblock extra_head %}

{% block page %}
    {% block form_before %}{% endblock %}
    <div class="{% block form_container_class %}col-md-6 col-md-offset-3{% endblock %}">
        <div class="well {% block base_form_class %}base-form{% endblock %}{% block form_block_class %}{% endblock %}">
            <h4 class="{% block form_title_class %}{% endblock %}">{% block form_title %}{% endblock %}</h4>
            <p class="tip">{% block form_tip %}{% endblock %}</p>
            {% block form_tip_after %}{% endblock %}
            <form class="form" method="POST" action="{% block form_action %}{% endblock %}" {% block enctype %}{% endblock %}>
                <div class="{% block form_contents_class %}form-contents{% endblock %}">
                    {% block fields_before %}{% endblock %}
                    {% block fields %}
                        {% crispy form %}
                    {% endblock %}
                    {% block fields_after %}{% endblock %}
                    {# The additional items should not be <div> to avoid breaking the :last-of-type CSS #}
                    <p class="pull-right{% block form_submit_class %}{% endblock %}">
                        {% block form_submit %}
                            <button type="submit" class="btn btn-primary" id="id_form_submit" data-kbdshortcut="{% block form_keyboard_shortcut %}{% endblock %}">
                                {% block form_submit_button %}{% trans "Confirm" %}{% endblock %}
                            </button>
                        {% endblock %}
                    </p>
                    <p class="pull-left">
                        {% block form_back_link %}{% endblock %}
                    </p>
                    <span class="clearfix"></span>
                </div>
            </form>
        </div>
    </div>
    {% block form_after %}{% endblock %}

{% endblock %}
