{% extends 'base.html' %}
{% load i18n static %}
{% load next random_identifier from utils %}

{% block body %}
    <a name="{% trans "top-most" context "URL" %}" tabindex="-1"></a>
    <section class="messages" role="complementary">
        {% block messages %}
            {% for message in messages %}{% include 'core/message.html' %}{% endfor %}
        {% endblock %}
    </section>
    <header class="container-fluid{% block header_class %}{% endblock %}" role="banner">
        {% block header %}
            <nav class="navigator">
                <div class="navskip">
                    <a href="#{% block content-at %}{% trans "content-start" context "URL" %}{% endblock %}"
                       class="sr-only sr-only-focusable hidden-print" data-nosnippet>
                        {% block nav-skip-label %}{% trans "Skip navigation buttons" %}{% endblock %}
                    </a>
                </div>
                <div class="pull-left">
                    <div class="nav-title" id="title">
                        {% spaceless %}
                        <a href="{% url 'home' %}" aria-label="{% trans "Home page" %}">
                            <span>P</span><span class="hidden-xs also-visible-print">asporta&nbsp;</span>
                            <span>S</span><span class="hidden-xs also-visible-print">ervo</span>
                        </a>
                        {% endspaceless %}
                    </div>
                    <div class="nav-search hidden-nano hidden-print">
                        <a href="{% url 'search' %}" class="linkicon" data-nosnippet>
                            <span class="fa fa-search" aria-hidden="true"
                                  title="{% trans "Search" %}"
                                  data-toggle="tooltip" data-placement="bottom"></span>
                            <span class="sr-only">{% trans "Search"|lower %}</span>
                        </a>
                        <span class="hidden-xs" id="subtitle" aria-hidden="true">
                            {% trans "Esperanto-hosts around the world" %}
                        </span>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="use-notice visible-print" aria-hidden="true" data-nosnippet>
                        {% if view.display_fair_usage_condition %}
                            <span class="notice_content">
                                <i>
                                {% block use_notice %}
                                    {% if user.is_authenticated and request.user_has_profile %}
                                        {% blocktrans with name=user.profile.get_fullname_always_display trimmed %}
                                            For personal use of {{ name }}
                                        {% endblocktrans %}
                                    {% else %}
                                        {% trans "For personal use" %}
                                    {% endif %}
                                {% endblock %}
                                </i>
                            </span>
                        {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                        <div class="nav-inbox in hidden-print">
                            {% include './snippets/header_icon_inbox.html' %}
                        </div>
                        <div class="nav-settings in hidden-nano hidden-print">
                            {% include './snippets/header_icon_settings.html' %}
                        </div>
                    {% endif %}
                    <div class="nav-session{% if user.is_authenticated %} in{% endif %} hidden-print" data-nosnippet>
                        {% if user.is_authenticated %}
                            {% include './snippets/header_icon_logout.html' %}
                        {% elif user %} {# 500/403-CSRF error pages don't have a user object #}
                            <a href="{% url 'login' %}?{% next 'this page' %}" class="linkicon">
                                {% trans "log in" %}
                            </a>
                        {% endif %}
                    </div>
                    <div class="nav-profile{% if user.is_authenticated %} in{% else %} hidden-print{% endif %}" data-nosnippet>
                        {% if user.is_authenticated %}
                            {% include './snippets/header_icon_profile.html' %}
                        {% elif user %} {# 500/403-CSRF error pages don't have a user object #}
                            <a href="{% url 'register' %}?{% next 'this page' %}" class="linkicon">
                                {% trans "register" %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <a name="{% trans "content-start" context "URL" %}" tabindex="-1"></a>
        {% endblock header %}
    </header>

    {% comment %}
    {# no use of cookies currently requires us to ask for consent, since analytics / statistics are turned off. #}
    <section id="technologies-banner" class="alert alert-warning" role="alertdialog" aria-label="{% trans "About Privacy: " %}">
        <img src="{% static 'img/cookie.png' %}" alt="" data-attribution="CC0 Steven Giacomelli"
             style="float: left; position: relative; left: -7px;" />
        {% url 'privacy_policy' as privacy_policy_link %}
        {% trans "cookies" context "URL" as policy_cookies_section %}
        {% blocktrans with link=privacy_policy_link|add:"#"|add:policy_cookies_section trimmed %}
            We use technologies such as cookies and browser storage to power the website. We also use cookies
            to gather anonymised statistics. <a href="{{ link }}">Read more</a> about the technologies we use
            and how to change your settings; by continuing to use the site without changing settings, you are
            agreeing to such usage.
        {% endblocktrans %}
        {% if request.DNT %}
            {% blocktrans trimmed %}
                (BTW, we noticed that this browser is set with “Do Not Track”
                and we are honouring this setting.)
            {% endblocktrans %}
        {% endif %}
        <div class="btn-group pull-right">
            <a type="button" id="banner-view-policy" class="btn btn-default btn-xs"
               href="{{ privacy_policy_link }}#{{ policy_cookies_section }}">
                {% trans "See our privacy policy." %}
            </a>
            <button type="button" class="btn btn-default btn-xs banner-close" autocomplete="off"
                    title="{% trans "Hide" %}" aria-label="{% trans "Hide" %}">
                <span class="fa fa-times fa-lg" aria-hidden="true"></span>
            </button>
        </div>
    </section>
    {% endcomment %}

    {% block pre-page %}{% endblock %}

    <div id="page" role="{% block page_role %}main{% endblock %}" {% block page_microdata %}{% endblock %}
         class="container{% block page_class %}{% endblock %}">
        {% block page %}{% endblock %}
    </div>

    <footer class="container-fluid{% block footer_class %}{% endblock %}" role="{% block footer_role %}note{% endblock %}">
        {% block footer %}
            <div class="row">
                <div class="col-md-12" role="navigation">
                    <span class="hidden-print">
                        <span class="footer-page-link"><a href="{% url 'about' %}">{% trans "About us" %}</a></span>
                        |
                        <span class="footer-page-link"><a href="{% url 'faq' %}">{% trans "FAQ" %}</a></span>
                        |
                        <span class="footer-page-link"><a href="{% url 'terms_conditions' %}">{% trans "Terms" %}</a></span>
                        |
                        <span class="footer-page-link"><a href="{% url 'privacy_policy' %}">{% trans "Privacy" %}</a></span>
                        |
                        <span class="footer-page-link"><a href="{% url 'supervisors' %}">{% trans "Supervisors" %}</a></span>
                        <span class="hidden-xs">|</span><span class="visible-xs-block" style="margin-bottom: 10px"></span>
                    </span>
                    <span class="text-nowrap">
                        <a href="https://tejo.org" title="{% trans "World Esperanto Youth Organisation" %}" rel="external">
                            <img src="{% static 'img/home/tejo.svg' %}"
                                 onerror="this.onerror = null; this.src = this.src.replace(/tejo\.svg$/, 'tejo-sm.png');"
                                 width="39" height="18" style="vertical-align:-15%" alt="TEJO" />
                        </a>
                    </span>
                    <span class="visible-print-inline-block text-light">{% trans "World Esperanto Youth Organisation" %}</span>
                </div>
                {% if ENVIRONMENT and ENVIRONMENT != 'PROD' %}
                    <div class="col-md-12 small text-muted hidden-print env-info" style="margin-top: 10px" aria-hidden="true">
                        {{ ENVIRONMENT }} &bull; {{ CURRENT_COMMIT|join:' – '|default:"?" }}
                        {% if user and user.is_authenticated %}
                            &bull; {% trans "user" %}: {{ user.username }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <span class="pull-right" data-nosnippet>
                <a href="#{% trans "top-most" context "URL" %}"
                   class="scrolltop sr-only sr-only-focusable">
                    {% trans "Back to top of page" %} &#8613;
                </a>
            </span>
        {% endblock footer %}
    </footer>

    <script>
        function anonymizeTitle() {
            {% block safe_page_title %}{% endblock %}
        }
    </script>

    {% if user.is_authenticated %}
    <!-- PageId:{% random_identifier %} -->
    {% endif %}
{% endblock body %}
