{% extends 'core/base.html' %}
{% load i18n %}

{% block page %}
    <div class="row">
        <div class="col-xxs-12 col-xxs-offset-0 col-xs-10 col-xs-offset-1">
            <div class="alert alert-danger text-center">
                {% if object_name %}
                    {% blocktrans with object=object_name trimmed %}
                        Unfortunately, information about this {{ object }} is not available anymore.
                    {% endblocktrans %}
                {% else %}
                    {% trans "Unfortunately, this information is not available anymore." %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock page %}
