{% extends 'core/base.html' %}
{% load i18n static %}

{% block header_class %} home{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pasportaservo-home.css' %}">
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/search.js' %}"></script>
{% endblock %}


{% block header %}
    <div class="row links">
        <div class="col-xs-3 col-sm-1 enveloppe">
            {% if user.is_authenticated %}
                <a href="{% url 'postman:inbox' %}">
                    <span class="glyphicon glyphicon-envelope"></span>
                    {{ postman_unread_count|default:"" }}
                </a>
            {% endif %}
        </div>
        <div class="col-xs-2 col-sm-5">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">{% trans "log out" %}</a>
                {% if user.is_staff %}
                    <b class="hidden-xs">|</b>
                    <a href="{% url 'admin:index' %}">{% trans "admin site" %}</a>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">{% trans "log in" %}</a>
            {% endif %}
        </div>
        <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-0">
            {% if user.is_authenticated %}
                {% if user.profile %}
                    <a href="{{ user.profile.get_absolute_url }}">{{ user.username }}</a>
                {% else %}
                    <a href="{% url 'profile_create' %}">{{ user.username }}</a>
                {% endif %}
            {% else %}
                <a href="{% url 'register' %}?next={{ request.get_full_path|urlencode }}">{% trans "register" %}</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="title">
            {% block home_title %}
                <i class="hidden-xs hidden-sm">&nbsp;</i>
                Pasporta Servo<small class="hidden-xs" title="{% trans "test version" %}"><em>beta</em></small>
            {% endblock %}
        </div>
        <div class="col-md-12" id="subtitle">{% block home_subtitle %}Esperantaj gastigantoj tra la mondo{% endblock %}</div>
    </div>

    <form class="form-inline row search" id="searchform" role="form" method="GET" action="{% url 'search' %}">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="form-group" style="width: 100%">
                <div class="input-group" style="width: 100%">
                    <input class="form-control" type="search" id="searchinput" name="ps_q" placeholder="{% trans "Budapest, London, Venezuela, etc." %}">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="search" style="min-width: 40px; width: 100%;">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>
{% endblock header %}

{% block pre-page %}
    <div id="home-explain" class="lazy">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <p>
                        {% trans "Find accomodation<br>anywhere in the world." %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock pre-page %}

{% block page %}
    <div class="social-links social-networks sm-icons pull-left">
        {% spaceless %}
        <a href="https://www.facebook.com/pasportaservo" target="_blank" title="Pasporta Servo {% trans "at" %} Facebook" class="highlight-custom">
            <img src="{% static 'img/home/social_facebook-sm.png' %}" alt="[facebook]"/>
        </a>
        <a href="https://twitter.com/pasportaservo" target="_blank" title="Pasporta Servo {% trans "at" %} Twitter" class="highlight-custom">
            <img src="{% static 'img/home/social_twitter-sm.png' %}" alt="[twitter]"/>
        </a>
        <a href="https://youtu.be/hkQZUI5f_ck" target="_blank" title="{% trans "About us" %}, {% trans "at" %} YouTube" class="highlight-custom">
            <img src="{% static 'img/home/social_youtube-sm.png' %}" alt="[youtube]"/>
        </a>
        {% endspaceless %}
    </div>
    <div class="social-links social-contact sm-icons pull-right">
        {% spaceless %}
        <!--
        <a href="skype:pasporta.servo?chat" title="{% trans "Contact us via Skype" %}" class="highlight-custom">
            <img src="{% static 'img/home/social_skype-sm.png' %}" alt="[skype]"/>
        </a>
        -->
        <a href="mailto:saluton [cxe] pasportaservo.org" title="{% trans "Contact us via email" %}" class="highlight-custom">
            <img src="{% static 'img/home/social_email-sm.png' %}" alt="[email]"/>
        </a>
        <a href="https://trello.com/b/kerCH0sk/pasporta-servo-novaj-funkcioj" target="_blank" title="{% trans "Your ideas and suggestions" %}: Trello" class="highlight-custom narrow">
            <img src="{% static 'img/home/social_trello-sm.png' %}" alt="[trello]"/>
        </a>
        <a href="https://github.com/tejo-esperanto/pasportaservo" target="_blank" title="{% trans "Pasporta Servo's source code" %}: GitHub" class="highlight-custom">
            <img src="{% static 'img/home/social_github-sm.png' %}" alt="[github]"/>
        </a>
        {% endspaceless %}
    </div>
{% endblock page %}
