{% extends 'core/base_hero.html' %}
{% load i18n static flatpages %}

{% block content-at %}{% if view.news or view.right_block %}{% trans "whats-new" context "URL" %}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block nav-skip-label %}{% trans "Jump to content" %}{% endblock %}

{% block pre-page %}
    <section id="home-explain" class="container{% if view.news or view.right_block %} has-content{% endif %}" role="complementary">
        <a name="{% trans "whats-new" context "URL" %}" tabindex="-1"></a>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {% if view.news %}
                    <h2 class="text-center">
                        <strong><a href="{% url 'blog:posts' %}">{% trans "News" %}</a></strong>
                    </h2>
                    {% if view.right_block %}
                        <a href="#{% trans "how-to-use" context "URL" %}" class="sr-only sr-only-focusable">
                            {% trans "Skip the news" %}<span class="fa fa-arrow-circle-o-right" aria-hidden="true" style="margin-left: 1.2ex"></span>
                        </a>
                    {% endif %}
                {% endif %}
                {% for post in view.news %}
                    {% include 'blog/post.html' with post=post header_level=3 quote=True more_class='pull-right' more_type="dots" only %}
                {% endfor %}
            </div>

            <div class="col-xs-12 col-md-5 col-md-offset-1">
                <a name="{% trans "how-to-use" context "URL" %}" tabindex="-1"></a>
                {{ view.right_block }}
            </div>
        </div>
    </section>
{% endblock pre-page %}

{% block page_role %}toolbar{% endblock %}

{% block page %}
    <div class="social-links social-networks sm-icons pull-left">
        {% spaceless %}
        <a href="https://www.facebook.com/pasportaservo" target="_blank" rel="external noreferrer" title="Pasporta Servo {% trans "at" %} Facebook" class="highlight-custom">
            <img src="{% static 'img/home/social_facebook-sm.png' %}" alt="[facebook]"/>
        </a>
        <a href="https://twitter.com/pasportaservo" target="_blank" rel="external noreferrer" title="Pasporta Servo {% trans "at" %} Twitter" class="highlight-custom">
            <img src="{% static 'img/home/social_twitter-sm.png' %}" alt="[twitter]"/>
        </a>
        <a href="https://youtu.be/hkQZUI5f_ck" target="_blank" rel="external noreferrer" title="{% trans "About us" %}, {% trans "at" %} YouTube" class="highlight-custom">
            <img src="{% static 'img/home/social_youtube-sm.png' %}" alt="[youtube]"/>
        </a>
        {% endspaceless %}
    </div>
    <div class="social-links social-contact sm-icons pull-right">
        {% spaceless %}
        <!--
        <a href="skype:pasporta.servo?chat" title="{% trans "Contact us via Skype" %}" class="highlight-custom">
            <img src="{% static 'img/home/social_skype-sm.png' %}" alt="[skype]"/>
        </a>
        -->
        <a href="mailto:{{ SUPPORT_EMAIL }}" title="{% trans "Contact us via email" %}" class="highlight-custom">
            <img src="{% static 'img/home/social_email-sm.png' %}" alt="[email]"/>
        </a>
        <a href="https://trello.com/b/kerCH0sk/pasporta-servo-novaj-funkcioj" target="_blank" rel="external noreferrer" title="{% trans "Your ideas and suggestions" %}: Trello" class="highlight-custom narrow">
            <img src="{% static 'img/home/social_trello-sm.png' %}" alt="[trello]"/>
        </a>
        <a href="https://github.com/tejo-esperanto/pasportaservo" target="_blank" rel="external noreferrer" title="{% trans "Pasporta Servo's source code" %}: GitHub" class="highlight-custom">
            <img src="{% static 'img/home/social_github-sm.png' %}" alt="[github]"/>
        </a>
        {% endspaceless %}
    </div>
{% endblock page %}
