{% extends 'core/base_crispy_form.html' %}
{% load static i18n %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/marked.js' %}"></script>
{% endblock extra_js %}

{% block head_title %}{% trans "Announcement to users" %}{% endblock %}

{% block form_container_class %}col-xs-12 col-md-5{% endblock %}

{% block form_contents_class %}{% endblock %}

{% block form_after %}
    <div class="col-xs-12 col-md-7">
        {% include 'email/snippets/preview_header.html' %}
        <div class="row">
            <div class="embed-responsive" style="padding-bottom: calc(100% - 20px)">
                <iframe id="massmail_preview" title="{% trans "Preview" context 'Title' %}"
                        data-content="{% filter force_escape %}{% include 'email/base_email.html' %}{% endfilter %}"
                ></iframe>
            </div>
        </div>
    </div>
{% endblock form_after %}
