{% load i18n utils %}
<div class="{% filter compact %}
                container-fluid message {{ message.tags }}
                {% if daily %}
                    sticky-{% now 'Y-m-d' %}-{{ sticky_class }}
                {% elif monthly %}
                    sticky-{% now 'Y-m' %}-{{ sticky_class }}
                {% endif %}
            {% endfilter %}"
     data-level="{{ message.level_tag }}"
     role="alertdialog" aria-describedby="MSG_{% random_identifier 7 as message_id %}{{ message_id }}">
    <span id="MSG_{{ message_id }}">{{ message }}</span>
    {% spaceless %}
    <button type="button" class="close requires-scripting" title="{% trans "Hide" %}" aria-label="{% trans "Hide this message" %}">
        <span aria-hidden="true">&times;</span>
    </button>
    {% endspaceless %}
</div>
