{% load domain %}{% load compact from utils %}
<tr>
    <td align="center">
        {{ text_before_button }}
        <!-- BULLETPROOF BUTTON -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" style="padding-top: 25px;" class="padding">
                    <table border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                        <tr>
                            <td align="center" style="border-radius: 3px;" bgcolor="#5CB85C"
                                ><a href="{% domain url %}" target="_blank"
                                    style="{% filter compact %}
                                           font-size: 18px;
                                           font-family: Helvetica, Arial, sans-serif;
                                           color: #ffffff;
                                           text-decoration: none;
                                           border: 1px solid #4cae4c;
                                           border-radius: 3px;
                                           padding: 15px 25px;
                                           display: inline-block;
                                           {% endfilter %}"
                                    class="mobile-button">{{ text }} &rarr;</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
