<!DOCTYPE html>
{% load i18n statici18n static cdn compress sass_tags utils %}

<html lang="{% get_system_language %}"
      class="{% if ' MSIE ' in request.META.HTTP_USER_AGENT or 'Trident/' in request.META.HTTP_USER_AGENT %}msie-compat{% endif %}"
      data-env="{{ ENVIRONMENT }}">
    <head>
        <meta charset="utf-8">
        <title>{% filter compact %}
            {% block head_title %}{% trans "Find accommodation" %}{% endblock %}
            {% block head_title_separator %}|{% endblock %} Pasporta Servo
        {% endfilter %}</title>
        <meta name="description" content="{% filter compact %}
                                            {% block head_description %}{% trans "Esperanto-hosts around the world" %}{% endblock %}
                                          {% endfilter %}">

        <link rel="shortcut icon"                           href="{% static 'img/marker/PS_favicon.ico' %}?v=1">
        <link rel="icon" type="image/png"                   href="{% static 'img/marker/PS_favicon-32.png' %}"  sizes="32x32">
        <link rel="icon" type="image/png"                   href="{% static 'img/marker/PS_android-192.png' %}" sizes="192x192">
        <link rel="icon" type="image/png"                   href="{% static 'img/marker/PS_favicon-16.png' %}"  sizes="16x16">
        <link rel="apple-touch-icon"                        href="{% static 'img/marker/PS_apple.png' %}"       sizes="180x180">
        <link rel="mask-icon"                               href="{% static 'img/marker/PS_safari.svg' %}"      color="#ee6600">
        <meta name="application-name"                       content="Pasporta Servo">
        <meta name="msapplication-config"                   content="{% static 'img/marker/ms-browser-config.xml' %}?v=1">
        <meta name="msapplication-task"                     content="{% filter compact %}
                                                                        name={% trans "My profile" %};
                                                                        action-uri={% url 'profile_redirect' %}?utm_source=ms-pinned-site;
                                                                        icon-uri={% static 'img/marker/avatar.ico' %}
                                                                     {% endfilter %}" />
        <meta name="msapplication-task"                     content="{% filter compact %}
                                                                        name={% trans "Search" %};
                                                                        action-uri={% url 'search' %}?utm_source=ms-pinned-site;
                                                                        icon-uri={% static 'img/marker/search.ico' %}
                                                                     {% endfilter %}" />
        <meta name="viewport"                               content="width=device-width">
        <meta name="apple-mobile-web-app-capable"           content="yes">
        <meta name="apple-mobile-web-app-status-bar-style"  content="black">
        <meta name="apple-mobile-web-app-title"             content="Pasporta Servo">
        <meta name="mobile-web-app-capable"                 content="yes">
        <link rel="manifest"                                href="{% static 'img/marker/android-manifest.json' %}?v=1">
        <meta name="theme-color"                            content="#ee6600">

        <link rel="alternate" type="application/atom+xml" title="Pasporta Servo: {% trans "News" %}" href="{% url 'blog:atom' %}">
        <link rel="search" title="{% trans "Search" %} {% trans "at" %} Pasporta Servo" href="{% url 'search' %}">

        {% if 'cdn' in request.GET.accelerate %}
            <link rel="preconnect" href="{% cdn %}" crossorigin>
        {% endif %}
        {% if 'bs-css' in request.GET.accelerate %}
            <link rel="preload"    href="{% cdn 'bootstrap' '3.4.1' %}/css/bootstrap.min.css" as="style" crossorigin>
            <link rel="stylesheet" href="{% cdn 'bootstrap' '3.4.1' %}/css/bootstrap.min.css" crossorigin="anonymous"
                                   integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" referrerpolicy="origin-when-cross-origin">
        {% else %}
            <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        {% endif %}
        {% if 'localfonts' in request.GET.accelerate %}
            <link rel="preload"    href="{% static 'bootstrap/fonts/fontawesome-webfont.woff2' %}?v=4.7.0" as="font" type="font/woff2" crossorigin>
            <link rel="preload"    href="{% static 'fonts/PS-Signaro.woff' %}?v=1.0" as="font" type="font/woff" crossorigin>
            <link rel="preload"    href="{% static 'fonts/Geotica_Three.woff2' %}" as="font" type="font/woff2" crossorigin>
        {% endif %}
        {% if 'gfonts' in request.GET.accelerate %}
            <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        {% endif %}
        {% compress css %}
            <link rel="stylesheet" href="{% sass_src 'css/pasportaservo.scss' %}">
            <link rel="stylesheet" href="{% sass_src 'css/pasportaservo-print.scss' %}" media="print">
            {% block extra_css %}{% endblock %}
        {% endcompress %}

        {% if 'jq' in request.GET.accelerate %}
            <script src="{% cdn 'jquery' '3.4.1' %}/jquery.min.js" crossorigin="anonymous"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" referrerpolicy="origin-when-cross-origin" {% if 'defer' in request.GET.accelerate %}defer{% endif %}></script>
        {% else %}
            <script src="{% static 'js/jquery.min.js' %}" {% if 'defer' in request.GET.accelerate %}defer{% endif %}></script>
        {% endif %}
        {% if 'bs-js' in request.GET.accelerate %}
            <script src="{% cdn 'bootstrap' '3.4.1' %}/js/bootstrap.min.js" crossorigin="anonymous"
                    integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4=" referrerpolicy="origin-when-cross-origin" {% if 'defer' in request.GET.accelerate %}defer{% endif %}></script>
        {% else %}
            <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" {% if 'defer' in request.GET.accelerate %}defer{% endif %}></script>
        {% endif %}
        {% compress js %}
            <script src="{% statici18n 'eo' %}"></script>
            <script src="{% static 'js/cookies.min.js' %}"></script>
            <script src="{% static 'js/scripts.js' %}"></script>
            <script src="{% static 'js/messages.js' %}"></script>
            {% block extra_js %}{% endblock %}
        {% endcompress %}

        {% if ENVIRONMENT and ENVIRONMENT != 'PROD' %}
            <meta name="robots" content="noindex, noarchive">
        {% endif %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>{% block body %}{% endblock %}</body>
</html>
