{% extends 'core/base.html' %}
{% load i18n static %}

{% block page_class %} page{% endblock %}
{% block extra_css %}
        {{ block.super }}
        <style type="text/css">
            h1 {
                margin-bottom: 25px;
            }
            p {
                margin: 0px;
            }
            .attribution {
                font-size: .875em;
                text-align: justify;
            }
        </style>
{% endblock %}

{% block head_title %}Internacia gastiga servo per Esperanto{% endblock %}
{% block head_title_separator %}:{% endblock %}

{% block page %}
    <h1>Pasporta Servo: Internacia gastiga servo per Esperanto</h1>

    <div class="row vertical-align-not-xxs">
        <div class="col-md-9 col-sm-10 col-xs-10 col-xxs-9">
            <p>
                Pasporta Servo estas adresaro de homoj el la tuta mondo, kiuj senpage akceptas gastojn en siaj hejmoj. Por tio,
                la gasto(j) kaj la gastiganto(j) devas nur scipovi Esperanton. La adreslibro 2017, kompostita laŭ nova,
                aŭtomatigita, maniero enhavas 974 gastigantojn el 81 landoj.
            </p>
        </div>
        <div class="col-md-1 col-md-offset-1 col-sm-2 col-xs-2 col-xxs-3">
            <div>
                <img class="img-responsive" src="{% static 'img/about/map-marker.png' %}" alt="Simbolo: Mapo" />
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-1 col-md-offset-1 col-sm-2 col-xs-2 col-xxs-3">
            <div>
                <img class="img-responsive" src="{% static 'img/about/house.png' %}" alt="Simbolo: Domo" />
            </div>
        </div>
        <div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-10 col-xxs-9">
            <p>
                La gastigantoj indikas la kondiĉojn, ekz-e pri nefumado, aŭ la nombro de gastoj aŭ tranoktoj, kaj povas mencii
                diversajn komentojn pri siaj interesoj, deziroj, atingebleco kaj simile. Gastigantoj ĝuas akcepti homojn el
                diversaj landoj, gastoj ĝuas senpagan restadon, kaj ili facile interkomunikas per Pasporta Servo. Ofte,
                gastigantoj helpas al gastoj pri transportado, ekkoni la lokon, ktp.
            </p>
        </div>
    </div>

    <hr />

    <div class="row vertical-align-not-xxs">
        <div class="col-md-9 col-sm-10 col-xs-10 col-xxs-9">
            <p>
                Se vi havas iun ajn demandon, ne hezitu skribi al la teamo de PS:
                <a href="mailto:saluton [cxe] pasportaservo.org">saluton [cxe] pasportaservo.org</a>
            </p>
        </div>
        <div class="col-md-1 col-md-offset-1 col-sm-2 col-xs-2 col-xxs-3">
            <div>
                <img class="img-responsive" src="{% static 'img/about/internet-mail.png' %}" alt="Simbolo: Retpoŝto" />
            </div>
        </div>
    </div>

    <hr />

    <div class="help-block" role="contentinfo">
        <br />
        <center class="attribution">
            Aŭtorrajta atribuo:
            La ĉefa piktograma tiparo estas
              <a href="http://fontawesome.io" target="risurcoj" rel="external noreferrer">Font Awesome</a>
              fare de Dave Gandy
              laŭ licenco <a href="http://scripts.sil.org/OFL" target="risurcoj" rel="external noreferrer">SIL OFL 1.1</a>.
            Iuj telefon-simboloj en piktograma tiparo de Pasporta Servo (“PS-Signaro”) estas bazitaj sur konturoj
            el la tiparo
              <a href="http://www.entypo.com/index.php" target="risurcoj" rel="external noreferrer">Entypo+</a>
              fare de Daniel Bruce
              kaj sub licenco <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="risurcoj" rel="external noreferrer">CC BY-SA 4.0</a>.
            La retpoŝt-kontakta piktogramo estas derivaĵo de libera verko far
              <a href="http://bktnagency.com/2012/07/23/free-download-black-white-monochrome-outline-contact-icons" target="risurcoj" rel="external noreferrer">BKTN</a>.
            La piktogramoj por Facebook, Twitter, Skype, Trello kaj GitHub estas bazitaj sur konturoj de tiparo
              <a href="http://ionicons.com" target="risurcoj" rel="external noreferrer">Ionicons</a>,
              kopirajto &copy; 2016 <a href="http://drifty.com" target="risurcoj" rel="external noreferrer">Drifty</a>
              kaj sub licenco <a href="https://github.com/driftyco/ionicons/blob/master/LICENSE" target="risurcoj" rel="external noreferrer">MIT</a>.
              La grafikaĵoj mem estas komercaj markoj de iliaj respektivaj posedantoj.
            Simboloj por ĉiĉeronado kaj trinkejumado estas bazitaj sur piktogramoj fare de
              <a href="http://www.freepik.com" target="risurcoj" rel="external noreferrer">Freepik</a>
              distribuitaj per
              <a href="http://www.flaticon.com" target="risurcoj" rel="external noreferrer">flaticon.com</a>
              kaj sub licenco <a href="http://creativecommons.org/licenses/by/3.0/deed.eo" title="Krea Komunaĵo Atribuite 3.0" rel="external noreferrer">CC BY 3.0</a>.
            La retejo-identigaj grafikmarkoj kaj la respektivaj agordaj instrukcioj estis produktitaj helpe de
              <a href="http://realfavicongenerator.net" target="risurcoj" rel="external noreferrer">RealFaviconGenerator</a>.
        </center>
        <center class="attribution">
            La kaheloj por la mapoj montritaj sur la retejo estas servataj fare de
              <a href="https://www.stadiamaps.com" target="risurcoj" rel="external noreferrer">Stadia Maps</a>
              (<em>Stadia Maps, Ltd. Co.</em>)
              surbaze de kartografiaj datumoj el
              <a href="https://openmaptiles.org" target="risurcoj" rel="external noreferrer">OpenMapTiles</a>.
            La tiparoj uzataj por mapaj etikedoj estas servataj fare de
              <a href="https://www.maptiler.com/license/maps/" target="risurcoj" rel="external noreferrer">MapTiler</a>
              (<em>Klokan Technologies GmbH</em>&thinsp;).
            Ĉiuj mapaj datenoj estas kopirajtitaj de OpenStreetMap Foundation kaj la kontribuantoj al
              <a href="https://www.openstreetmap.org/copyright" target="risurcoj" rel="external noreferrer">OpenStreetMap</a>
              laŭ licenco <a href="https://opendatacommons.org/licenses/odbl" target="risurcoj" rel="external noreferrer">ODbL</a>.
            La malantaŭ la mapoj aperanta ŝarĝanimacio estas
              <a href="https://gist.github.com/justvanrossum/3d39639f5fef54dfd630a5bc9fadc06c" target="risurcoj" ref="external noreferrer">generita</a>
              pere de
              <a href="http://www.drawbot.com" target="risurcoj" ref="external noreferrer">DrawBot</a>
              far Just van Rossum.
        </center>
    </div>
{% endblock page %}
