{% extends 'hosting/base.html' %}
{% load i18n static %}

{% block page_class %} page{% endblock %}

{% block head_title %}Pri Pasporta Servo{% endblock %}

{% block page %}
    <h1>Pasporta Servo: Internacia gastiga servo per Esperanto</h1>

    <p>
        Pasporta Servo estas adresaro de homoj el la tuta mondo, kiuj senpage akceptas gastojn en siaj hejmoj. Por tio,
        la gasto(j) kaj la gastiganto(j) devas nur scipovi Esperanton. La adreslibro 2011 enhavas 1089 gastigantojn el
        90 landoj.
    </p>

    <p>
        La gastigantoj indikas la kondiĉojn, ekz-e pri nefumado, aŭ la nombro da gastoj aŭ tranoktoj, kaj povas mencii
        diversajn komentojn pri siaj interesoj, deziroj, atingebleco kaj simile. Gastigantoj ĝuas akcepti homojn de
        diversaj landoj, gastoj ĝuas senpagan restadon, kaj ili facile interkomunikas per Pasporta Servo. Ofte,
        gastigantoj helpas al gastoj pri transportado, ekkoni la lokon, ktp.
    </p>

    <p>
        Nuntempa kompilanto de Pasporta Servo:
    </p>

    <p>
        <a href="mailto:pasporta1905servo1887@tejo.org">Alexandre Baudry pasporta1905servo1887@tejo.org</a>
        (forigu ciferojn)
    </p>
{% endblock page %}

