{% extends 'hosting/base.html' %}
{% load i18n static %}

{% block head_title %}Kondiĉoj{% endblock %}

{% block page_class %} page{% endblock %}

{% block page %}
    <h1>Oftaj demandoj</h1>

    <h3>Oftaj demandoj pri kaj post la registriĝo.</h3>

    <dl class="row">
        <dt>Mi forgesis mian pasvorton! Kion mi faru?</dt>
        <dd>
            <ul>
                <li>Petu novan per via retadreso tie: <a href="https://pasportaservo.org/pasvorto/nova/">pasportaservo.org/pasvorto/nova</a></li>
                <li>Klaku, kaj enskribu vian retadreson, vi ricevos retleteron kun ligilo.</li>
                <li>Klaku la ligilon kaj vi povos registri vian novan pasvorton.</li>
            </ul>
        </dd>

        <dt>Mi forgesis mian uzantnomon! Kion mi faru?</dt>
        <dd>Skribu al ni: <a href="mailto:pasportaservo@tejo.org">pasportaservo@tejo.org</a>, kaj ni sendos al vi rememorigilon.</dd>

        <dt>Mia retadreso ne plu validas / mi volas ŝanĝi mian registritan retadreson. Kion mi faru?</dt>
        <dd>Skribu al ni: <a href="mailto:pasportaservo@tejo.org">pasportaservo@tejo.org</a> kaj donu al ni vian novan retadreson.</dd>

        <dt>Kie estas la mapo? Kial mi ne povas serĉi per la mapo!</dt>
        <dd>Vi havos mapon! Sed unue nur en la libra versio de Pasporta Servo.</dd>
        <dd>La prioritato de Pasporta Servo estas la sekureco de viaj datenoj. Ni bezonas mapon, kiu protektas viajn datenojn.</dd>

    </dl>

    <h3>Kial mi fariĝu gastiganto?</h3>
    <dl class="row">

        <dt>Sed mi jam gastigas eĉ sen esti en la Pasporta Servo!</dt>
        <dd>Se vi oficiale aperas en la Pasporta Servo, ankaŭ novuloj povas vin trovi.</dd>

        <dt>Sed venos tro da gastoj, se mi estos en la libreto!</dt>
        <dd>Vi rajtas ĉiam rifuzi tranoktopeton sen klarigi kial.</dd>

        <dt>Sed mi ne povas gastigi la tutan jaron, mi ne ofte ne estas hejme.</dt>
        <dd>La gastoj ĉiam devas anonci sin antaŭ veni al vi, do vi vidos, ĉu vi tiam estos hejme aŭ ne.</dd>

        <dt>Eĉ se mi havas dormlokon, mi ne havas tempon/emon prizorgi gasto(j)n.</dt>
        <dd>La gastoj devas esti memstaraj. La ideo de Pasporta Servo estas, ke oni helpas pri la tranoktado, ĉiu aldona bonkoreco/servo/ĉiĉeronado dependas de la gastiganto.
        Se vi ne havas tempon/emon, do vi ne havas. Neniu devigas vin tion fari.</dd>

        <dt>Sed mi ne havas apartan gastoĉambron aŭ liton. Mi nur povas plankon proponi.</dt>
        <dd>Tute bone ankaŭ! Indiku ekzakte kiajn kondiĉojn vi havas, kaj la gastoj devas akcepti tion.</dd>

        <dt>Sed mi loĝas en tiom fora loko, ke neniu venus al mia urbo!</dt>
        <dd>Invitu la gastojn al vi! Uzu frapan rimarkon apud via adreso kial indas viziti vin kaj la ĉirkaŭaĵon.</dd>
        <dd>Proponu aktivecon! Skribu bonvenan teksteton. Kontaktu aliajn gastigantojn en via regiono por povi proponi plurajn lokojn proksime.</dd>

        <dt>Sed mi ne volas aranĝi invitleteron por gastoj!</dt>
        <dd>Tion vi tute ne devas fari. Se iu petas vin, simple rifuzu.</dd>
    </dl>

    <h3>Se vi estas gasto</h3>

    <dl class="row">
        <dt>Ĉu estas limo, kiom da adresoj aŭ tranoktebloj mi rajtas uzi?</dt>
        <dd>Ne, ne estas limo. Ĉiam dependas de la unuopaj gastigantoj, ĉu ili povas vin gastigi aŭ ne.</dd>

        <dt>Ĉu mi vere, ĉiam devas antaŭe kontakti la gastigantojn?</dt>
        <dd>Kelkaj gastigantoj pretas akcepti gastojn sen antaŭa anonco, sed nur kelkaj faras tion.</dd>
        <dd>Vi vidas apud la adreso ĉiam la kondiĉojn. Se oni petas interkonsenton kontakti pli frue telefone, do faru tion, se retletere, do tion. ktp.</dd>

        <dt>Kiom da tempo mi rajtas resti ĉe la gastiganto?</dt>
        <dd>Same kiel pri kontaktado ankaŭ la kondiĉoj estas en la libro, kelkaj akceptas nur por unu nokto, okazas, ke tute ne gravas por la gastiganto kiom longe vi restas. Vi antaŭanoncu kiom da noktoj vi deziras resti, kaj nepre interkonsentu.</dd>

        <dt>Kion mi faru, se gastiganto rifuzas mian tranoktopeton?</dt>
        <dd>Tio kelkfoje okazas. Oni ne ĉiam havas tempon kaj la kondiĉojn gastigi. Serĉu alian gastiganton.</dd>

        <dt>Ĉu mia gastiganto ankaŭ donos al mi manĝaĵon?</dt>
        <dd>Denove, tio estas laŭ interkonsento. La gastiganto rajtas peti repagon por la manĝado, sed la gastiganto tute ne devas proponi manĝojn. Vi, kiel gasto povas proponi kuiri ankaŭ aŭ faru kune!</dd>
    </dl>

    <h3>Pasporta Servo - libra versio</h3>
    <dl class="row">
        <dt>Kiel mi scias, ke mi estos en la libro?</dt>
        <dd>En via profilo sube estas "printi en la PS-libreto" Tie elektu: jes.</dd>
        <dd>Ankaŭ se vi estis ĝis nun en la libro, kaj vi denove volas aperi en ĝi, vi konfirmu per la retletero, kiun ni sendos al vi.</dd>

        <dt>Mi ne plu volas esti en la libro. Kion mi faru?</dt>
        <dd>En via profilo sube estas "printi en la PS-libreto" Tie elektu: ne.
        <dd>Se vi ne scias kiel ŝanĝi vian profilon, skribu al: pasportaservo@tejo.org</dd>

        <dt>Mi ankoraŭ neniam estis en la libro, sed nun volas aperi en ĝi. Kion mi faru?</dt>
        <dd>Se vi jam havas profilon, en via profilo sube troviĝas "printi en la PS-libreto" Tie elektu: jes.</dd>
        <dd>Se vi ankoraŭ ne havas profilon en la retejo, kreu unu, kaj poste nepre elektu esti printita en la libreto.</dd>
        <dd>La limdato por la PS-libreto estas la 30-a de oktobro.</dd>
    </dl>

{% endblock page %}
