{% extends 'core/base.html' %}
{% load i18n %}

{% block head_title %}Politiko pri privateco{% endblock %}

{% block page_class %} page{% endblock %}

{% block page %}
    <h1>Politiko pri privateco ĉe Pasporta Servo</h1>
    <h2>
        <small class="pull-right">{% blocktrans %}Effective from {{ effective_date }}{% endblocktrans %}</small>
    </h2>
    <p class="clearfix"></p>

    {% if changes_summary %}
        <div class="panel panel-info">
            <div class="panel-heading" id="policy-changes-header" role="button" tabindex="0"
                 data-toggle="collapse" data-target="#policy-changes" aria-controls="policy-changes"
                 aria-expanded="false">
                <div class="panel-title">
                    {% trans "Summary of the changes" %}
                    <span class="switch requires-scripting fa fa-caret-right fa-spacer-left-2x hidden-print"
                          aria-label="{% trans "Show" %}" data-aria-label-inactive="{% trans "Hide" %}"></span>
                </div>
            </div>
            <div class="panel-collapse collapse when-scripting" id="policy-changes"
                 aria-labelledby="policy-changes-header" aria-live="off">
                <div class="panel-body">
                    {{ changes_summary|safe }}
                </div>
            </div>
        </div>
        <hr class="sr-only" />
    {% endif %}

    <br />
    {{ view.policy_content }}

    <blockquote>
        <p class="clearfix"></p>
        <small class="pull-right" role="note">Tiu ĉi politiko estas en efiko ekde {{ effective_date }}.</small>
        <p class="clearfix"></p>
    </blockquote>
{% endblock page %}
