{% extends 'core/base.html' %}
{% load i18n %}
{% load compact from utils %}

{% block head_title %}
    Politiko pri privateco
    {% if requested_version %} (ekde {{ effective_date|date:"Y-m-d" }}) {% endif %}
{% endblock %}

{% block page_class %} page{% endblock %}

{% block page %}
    <h1>{% trans "Policy of Privacy within Pasporta Servo" %}</h1>
    <h2>
        <small class="pull-right">{% blocktrans %}Effective from {{ effective_date }}{% endblocktrans %}</small>
    </h2>
    <p class="clearfix"></p>
    {% if all_policies|length > 1 %}
        <div class="policy-switcher btn-group fullwidth-xxs pull-right" hidden>
            <button class="btn btn-default dropdown-toggle fullwidth-xxs text-brand-aux" type="button"
                    data-toggle="dropdown"
                    aria-haspopup="menu" aria-expanded="false">
                <b class="fa-spacer-right">{% trans "Other versions" %}</b>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                {% for another_policy in all_policies %}
                    <li class="{% filter compact %}
                                    text-center
                                    {% if effective_date == another_policy.effective_date %}active{% endif %}
                               {% endfilter %}" role="menuitem">
                        <a href="{% url 'privacy_policy_version' policy_version=another_policy.version %}">
                            {{ another_policy.effective_date }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <p class="clearfix"></p>
        <noscript class="policy-switcher-container">
            <form id="policy_swicher_form" method="GET" action="{% url 'privacy_policy' %}"
                  class="policy-switcher text-right">
                <label for="id_policy_version" class="control-label sr-only">
                    {% trans "Other versions" %}
                </label>
                <select name="{% trans "policy" context "URL" %}" id="id_policy_version"
                        class="form-control btn-vert-space-even" autocomplete="off">
                    <option value="" selected>{% trans "Other versions" %}</option>
                    <option value="">---------</option>
                    {% for another_policy in all_policies %}
                        <option value="{{ another_policy.version }}"
                                {% if effective_date == another_policy.effective_date %}disabled{% endif %}>
                            {{ another_policy.effective_date }}
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn btn-primary btn-vert-space-even" value="{% trans "Show" %}" />
            </form>
        </noscript>
    {% endif %}

    {% if changes_summary %}
        <div class="panel panel-info">
            <div class="panel-heading" id="policy-changes-header" role="button" tabindex="0"
                 data-toggle="collapse" data-target="#policy-changes" aria-controls="policy-changes"
                 aria-expanded="false">
                <div class="panel-title">
                    {% trans "Summary of the changes" %}
                    <span class="switch requires-scripting fa fa-caret-right fa-spacer-left-2x hidden-print"
                          aria-label="{% trans "Show" %}" data-aria-label-inactive="{% trans "Hide" %}"></span>
                </div>
            </div>
            <div class="panel-collapse collapse when-scripting" id="policy-changes"
                 aria-labelledby="policy-changes-header" aria-live="off">
                <div class="panel-body">
                    {{ changes_summary|safe }}
                </div>
            </div>
        </div>
        <hr class="sr-only" />
    {% endif %}

    <br />
    {{ view.policy_content }}

    <blockquote>
        <p class="clearfix"></p>
        <small id="policy-validity-note" class="pull-right" role="note">
            {% language 'eo' %}
                Tiu ĉi politiko estas en efiko ekde {{ effective_date }}.
            {% endlanguage %}
        </small>
        <p class="clearfix"></p>
    </blockquote>
{% endblock page %}
