{% extends 'hosting/base.html' %}
{% load i18n %}

{% block head_title %}{% trans "Supervisors" %}{% endblock %}

{% block page_class %} page{% endblock %}

{% block page %}

    <h1>{% trans "Supervisors" %}</h1>

    <p class="well">
        Ni serĉas Landajn Organizantojn! Se ne estas nomo apud lando, tio signifas, ke la posteno estas vaka kaj ni bezonas vin! <br>
        Se vi volas iĝi LO, bonvolu sendi mesaĝon al <a href="mailto:saluton [cxe] pasportaservo.org">saluton [cxe] pasportaservo.org</a> Dankon!
    </p>

    <ul class="list-group">
        <li class="list-group-item list-group-item-info">Taskoj de la Landaj Organizantoj</li>

        <li class="list-group-item">Esti la kontaktulo por homoj de la lando, kiuj volas informiĝi pri PS, precipe tiuj kiuj ne havas facilan retaliron.</li>

        <li class="list-group-item">Kontakti kaj peri petojn pri aliĝo, ŝanĝo, malaliĝo k.s. de membroj de PS, ĉefe kiuj ne havas facilan retaliron.</li>

        <li class="list-group-item">Kontroli presprovaĵon de la papera adreslibro de PS rilate al landaj skribkutimoj (formo de adresoj, telefonnumeroj k.s.).</li>

        <li class="list-group-item">Helpi informi pri PS per komunikiloj de la landa movado (revuoj, forumoj, dissendolistoj ktp.) kaj instigi homojn al uzado kiel gastoj kaj kiel gastigantoj.</li>
    </ul>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>{% trans "code"|capfirst %}</th>
                <th>{% trans "country"|capfirst %}</th>
                <th>{% trans "Supervisors" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for country in view.countries %}
                <tr>
                    <td>{{ country.code }}</td>
                    <td>
                        <a class="btn btn-primary"  href="{% url "country_place_list" country.code %}">
                            {{ country.name }}
                            <span class="badge">{{ country.place_count }}</span>
                        </a>
                    </td>
                    <td>
                        {% for supervisor in country.supervisors %}
                            <a href="{{ supervisor.get_absolute_url }}">
                                {{ supervisor }}
                            </a><br>
                        {% endfor %}
                    </td>
                    <td>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock page %}
