{% extends 'hosting/base.html' %}
{% load i18n static %}

{% block head_title %}{% trans "Supervisors" %}{% endblock %}

{% block page_class %} page{% endblock %}

{% block page %}

    <h1>Landaj Organizantoj</h1>

    <p class="well">
        Ni serĉas Landajn Organizantojn! Se ne estas nomo apud lando, tio signifas, ke la posteno estas vaka kaj ni bezonas vin! <br>
        Se vi volas iĝi LO, bonvolu sendi mesaĝon al <a href="mailto:saluton [cxe] pasportaservo.org">saluton [cxe] pasportaservo.org</a> Dankon!
    </p>

    <ul class="list-group">
        <li class="list-group-item list-group-item-info">Taskoj de la Landaj Organizantoj</li>

        <li class="list-group-item">Esti la kontaktulo por homoj de la lando, kiuj volas informiĝi pri PS, precipe tiuj kiuj ne havas facilan retaliron.</li>

        <li class="list-group-item">Kontakti kaj peri petojn pri aliĝo, ŝanĝo, malaliĝo k.s. de membroj de PS, ĉefe kiuj ne havas facilan retaliron.</li>

        <li class="list-group-item">Kontroli presprovaĵon de la papera adreslibro de PS rilate al landaj skribkutimoj (formo de adresoj, telefonnumeroj k.s.).</li>

        <li class="list-group-item">Helpi informi pri PS per komunikiloj de la landa movado (revuoj, forumoj, dissendolistoj ktp.) kaj instigi homojn al uzado kiel gastoj kaj kiel gastigantoj.</li>
    </ul>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Lando</th>
                <th>Respondeculo</th>
                <th>Uzantnomo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ALBANIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>ALĜERIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>ANGOLO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>ARGENTINO</td>
                <td>Martin SCHÄFFER</td>
                <td><a href="/profilo/1950/Esperantst">Esperantst</a></td>
            </tr>
            <tr>
                <td>ARMENIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>AŬSTRALIO</td>
                <td>John GALLAGHER</td>
                <td>instruu</td>
            </tr>
            <tr>
                <td>AŬSTRIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>BAHAMO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>BELGIO</td>
                <td>Ben INDESTEGE</td>
                <td>vivanto</td>
            </tr>
            <tr>
                <td>BENINO</td>
                <td>Francois HOUNSOUNOU</td>
                <td></td>
            </tr>
            <tr>
                <td>BJELORUSIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>BOSNIO-HERCEGOVINO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>BRAZILO</td>
                <td>Rosa Maria MATTOS</td>
                <td>rozinjo</td>
            </tr>
            <tr>
                <td>BRITIO</td>
                <td>Paul ROBERTS</td>
                <td>paulmr</td>
            </tr>
            <tr>
                <td>BRITIO</td>
                <td>Geoffrey WOOD</td>
                <td></td>
            </tr>
            <tr>
                <td>BULGARIO</td>
                <td>Lachezar KRASTEV</td>
                <td></td>
            </tr>
            <tr>
                <td>BURKINO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>BURUNDO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>ĈEĤIO</td>
                <td>Vlasta PIŠTÍKOVÁ</td>
                <td><a href="/profilo/720/VLASTA">VLASTA</a></td>
            </tr>
            <tr>
                <td>ĈILIO</td>
                <td>Martin SCHÄFFER</td>
                <td><a href="/profilo/1950/Esperantst">Esperantst</a></td>
            </tr>
            <tr>
                <td>ĈINIO</td>
                <td>Wang</td>
                <td></td>
            </tr>
            <tr>
                <td>DANIO</td>
                <td>Jonas DALMOSE</td>
                <td>Dalmose</td>
            </tr>
            <tr>
                <td>DOMINIKO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>EGIPTIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>ESTONIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>FINNLANDO</td>
                <td>TUISKU Raimo</td>
                <td></td>
            </tr>
            <tr>
                <td>FRANCIO</td>
                <td>Sylvie ROQUES</td>
                <td><a href="/profilo/418/sudulino">sudulino</a></td>
            </tr>
            <tr>
                <td>FRANCIO 2</td>
                <td>Yves BACHIMONT</td>
                <td>vivakvo</td>
            </tr>
            <tr>
                <td>GANAO</td>
                <td>Alfred KABINA ARTHUR </td>
                <td></td>
            </tr>
            <tr>
                <td>GERMANIO</td>
                <td>Andi MÜNCHOW</td>
                <td><a href="/profilo/196/andi">andi</a></td>
            </tr>
            <tr>
                <td>GREKIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>GVATEMALO</td>
                <td>Martin SCHÄFFER</td>
                <td><a href="/profilo/1950/Esperantst">Esperantst</a></td>
            </tr>
            <tr>
                <td>HINDIA UNIO (BARATO)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>HISPANIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>HUNGARIO</td>
                <td>Sandor HIDEG</td>
                <td>SandorHideg</td>
            </tr>
            <tr>
                <td>IRANO</td>
                <td>IREJO</td>
                <td>irejo</td>
            </tr>
            <tr>
                <td>IRLANDO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>ISLANDO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>ISRAELO</td>
                <td>Jehoŝua TILLEMAN</td>
                <td>Esperantoil</td>
            </tr>
            <tr>
                <td>ITALIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>JAPANIO</td>
                <td>Hiroshi YAJIMA</td>
                <td>jagxi</td>
            </tr>
            <tr>
                <td>KANADO</td>
                <td>Jevgenia Amis</td>
                <td>Jxenja_A</td>
            </tr>
            <tr>
                <td>KAZAĤIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>KOLOMBIO</td>
                <td>Martin SCHÄFFER</td>
                <td><a href="/profilo/1950/Esperantst">Esperantst</a></td>
            </tr>
            <tr>
                <td>KOMOROJ</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>KONGO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>KONGO (Demokratia Republiko)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>KOREA RESPUBLIKO</td>
                <td>Seung Yun LEE</td>
                <td><a href="/profilo/488/juncxjo">juncxjo</a></td>
            </tr>
            <tr>
                <td>KOSTARIKO</td>
                <td>Martin SCHÄFFER</td>
                <td><a href="/profilo/1950/Esperantst">Esperantst</a></td>
            </tr>
            <tr>
                <td>KROATIO</td>
                <td>KEJO</td>
                <td></td>
            </tr>
            <tr>
                <td>KUBO</td>
                <td>Guillermo Bes Salazar</td>
                <td>Guillermo</td>
            </tr>
            <tr>
                <td>LATVIO</td>
                <td>Guntars BRALIS</td>
                <td></td>
            </tr>
            <tr>
                <td>LITOVIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>LUKSEMBURGIO</td>
                <td>Ben INDESTEGE</td>
                <td>vivanto</td>
            </tr>
            <tr>
                <td>MADAGASKARO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>MAKEDONIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>MALTO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>MEKSIKO</td>
                <td>Martin SCHÄFFER</td>
                <td><a href="/profilo/1950/Esperantst">Esperantst</a></td>
            </tr>
            <tr>
                <td>MOLDAVIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>MONGOLIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>NEDERLANDO</td>
                <td>Juri SMOLDERS</td>
                <td>muelistido</td>
            </tr>
            <tr>
                <td>NEPALO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>NIĜERIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>NIKARAGVO</td>
                <td>Martin SCHÄFFER</td>
                <td><a href="/profilo/1950/Esperantst">Esperantst</a></td>
            </tr>
            <tr>
                <td>NORVEGIO</td>
                <td>Leif Arne STORSET</td>
                <td>lastorset</td>
            </tr>
            <tr>
                <td>NOV-ZELANDO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>PAKISTANO</td>
                <td>Jawaid EAHSAN</td>
                <td>saluton123</td>
            </tr>
            <tr>
                <td>POLLANDO</td>
                <td>Arkadiusz ZYCHEWICZ</td>
                <td>arek</td>
            </tr>
            <tr>
                <td>PORTUGALIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>REUNIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>RUMANIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>RUSIO</td>
                <td>Danil KAPITONOV</td>
                <td>danil_k</td>
            </tr>
            <tr>
                <td>SAMOO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>SENEGALO</td>
                <td>Alfonse Diatta</td>
                <td></td>
            </tr>
            <tr>
                <td>SERBIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>SLOVAKIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>SLOVENIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>SUD-AFRIKO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>SVEDIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>SVISLANDO</td>
                <td>Luc ALLEMAND</td>
                <td><a href="/profilo/597/Luko">Luko</a></td>
            </tr>
            <tr>
                <td>TAĜIKIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>TAJLANDO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>TAJVANO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>TANZANIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>TOGOLANDO</td>
                <td>Adjevi ADJE</td>
                <td>senlima amikeco</td>
            </tr>
            <tr>
                <td>TURKIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>UKRAINIO</td>
                <td>Volodimir HORDIJENKO</td>
                <td>Volo</td>
            </tr>
            <tr>
                <td>U A E</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>URUGVAJO</td>
                <td>Martin SCHÄFFER</td>
                <td><a href="/profilo/1950/Esperantst">Esperantst</a></td>
            </tr>
            <tr>
                <td>USONO</td>
                <td>Daniel CUTHBERT</td>
                <td>Cuthbert</td>
            </tr>
            <tr>
                <td>UZBEKIO</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>VENEZUELO</td>
                <td>Martin SCHÄFFER</td>
                <td><a href="/profilo/1950/Esperantst">Esperantst</a></td>
            </tr>
            <tr>
                <td>ZIMBABVO</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

{% endblock page %}
