{% extends 'core/base.html' %}
{% load i18n static %}

{% block head_title %}Kondiĉoj{% endblock %}

{% block page_class %} page{% endblock %}

{% block page %}
    <h1>Kondiĉoj por la uzado de Pasporta Servo</h1>

    <blockquote>
        Pasporta Servo estas servo de Tutmonda Esperantista Junulara Organizo (TEJO).
        Ĝiaj celoj estas faciligi vojaĝadon al esperantistoj, kaj tiel helpi al la
        starigo de kontaktoj trans limoj de lingvoj, kulturoj kaj generacioj.
    </blockquote>
    <blockquote>
        Gastoj kaj gastigantoj devas scipovi la internacian lingvon Esperanto.
    </blockquote>
    <blockquote>
        Gastoj rajtas laŭ interkonsento senpage tranokti ĉe la gastigantoj. Pri aliaj
        eventualaj servoj aŭ komunaj aktivecoj kiel manĝoj, ĉiĉeronado aŭ simile, la
        gastigantoj kaj la gastoj interkonsentu.
    </blockquote>
    <blockquote>
        Pasporta Servo rajtas esti uzata nur por la menciitaj celoj kaj ne por aliaj,
        kiel ekzemple helpopetoj, korespondopetoj, invitleteroj, anoncoj, varbado, ktp.
    </blockquote>
    <blockquote>
        La gastoj devas respekti la regulojn kaj kondiĉojn de la gastigantoj laŭ la
        informoj en la PS-paĝaro kaj laŭ eventuala interkonsento.
    </blockquote>
    <blockquote>
        Gastigantoj kaj gastoj raportu al la PS-teamo pri eventuala misuzo aŭ
        malrespekto de reguloj de PS fare de aliaj uzantoj. Pro la naturo de la servo,
        ni ne povas garantii la ĝustecon de la informoj, nek akcepti ajnan respondecon
        okaze de misuzo.
    </blockquote>
{% endblock page %}
