{% extends 'hosting/base.html' %}
{% load i18n static %}

{% block head_title %}Terminoj kaj kondiĉoj{% endblock %}

{% block page_class %} page{% endblock %}

{% block page %}
    <h1>Kondiĉoj por la uzado de Pasporta Servo</h1>

    <p>
        Pasporta Servo estas servo de la Tutmonda Esperantista Junulara Organizo (TEJO). Ĝiaj celoj estas faciligi vojaĝadon al Esperantistoj, kaj tiel helpi al la starigo de kontaktoj trans limoj de lingvoj, kulturoj kaj generacioj.
    </p>
    <p>
        Gastoj kaj gastigantoj devas scipovi la Internacian Lingvon Esperanto.
    </p>
    <p>
        Gastoj rajtas laŭ interkonsento je senpaga tranokto ĉe la gastiganto. Pri eventualaj servoj aŭ komunaj aktivecoj kiel manĝoj,
        ĉiĉeronado kaj simile la gastiganto kaj la gasto interkonsentu.
    </p>
    <p>
        Pasporta Servo rajtas esti uzata nur por la menciitaj celoj kaj ne por aliaj kiel ekz. helpopetoj, korespondopetoj, anoncoj, varbado…
    </p>
    <p>
        La gasto devas respekti la regulojn kaj kondiĉojn de la gastiganto laŭ la informoj en la paĝaro kaj interkonsento.
    </p>
    <p>
        Gastigantoj kaj gastoj raportu al la PS-teamo pri eventuala misuzo aŭ malrespekto de reguloj de PS fare de aliaj uzantoj. Pro la naturo de la servo, ni ne povas garantii la ĝustecon de la informoj, nek akcepti ajnan respondecon kaze de misuzo.
    </p>

{% endblock page %}
