{% load i18n %}

<!-- Inline styling for the map container. Note that only 1 map per page is possible. -->
<style>
    .map-widget {
        {% if not admin_site %}
            border: solid 1px #e3e3e3;
            border-radius: 3px;
            padding: 1px;
        {% endif %}
    }
    #map {
        text-align: initial;
        height: 400px;
    }
    @media (max-width: 479px) {
        #map { height: 250px };
    }
    .mapboxgl-marker {
        /*
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
        background: #f71;
        */
    }
    {% if not debug %}#{{ id }} { display: none; } {% endif %}
</style>

<div class="map-widget"><div id="map"></div></div>
<noscript>
    <style>#map { display: none; }</style>
    <br />
    <div class="alert alert-small alert-danger text-center">
        {% trans "The map requires JavaScript and the WebGL technology." %}
    </div>
    <br />
</noscript>

<p class="{% if admin_site %}help{% else %}help-block{% endif %}">
    {% trans "Select manually the most suitable point on the map." %}
</p>
{% if 'data-selectable-zoom' in widget.attrs %}
    <p class="{% if admin_site %}help{% else %}help-block{% endif %}">
        <span style="font-size: 90%; font-style: italic;">
        {% blocktrans trimmed %}
            It will be possible to register the point when the resolution
            of the map allows for visible distances of about 1km or less.
        {% endblocktrans %}
        </span>
    </p>
{% endif %}
<textarea id="{{ id }}" class="required {{ widget.attrs.class }} {% if admin_site %}vTextField{% endif %}" cols="54" rows="2" name="{{ name }}"
          {% for name, value in widget.attrs.items %}{% if name|slice:":5" == "data-" %}{{ name }}="{{ value|stringformat:'s' }}" {% endif %}{% endfor %}>{% spaceless %}
    {{ serialized }}
{% endspaceless %}</textarea>
