@font-face {
    font-family: Geotica;
    src: url('../fonts/Geotica_Three-webfont.eot');
    src: url('../fonts/Geotica_Three-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Geotica_Three-webfont.woff') format('woff'), url('../fonts/Geotica_Three-webfont.ttf') format('truetype'), url('../fonts/Geotica_Three-webfont.svg#glyphicons_halflingsregular') format('svg');
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.edit-buttons {
    float: right;
    margin-bottom: 1em;
}

.btn-vert-space {
    margin-bottom: 5px;
}

.glyphicon-stack-normal,
.glyphicon-stack-large {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.glyphicon-stack-normal {
    width: 1em;
    height: 1em;
    line-height: 1em;
} 
.glyphicon-stack-large {
    width: 2em;
    height: 2em;
    line-height: 2em;
}
.glyphicon-stackbit-1x,
.glyphicon-stackbit-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.glyphicon-stackbit-1x {
    line-height: inherit;
}
.glyphicon-stackbit-2x {
    font-size: 1.5em;
}

.visible-xxs-block,
.visible-xxs-inline,
.visible-xxs-inline-block {
    display: none !important;
}


/* Message */
.message {
    position: relative;
    background: #4cae4c;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 1em 0;
    text-align: center;
    box-shadow: inset rgba(0,0,0,.6) 0 -10px 10px -10px;
}
.message a {
    color: white;
    opacity: .8;
    text-decoration: underline;
}
.message a:focus,
.message a:active,
.message a:hover {
    opacity: 1;
}
.message a.close {
    position: absolute;
    right: .5em;
    top: 8px;
    font-size: 40px;
    color: black;
    text-decoration: none;
    opacity: .3;
    text-shadow: rgba(0,0,0,0.2) -2px 0, rgba(0,0,0,0.2) 0 -2px,
             rgba(255,255,255,0.2) 2px 0, rgba(255,255,255,0.2) 0 2px,
             rgba(0,0,0,0.2) -2px -2px, rgba(255,255,255,0.2) 2px 2px;
}
.message a.close:focus,
.message a.close:active,
.message a.close:hover {
    color: #c00;
    opacity: .5;
    outline: none;
}


/* General header. */
header {
    color: #fff;
    background: #f71;
    padding: 0.5em 0;
    margin-bottom: 1em;
}
header a {
    color: #fff;
}
header a:hover {
    color: #fff;
}
header .links {
    font-weight: bold;
    padding-top: 0.5em;
    text-align: right;
}
header #title {
    font-family: Geotica, sans-serif;
    font-size: 1.6em;
}
header #title a:hover {
    text-decoration: none;
}
header #subtitle {
    padding-top: 0.5em;
}

header .enveloppe span {
    font-size: 1.3em;
}

header.home {
    margin-bottom: 0;
}

/* Header on home page */
header.home .links {
    text-align: center;
}

header.home #title {
    font-size: 7em;
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 0.25em;
}

header.home #title small {
    font-size: .3em;
    opacity: .5;
}

header.home #title small:hover {
    cursor: help;
}

header.home #subtitle {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2em;
    font-weight: bold;
}

header.home form.search {
    margin-bottom: 2em;
}


/* Search & Accommodation details */
#page.search form.search{
    margin-bottom: 1em;
}
.place-list {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}
.place-detail .name,
.place-list .name {
    font-weight: bold;
}
.place-detail .status,
.place-list .status {
    text-align: right;
}
.place-list .status {
    font-size: 0.8em;
    color: #666;
}
.place-overview .status {
    font-size: 0.6em;
}
.place-detail .status .place-marker {
    color: #f71;
}
.place-detail .status .place-availability {
    color: #666;
    left: 1pt; 
    top: 1pt;
}
.place-list .avatar {
    text-align: center;
}
.place-list .avatar img {
    width: 100%;
    max-width: 100px;
}
.place-detail .owner .avatar {
    padding-right: 0;
}


/* Accomodation */
.owner {
    margin-bottom: 1em;
}
.owner img {
    width: 100%;
    max-width: 140px;
}
.base-form {
    text-align: center;
    margin-top: 1em;
}
.register label, .login label {
    display: none;
}
.base-form h4 {
    margin-top: 0;
}
.register .form-group:last-of-type {  /* Hiding honeypot */
    position: absolute;
    top: -10000px;
}
p.tip {
    font-size: 0.8em;
}
.map iframe {
    height: 150px;
}
.description-small {
    margin-top: 1em;
    margin-bottom: 1em;
}


/* Profile */
.profile-avatar img {
    width: 100%;
    max-width: 140px;
}
.profile-avatar {
    margin-right: 2em;
}

.list-vertical-align {
    min-height: 3.5em;
}
.list-vertical-align .details {
    margin-top: .5em;
    margin-bottom: 0em;
}
.list-vertical-align .member,
.list-vertical-align .number {
    font-weight: bold;
    margin: 0 1em 0 .5em;
}
.list-vertical-align .number {
    white-space: nowrap;
}

.authorized-user {
    position: relative;
    top: .25em;
}


/* Footer */
footer {
    text-align: center;
    padding: 3em 0;
}

#home-explain {
    padding-top: 5em;
    padding-bottom: 5em;
}

#home-explain.loaded {
    background: url('../img/home/woman-on-couch.jpg') no-repeat center center / cover transparent;
}

#home-explain p {
    font-size: 5em;
    text-align: center;
    font-weight: bold;
}


/* Forms */
#id_conditions_chosen .chosen-choices {
    padding: 2px;
    padding-left: 5px;
}
#id_conditions_chosen .chosen-choices input[type="text"] {
    height: 26px;
    width: 15px !important;
}


/* XXS */
@media (max-width: 480px) {
    .visible-xxs-block {
        display: block !important;
    }
    .visible-xxs-inline {
        display: inline !important;
    }
    .visible-xxs-inline-block {
        display: inline-block !important;
    }
    .hidden-xxs {
        display: none !important;
    }
    .list-vertical-align .member {
        margin-right: .5em;
    }
    .list-vertical-align .details .comment {
        font-size: 14px;
    }
}
/* XS */
@media (max-width: 767px) {
    header.home #title {
        font-size: 4em;
    }
    .owner h1 {
        margin-top: 0;
        font-size: 24px;
    }
    h2.owner {
        font-size: 24px;
    }
}
/* SM */
@media (min-width: 768px) {
    .map iframe {
        border-radius: 4px;
        height: 300px;
    }
    #home-explain .desc {
        padding-top: 1em;
    }
}
/* MD */
@media (min-width: 992px) {
    header.home form.search {
        margin-bottom: 2em;
    }
    header.home #title {
        margin-top: 1em;
        padding-bottom: 0.5em;
    }
    .map iframe {
        border-radius: 4px;
        height: 500px;
    }
    #home-explain .desc {
        font-size: 1.8em;
        padding-top: 2em;
    }
}
/* LG */
@media (min-width: 1170px) {
    header.home form.search {
        margin-bottom: 8em;
    }
    header.home #title {
        margin-top: 1em;
        padding-bottom: 1em;
    }
    #home-explain {
        padding-top: 15em;
        padding-bottom: 15em;
    }
}
