@font-face {
    font-family: Geotica;
    src: url('../fonts/Geotica_Three-webfont.eot');
    src: url('../fonts/Geotica_Three-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Geotica_Three-webfont.woff') format('woff'), url('../fonts/Geotica_Three-webfont.ttf') format('truetype'), url('../fonts/Geotica_Three-webfont.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
    font-family: "PT Sans";
    src: url('//fonts.gstatic.com/s/ptsans/v8/KaZ3WtsNp1VA4zaG9Ax95g.eot');
    src: local('PT Sans'), local('PTSans-Regular'), url('//fonts.gstatic.com/s/ptsans/v8/GdZvpAq9shJukTEvSQbePw.woff') format('woff'), url('//fonts.gstatic.com/s/ptsans/v8/8d6bGRHQjSQfnRvIX_v_pwLUuEpTyoUstqEm5AMlJo4.ttf') format('truetype');
}

body, .same-as-body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.edit-buttons {
    float: right;
    margin-bottom: 1em;
}

.alert.alert-small {
    padding: 6px 12px;
    font-size: 14px;
}

.text-muted .glyphicon {
    color: #999;
}
.text-label-primary {
    color: #428bca;
}
.text-label-success {
    color: #5cb85c;
}
.text-label-info {
    color: #5bc0de;
}
.text-label-warning {
    color: #f0ad4e;
}
.text-label-danger {
    color: #d9534f;
}

.btn-vert-space {
    margin-bottom: 5px;
}
.btn-vert-space-even,
.anchor-vert-space-even {
    margin-top: 2px;
    margin-bottom: 2px;
}

.glyphicon-stack-normal,
.glyphicon-stack-large {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.glyphicon-stack-normal {
    width: 1em;
    height: 1em;
    line-height: 1em;
}
.glyphicon-stack-large {
    width: 2em;
    height: 2em;
    line-height: 2em;
}
.glyphicon-stackbit-1x,
.glyphicon-stackbit-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.glyphicon-stackbit-1x {
    line-height: inherit;
}
.glyphicon-stackbit-2x {
    font-size: 1.5em;
}

.visible-xxs-block,
.visible-xxs-inline,
.visible-xxs-inline-block {
    display: none !important;
}

.row.vertical-align {
    display: flex; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox;
    flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row;
}
.row.vertical-align > [class^="col-"],
.row.vertical-align > [class*=" col-"] {
    display: flex; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox;
    align-items: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center;
}


/* Message */
.message {
    position: relative;
    color: white;
    font-weight: bold;
    padding: .8em 3em;
    text-align: center;
    box-shadow: inset rgba(0,0,0,.6) 0 -10px 10px -10px;
}
.message.debug { background: #aa4a86; }
.message.info { background: #40708a; }
.message.success { background: #4cae4c; }
.message.warning { background: #d99c5f; }
.message.error { background: #d95f5f; }

.message a {
    color: white;
    opacity: .8;
    text-decoration: underline;
}
.message a:focus,
.message a:active,
.message a:hover {
    opacity: 1;
}
.message .close {
    position: absolute;
    right: .5em;
    top: 8px;
    font-size: 1.6em;
    color: black;
    opacity: .3;
    text-shadow: rgba(0,  0,  0,  0.2) -2px  0,   rgba(0,  0,  0,  0.2) 0  -2px,
                 rgba(255,255,255,0.2)  2px  0,   rgba(255,255,255,0.2) 0   2px,
                 rgba(0,  0,  0,  0.2) -2px -2px, rgba(255,255,255,0.2) 2px 2px;
}
.message .close:focus,
.message .close:active,
.message .close:hover {
    color: #c00;
    opacity: .5;
    outline: none;
}


/* General header. */
header {
    color: #fff;
    background: #f71;
    padding: 0.5em 0;
    margin-bottom: 1em;
}
header a {
    color: #fff;
}
header a:hover {
    color: #fff;
}
header .links {
    font-weight: bold;
    padding-top: 0.5em;
    text-align: right;
}
header #title {
    font-family: Geotica, sans-serif;
    font-size: 1.6em;
}
header #title a:hover {
    text-decoration: none;
}
header #subtitle {
    padding-top: 0.5em;
}

header .enveloppe span {
    font-size: 1.3em;
}

header.home {
    margin-bottom: 0;
}

/* Header on home page */
header.home .links {
    text-align: center;
}

header.home #title {
    font-size: 7em;
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 0.25em;
}

header.home #title small {
    font-size: .3em;
    opacity: .5;
}

header.home #title small:hover {
    cursor: help;
}

header.home #subtitle {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2em;
    font-weight: bold;
}

header.home form.search {
    margin-bottom: 2em;
}


/* Search & Accommodation details */
#page.search form.search{
    margin-bottom: 1em;
}
.place-list {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}
.place-detail .name,
.place-list .name {
    font-weight: bold;
}
.place-detail .status,
.place-list .status:not(.anchor-group) {
    text-align: right;
}
.place-list .status {
    font-size: 0.8em;
    color: #666;
}
.place-overview .status {
    font-size: 0.6em;
}
.place-list .status .place-anchor {
    width: 2.5ex;
    height: 2.5ex;
    vertical-align: middle;
}
.place-overview .place-anchor {
    width: 2.0ex;
    height: 2.0ex;
    vertical-align: bottom;
}
.anchor-group {
    margin-top: 3px;
}
.anchor-group-item {
    display: inline-block;
}
.anchor-group-item:not(:last-child) {
    margin-right: .5ex;
}
.place-detail .status .place-marker {
    color: #f71;
}
.place-detail .status .place-availability {
    color: #666;
    top: .1em;
}
.glyphicon-stack-normal > .place-availability {
    left: .3em;
}
.glyphicon-stack-large > .place-availability {
    left: .1em;
}
.place-list .avatar {
    text-align: center;
}
.place-list .avatar img {
    width: 100%;
    max-width: 100px;
}
.place-detail .owner .avatar {
    padding-right: 0;
}
.description-small {
    margin-top: 1em;
    margin-bottom: 1em;
}
.place-overview .description-short {
    display: inline-block;
    position: relative;
    top: .2ex;
}
.place-overview .description-short .glyphicon {
    position: relative;
    top: .3ex;
}
.place-overview .description-prefix {
    position: relative;
    top: .45ex;
}
.anchor-notify + .popover {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    opacity: 0.95;
    text-align: center;
}
.anchor-notify + .popover.bottom > .arrow {
    border-bottom-color: #bce8f1;
}
.anchor-notify + .popover.left > .arrow {
    border-left-color: #bce8f1;
}
.anchor-notify + .popover.bottom > .arrow:after {
    border-bottom-color: #d9edf7;
}
.anchor-notify + .popover.left > .arrow:after {
    border-left-color: #d9edf7;
}


/* Accomodation */
.owner {
    margin-bottom: 1em;
}
.owner img {
    width: 100%;
    max-width: 140px;
}
.base-form {
    text-align: center;
    margin-top: 1em;
}
.owner .register {
    margin-top: 1em;
}
.register label, .login label {
    display: none;
}
.base-form h4 {
    margin-top: 0;
}
.register .form-group:last-of-type {  /* Hiding honeypot */
    position: absolute;
    top: -10000px;
}
p.tip {
    font-size: 0.8em;
}
.map .leaflet-container {
    min-height: 300px;
}


/* Profile */
.profile-avatar img {
    width: 100%;
    max-width: 140px;
}
.profile-avatar {
    margin-right: 2em;
}
@media (max-width: 540px) {
    .owner-avatar {
        display: inline-block;
        position: relative;
        cursor: zoom-in;
    }
    .owner-avatar:after {
        font-family: 'Glyphicons Halflings';
        content: attr(data-content);
        position: absolute;
        bottom: -5px;
        right: -1px;
        color: #eee;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
    }
    .mfp-wrap {
        position: fixed !important;
        top: 0px !important;
    }
}

.list-vertical-align {
    min-height: 3.5em;
}
.list-vertical-align .details {
    margin-top: .5em;
    margin-bottom: 0em;
}
.list-vertical-align .member,
.list-vertical-align .number {
    font-weight: bold;
    margin: 0 1em 0 .5em;
}
.list-vertical-align .number {
    white-space: nowrap;
}

.authorized-user {
    position: relative;
    top: .1em;
}


/* Footer */
footer {
    text-align: center;
    padding: 3em 0;
}

#home-explain {
    padding-top: 5em;
    padding-bottom: 5em;
}

#home-explain.loaded {
    background: url('../img/home/woman-on-couch.jpg') no-repeat center center / cover transparent;
}

#home-explain p {
    font-size: 5em;
    text-align: center;
    font-weight: bold;
}


/* Forms */
#id_conditions_chosen .chosen-choices {
    padding: 2px;
    padding-left: 5px;
}
#id_conditions_chosen .chosen-choices input[type="text"] {
    height: 26px;
    width: 15px !important;
}

*[type="password"] + .progress,
*[type="password"] + .popover + .progress {
    margin-top: 2px;
}
*[type="password"] + .progress .password-verdict,
*[type="password"] + .popover + .progress .password-verdict {
    float: right;
    margin-right: 1ex;
}

header:not(.home) #subtitle,
.help-block,
*[type="password"] + .progress .password-verdict,
*[type="password"] + .popover + .progress .password-verdict {
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.help-block {
    font-size: 0.9em;
}

.alert.flyover {
    margin-top: -100px;
    overflow: hidden;
    position: fixed;
    top: 0;
    opacity: 0.92;
    z-index: 1050;
    transition: margin-top 1s, opacity .8s linear; -webkit-transition: margin-top 1s, opacity .8s linear; -moz-transition: margin-top 1s, opacity .8s linear; -o-transition: margin-top 1s, opacity .8s linear;
}
.alert.flyover.in {
    margin-top: -13px;
}
.alert.flyover.out {
    opacity: 0;
}


/* XXS */
@media (max-width: 479px) {
    .visible-xxs-block {
        display: block !important;
    }
    .visible-xxs-inline {
        display: inline !important;
    }
    .visible-xxs-inline-block {
        display: inline-block !important;
    }
    .hidden-xxs {
        display: none !important;
    }
    .col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
        float: left;
    }
    .col-xxs-12 {
        width: 100%;
    }
    .col-xxs-11 {
        width: 91.66666667%;
    }
    .col-xxs-10 {
        width: 83.33333333%;
    }
    .col-xxs-9 {
        width: 75%;
    }
    .col-xxs-8 {
        width: 66.66666667%;
    }
    .col-xxs-7 {
        width: 58.33333333%;
    }
    .col-xxs-6 {
        width: 50%;
    }
    .col-xxs-5 {
        width: 41.66666667%;
    }
    .col-xxs-4 {
        width: 33.33333333%;
    }
    .col-xxs-3 {
        width: 25%;
    }
    .col-xxs-2 {
        width: 16.66666667%;
    }
    .col-xxs-1 {
        width: 8.33333333%;
    }
    .list-vertical-align .member {
        margin-right: .5em;
    }
    .list-vertical-align .details .comment {
        font-size: 14px;
    }
}
/* XS */
@media (max-width: 767px) {
    header.home #title {
        font-size: 4em;
    }
    .owner h1 {
        margin-top: 0;
        font-size: 24px;
    }
    h2.owner {
        font-size: 24px;
    }
}
/* !XXS */
@media (min-width: 480px) {
    .row.vertical-align-not-xxs {
        display: flex; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox;
        flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row;
    }
    .row.vertical-align-not-xxs > [class^="col-"],
    .row.vertical-align-not-xxs > [class*=" col-"] {
        display: flex; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox;
        align-items: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center;
    }
    .pull-xs-left {
        float: left !important;
    }
    .pull-xs-right {
        float: right !important;
    }
}
/* SM */
@media (min-width: 768px) {
    .map > .embed-responsive {
        padding-bottom: 0;
        height: 400px;
    }
    .map iframe {
        border-radius: 4px;
        /*height: 300px;*/
    }
    #home-explain .desc {
        padding-top: 1em;
    }
}
/* MD */
@media (min-width: 992px) {
    header.home form.search {
        margin-bottom: 2em;
    }
    header.home #title {
        margin-top: 1em;
        padding-bottom: 0.5em;
    }
    .map > .embed-responsive {
        height: 450px;
    }
    .map iframe {
        /*height: 500px;*/
    }
    #home-explain .desc {
        font-size: 1.8em;
        padding-top: 2em;
    }
    .fixed-md-6 {
        width: 470px;
    }
}
/* LG */
@media (min-width: 1170px) {
    header.home form.search {
        margin-bottom: 8em;
    }
    header.home #title {
        margin-top: 1em;
        padding-bottom: 1em;
    }
    .map > .embed-responsive {
        height: 500px;
    }
    #home-explain {
        padding-top: 15em;
        padding-bottom: 15em;
    }
}
@media (min-width: 1200px) {
    .fixed-md-6 {
        width: 570px;
    }
}
