{% extends 'core/base.html' %}
{% load i18n static %}

{% block head_title %}{% trans "Map of hosts" %}{% endblock %}

{% block extra_js %}
        <script src="{% static 'maps/world-map.js' %}"></script>
{% endblock %}
{% block extra_head %}
        <link rel="stylesheet" href="{{ MAPBOX_GL_CSS }}">
        <script src="{{ MAPBOX_GL_JS }}"></script>
        <script src="{% url 'gis_endpoints' %}?format=js"></script>
{% endblock %}

{% block pre-page %}
    <div id="map" role="main" style="position: absolute; top: 52px; bottom: 0; width: 100%;"></div>
{% endblock %}
{% block page_role %}{# NONE: content is in pre-page. #}{% endblock %}

{% block footer %}{% endblock %}
{% block footer_role %}{# NONE: footer is empty here. #}{% endblock %}
