{% extends 'core/base_crispy_form.html' %}
{% load i18n static %}
{% load crispy_forms_filters %}
{% load is_invalid from profile %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'shop/js/knockout.js' %}" type="text/javascript"></script>
    <script src="{% static 'shop/js/shop.js' %}" type="text/javascript"></script>
{% endblock %}
{% block extra_css %}
    {{ block.super }}
    <style type="text/css">
        .text-padded { padding-right: calc(8px + 1em) !important }
        .currency { width: 1em; display: inline-block; }
    </style>
{% endblock %}

{% block pre-page %}
    <p style="display: none" id="product-low-price">{{ view.product.low_price }}</p>
    <p style="display: none" id="product-price">{{ view.product.price }}</p>
{% endblock %}

{% block form_before %}
    <h1 class="text-center">
        {% blocktrans with product_name=view.product.name %}Pre-order form of the {{ product_name }} book.{% endblocktrans %}
    </h1>
{% endblock %}

{% block form_title %}{% trans "Reservation" %}{% endblock %}
{% block head_title %}{% trans "Reservation" %}: {{ view.product.name }}{% endblock %}

{% block fields %}
    <h5>{% trans "First, please select the number of books you would like to reserve." %}</h5>
    <div class="btn-group" data-toggle="buttons" data-bind="foreach: amountRange">
        <label class="btn btn-default" data-bind="click: $parent.amountClicked">
            <input type="radio" name="amount-radio" autocomplete="off"> <b data-bind="text: $data">1</b>
        </label>
    </div>
    <div class="row">
        <div class="col col-xxs-7 col-xs-4 col-sm-3 col-md-5 col-lg-4" style="margin: 1em auto; float: none" data-bind="visible: productAmount() >= 10">
        {{ form.amount }}
        </div>
    </div>

    <hr />

    {{ form.discount|as_crispy_field }}

    {% if form.in_book.initial %}
        {{ form.in_book|as_crispy_field }}
    {% endif %}
{% endblock %}

{% block fields_after %}
<div class="table-responsive">
    <table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th width="20%" class="text-center">{% trans "amount" %}</th>
            <th width="20%" class="text-center">{% trans "value" %}</th>
        </tr>
    </thead>
    <tbody>
        <tr data-bind="visible: inBook">
            <td>{{ view.product.code }} {% trans "low price" %}</td>
            <td>1</td>
            <td class="text-right text-padded">{{ view.product.low_price }}</td>
        </tr>
        <tr data-bind="visible: productAmountComp() > 0">
            <td>{{ view.product.code }} </td>
            <td data-bind="text: productAmountComp"></td>
            <td data-bind="text: productSumFmt" class="text-right text-padded">{{ view.product.price }}</td>
        </tr>
        <tr>
            <td>{% trans "support" %}</td>
            <td></td>
            <td class="text-right">{{ form.support }}</td>
        </tr>
        <tr class="success" data-bind="visible: volumeDiscount">
            <td>{% trans "volume discount" %}</td>
            <td><span id="vol-discount-percent">33</span>%</td>
            <td data-bind="text: volumeDiscountFmt" class="text-right text-padded">0</td>
        </tr>
        <tr class="success" data-bind="visible: hasTejoDiscount">
            <td>{% trans "TEJO discount" %}</td>
            <td><span id="tejo-discount-percent">10</span>%</td>
            <td data-bind="text: tejoDiscountFmt" class="text-right text-padded">0</td>
        </tr>
        <tr>
            <td>{% trans "shipping" %}</td>
            <td></td>
            <td id="shipping" class="text-right text-padded">5,00</td>
        </tr>
        <tr class="info">
            <td>{% trans "total" %}</td>
            <td></td>
            <td class="text-right"><span data-bind="text: totalFmt">13,99</span><i class="currency">€</i></td>
        </tr>
    </tbody>
    </table>
</div>
    <p class="visible-xxs-block keep-margin">
        {% trans "The prices appear on the right of the scrollable table." %}
    </p>
    <p class="keep-margin">
        {% blocktrans asvar order_target_link trimmed %}
            <a href="http://katalogo.uea.org/">UEA catalogue</a>
        {% endblocktrans %}
        {% blocktrans with link=order_target_link|safe trimmed %}
            You do not have to pay now. We will contact you when it will be possible to order from the {{ link }}.
        {% endblocktrans %}
    </p>
{% endblock fields_after %}

{% block form_submit_button %}{% trans "Reserve" %}{% endblock %}

{% block form_after %}
    <aside class="col-xs-12 text-center">
        <p class="text-success">
            {% trans "Reserving the book helps us to print the right quantity." %}
            {% trans "Buying the book really helps the Pasporta Servo project." %}
        </p>
        {% if user.email|is_invalid %}
            <p class="text-danger">
                {% blocktrans trimmed %}
                    Your email address doesn't appear to be valid, we probably won't be able
                    to send messages to that address. Please check it out.
                {% endblocktrans %}
            </p>
        {% endif %}
    </aside>
{% endblock %}
