{% extends 'core/base.html' %}
{% load i18n static %}

{% block head_title %}{{ view.product.name }}, {% trans "Soon at your place!" %}{% endblock %}

{% block page %}
    <h3 class="text-center text-success">{% trans "Soon at your place!" %}</h3>

    <div class="row">
        <div class="col-xxs-12 col-xxs-push-0 col-xs-8 col-xs-push-2 col-sm-4 col-sm-push-4 text-center">
            <img src="{% get_static_prefix %}img/{{ view.product.code }}.png"
                 alt="[ {{ view.product.name }} ]" class="img-responsive" height="500px" />
        </div>
    </div>
    <h1 class="text-center">{% trans "Thank you!" %}</h1>
{% endblock page %}
