{% extends 'hosting/base.html' %}
{% load i18n bootstrap %}

{% block page %}
    {% block form_before %}{% endblock %}
    <div class="{% block form_container_class %}col-md-6 col-md-offset-3{% endblock %}">
        <div class="col-xs-12 well {% block base_form_class %}base-form{% endblock %}{% block form_block_class %}{% endblock %}">
            <h4>{% block form_title %}{% endblock %}</h4>
            <p class="tip">{% block form_tip %}{% endblock %}</p>
            <form class="form" method="POST" action="{% block form_action %}{% endblock %}">
                <div class="col-md-10 col-md-offset-1">
                    {% csrf_token %}
                    {% block fields_before %}{% endblock %}
                    {{ form|bootstrap }}
                    {% block fields_after %}{% endblock %}
                    <p class="pull-right">
                        <button type="submit" class="btn btn-primary">{% block form_submit_button %}{% trans "Submit" %}{% endblock %}</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
    {% block form_after %}{% endblock %}
{% endblock %}
