{% extends 'core/base.html' %}
{% load i18n static %}
{% load previous from utils %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/forms.js' %}"></script>
{% endblock extra_js %}

{% block page %}
    <div class="well">
        <p class="text-center text-danger">
            {% block confirmation %}{% endblock %}
        </p>
        <p class="text-center {% block extra_details_class %}{% endblock %}">
            <strong>{% block extra_details %}{% endblock %}</strong>
        </p>
        {% block extra_details_block %}{% endblock %}
    </div>

    <form action="" method="POST" class="{% block form_buttons_class %}pull-right{% endblock %}">
        {% csrf_token %}
        {% block cancel_button %}
            <a id="id_form_cancel" href="{% previous default=default_previous_page %}" data-kbdshortcut="Z-out"
               class="btn btn-default btn-vert-space"
               title="{% block form_cancel_button_title %}{% trans "Cancel operation" %}{% endblock %}">
                {% block form_cancel_button %}
                    <span class="fa fa-arrow-left" aria-hidden="true"></span> {% trans "Cancel" %}
                {% endblock %}
            </a>
        {% endblock cancel_button %}
        <span style="display: inline-block">
        {% block confirm_buttons %}
            <button id="id_form_submit" type="submit"
                    class="btn {% block form_confirm_button_class %}btn-primary{% endblock %} btn-vert-space"
                    title="{% block form_confirm_button_title %}{% trans "Delete" %}{% endblock %}">
                {% block form_confirm_button %}
                    <span class="fa fa-regular fa-trash-can" aria-hidden="true"></span> {% trans "Delete" %}
                {% endblock %}
            </button>
        {% endblock confirm_buttons %}
        </span>
    </form>
{% endblock page %}
