{% extends 'hosting/base_confirm.html' %}
{% load i18n %}

{% block head_title %}
    {% trans "Remove a family member" %}
{% endblock %}

{% block confirmation %}
    {% trans "Are you sure you want to delete this family member?" %}
{% endblock %}
{% block extra_details %}
    {{ profile.get_fullname_always_display }}
    {% if profile.birth_date %} &ensp;({{ profile.age }}) {% endif %}
{% endblock %}
{% block extra_details_class %}person-full-name{% endblock %}

{% block extra_details_block %}
    {% if view.other_places %}
        <hr />
        <div class="help-block">
            {% trans "This family member is also listed at" %}
            {% if view.other_places|length == 1 %}
                {% with p=view.other_places.0 %}
                    {% trans "A place in"|lower %}
                    <a href="{% url 'place_detail_verbose' p.pk %}" target="place_preview">{{ p }}</a>.
                {% endwith %}
            {% else %} :
                <ul>
                {% for p in view.other_places %}
                    <li> {% trans "A place in" %}
                         <a href="{% url 'place_detail_verbose' p.pk %}" target="place_preview">{{ p }}</a>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block cancel_button %}
    {% url 'profile_edit' view.place.owner.pk view.place.owner.autoslug as default_previous_page %}
    {{ block.super }}
{% endblock %}

{% block confirm_buttons %}
    {% if not profile.user_id and not profile.deleted %}
        <a href="{% url 'family_member_delete' place.pk profile.pk %}" class="btn btn-danger btn-vert-space" title="{% trans "Delete profile" %}"
           {% if view.other_places %}disabled{% endif %}>
            <span class="fa fa-regular fa-trash-can" aria-hidden="true"></span>
            <span class="hidden-xxs">{% trans "Delete profile" %}</span>
        </a>
        {% trans "Just remove" as remove_only_text %}
    {% endif %}
    <button type="submit" class="btn btn-primary btn-vert-space" title="{% trans "Remove from list of family members" %}">
        <span class="fa fa-share-from-square" aria-hidden="true"></span>
        {% if remove_only_text %}{{ remove_only_text }}{% else %}{% trans "Delete" %}{% endif %}
    </button>
{% endblock confirm_buttons %}
