{% extends 'hosting/base.html' %}
{% load i18n static %}

{% block header_class %} home{% endblock %}

{% block extra_js %}
    <script src="{% static 'hosting/js/search.js' %}"></script>
{% endblock %}

{% block header %}
    <div class="row links">
        <div class="col-xs-6 col-sm-4 col-sm-offset-2">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}?next={{ request.get_full_path|urlencode }}">{% trans "log out" %}</a>
            {% else %}
                <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">{% trans "log in" %}</a>
            {% endif %}
        </div>
        <div class="col-xs-2 col-xs-offset-2">
            {% if user.is_authenticated %}
                <a href="{% url 'profile_detail' %}">{{ user.username }}</a>
            {% else %}
                <a href="{% url 'register' %}?next={{ request.get_full_path|urlencode }}">{% trans "register" %}</a>
            {% endif %}
        </div>
        <div class="col-xs-2 col-sm-1 col-sm-offset-1 enveloppe">
            {% if user.is_authenticated %}
                <a href="{% url 'postman_inbox' %}">
                    <span class="glyphicon glyphicon-envelope"></span>
                    {{ postman_unread_count|default:"" }}
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="title">Pasporta Servo</div>
        <div class="col-md-12" id="subtitle">Gastigantoj tra la mondo</div>
    </div>
    
    <form class="form-inline row search" id="searchform" role="form" method="GET" action="{% url 'search' %}">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="form-group" style="width: 100%">
                <div class="input-group" style="width: 100%">
                    <input class="form-control" type="search" id="searchinput" name="q" placeholder="{% trans "Budapest, London, Venezuela, etc." %}">
                    <input type="hidden" id="gpsinput" name="gps_coords" value="" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="search" style="min-width: 40px; width: 50%;">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        <button class="btn btn-default" type="button" id="gps" style="min-width: 40px; width: 50%;">
                            <span class="search-marker glyphicon glyphicon-map-marker"></span>
                            <img class="search-working" style="display: none;" src="{% static 'img/gps_spinner.gif' %}" />
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>
{% endblock header %}

{% block page %}
    <div id="home-explain">
        <div class="row">
            <div class="col-xs-3 col-sm-2 col-md-2 col-md-offset-1 pic">
                <img class="img-responsive" src="{% static 'img/home/search_pic.png' %}" alt="Search icon" />
            </div>
            <div class="col-xs-9 col-sm-10 col-md-8 col-md-offset-1 desc">
                <p>
                    Find accomodation anywhere in the world.
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-3 col-sm-2 col-md-2 col-md-offset-1 pic">
                <img class="img-responsive" src="{% static 'img/home/bed.png' %}" alt="Bed icon" />
            </div>
            <div class="col-xs-9 col-sm-10 col-md-8 col-md-offset-1 desc">
                <p>
                    Register your place to welcome other esperantists.
                </p>
            </div>
        </div>
    </div>
{% endblock page %}

