{% extends 'core/base.html' %}
{% load i18n %}

{% block head_title %}
    {% trans "condition"|capfirst %} : {{ condition.get_category_display|capfirst }} : {{ condition }}
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-push-3">
            <div style="display: flex; justify-content: center;">
                {% spaceless %}
                    <span class="hosting-condition" style="border: dotted 1px #f71">
                        {{ condition.icon|safe }}
                        <span class="description">{{ condition }}</span>
                    </span>
                {% endspaceless %}
            </div>
        </div>
    </div>
{% endblock %}
