{% extends 'core/base_crispy_form.html' %}
{% load i18n %}
{% load compact from utils %}

{% block form_submit %}
    {% if admin_submit_condition %}
        <button type="submit" class="btn btn-info btn-vert-space"
                id="id_form_submit_alt" name="_save-only"
                data-kbdshortcut="Save">
            {% trans "Save without confirming" %}
        </button>
    {% endif %}
    {% if extra_submit_condition %}
        <button type="submit" class="btn btn-default btn-vert-space"
                id="id_form_submit_ext" name="{% block form_submit_extra_button_name %}{% endblock %}">
            {% block form_submit_extra_button %}{% endblock %}
        </button>
    {% endif %}
    <button type="submit" class="btn btn-primary{% if admin_submit_condition or extra_submit_condition %} btn-vert-space{% endif %}"
            id="id_form_submit" name="{% block form_submit_button_name %}_confirm{% endblock %}"
            data-kbdshortcut="{% block form_keyboard_shortcut %}{% filter compact %}
                                  {% if admin_submit_condition %} Konfirm {% else %} Save {% endif %}
                              {% endfilter %}{% endblock %}">
        {% trans "Confirm" %}
    </button>
{% endblock %}
