{% extends 'hosting/base.html' %}
{% load i18n %}

{% block page %}
    <div class="well">
        <p class="text-center text-danger">
            {% trans "Are you sure you want to delete this number?" %}
        </p>
        <p class="text-center"><strong>{{ phone.number.as_international }}</strong></p>
    </div>
        <form action="" method="post" class="pull-right">
            {% csrf_token %}
            <a href="#" onclick="history.go(-1)" class="btn btn-default">{% trans "Cancel" %}</a>
            <input type="submit" value="{% trans "Delete" %}" class="btn btn-primary" />
        </form>
{% endblock page %}
