{% extends 'hosting/base.html' %}
{% load i18n static %}

{% block page %}
    <div class="row place-detail">
        <div class="col-xs-12 col-md-6 owner">
            <div class="row">
                <div class="col-xs-3">
                    <a href="{{ place.owner.get_absolute_url }}">
                        <img src="{{ place.owner.avatar_url }}" />
                    </a>
                </div>
                <div class="col-xs-9">
                    <div class="row">
                        <p class="col-xs-8 name">
                            <a href="{{ place.owner.get_absolute_url }}">
                                {% if user in place.authorized_users.all %}
                                    {{ place.owner.full_name }}
                                {% else %}
                                    {{ place.owner.anonymous_name }}
                                {% endif %}
                            </a>
                        </p>
                        <p class="col-xs-4 status">
                            {% if place.available %}
                                <em>{% trans "available" %}</em>
                            {% else %}
                                <em>{% trans "unavailable" %}</em>
                            {% endif %}
                        </p>
                        {% if user.is_authenticated %}
                            <p class="col-xs-9 address">
                                {% if user in place.authorized_users.all %}
                                    {{ place.address }}
                                    <br />
                                {% endif %}

                                {{ place.postcode }}

                                {% if place.closest_city %}
                                    {% blocktrans with city=place.city closest_city=place.closest_city trimmed %}
                                        {{ city }}, near {{ closest_city }}
                                    {% endblocktrans %}
                                {% else %}
                                    {{ place.city }}
                                {% endif %}

                                <br />

                                {{ place.get_country_display }}
                            </p>
                        {% endif %}

                        {% if user in place.authorized_users.all %}
                            <p class="col-xs-9">
                                {% for phone in place.owner.phones.all %}
                                    {{ phone.icon }}
                                    {% if phone.country %}({{ phone.country }}){% endif %}
                                    {{ phone.number.as_international }}
                                    <em>{{ phone.comments }}</em>
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>

                </div>
            </div>

            <div class="row">
            {% if user.is_authenticated %}
                <div class="col-md-12 hidden-xs hidden-sm">
                    <h3>{% trans "Description" %}</h3>
                    {% include 'hosting/snippets/place_description.html' with description=place.description contact_before=place.contact_before max_host=place.max_host max_night=place.max_night %}

                    {% if place.family_members.all and user in place.authorized_users.all %}
                        <h3>{% trans "Family members" %}</h3>
                        <ul>
                            {% for member in place.family_members.all %}
                                <li>
                                    {{ member.full_name }}
                                    {% if member.age %}
                                        ({{ member.age }})
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% else %}
                {% include 'hosting/snippets/registration.html' %}
            {% endif %}
            </div>
        </div>

        <div class="map col-xs-12 col-md-6">
                <iframe width="100%"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="http://www.openstreetmap.org/export/embed.html?bbox={{ place.bbox }}{% if user.is_authenticated %}&amp;marker={{ place.latitude|stringformat:"f" }},{{ place.longitude|stringformat:"f" }}{% endif %}">
                </iframe>
        </div>

        {% if user.is_authenticated %}
            <div class="col-xs-12 hidden-md hidden-lg description-small">
                {% include 'hosting/snippets/place_description.html' with description=place.description contact_before=place.contact_before max_host=place.max_host max_night=place.max_night %}
            </div>

            {% if place.owner = user.profile %}
                <p class="col-xs-12 btn-group">
                    <a href="{% url 'place_update' place.pk %}" class="btn btn-success">
                        <span class="glyphicon glyphicon-pencil"></span> {% trans "Update" %}
                    </a>
                    <a href="{% url 'authorize_user' place.pk %}?next={{ request.get_full_path|urlencode }}" class="btn btn-info">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="hidden-xs">{% trans "Authorizations" %}</span>
                    </a>
                </p>
            {% else %}
                <p class="col-xs-12">
                    <a href="{% url 'postman_write' place.owner.user.username %}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-send"></span> {% trans "Write message" %}
                    </a>
                </p>
            {% endif %}
        {% endif %}


        {% if user.is_authenticated and user.profile in place.family_members.all %}
            <div>
                <div>{% trans "Short description" %}</div>
                <p>{{ place.small_description }}</p>
                <div>{% trans "Available" %}</div>
                <p>{{ place.available|yesno }}</p>
                <div>{% trans "Print in book" %}</div>
                <p>{{ place.in_book|yesno }}</p>
            </div>
        {% endif %}
    </div>
{% endblock page %}

