{% extends 'core/base_form.html' %}
{% load i18n static %}

{% block head_title %}
    {% if view.role >= roles.SUPERVISOR and place %}
        {% blocktrans %}Update {{ kin }}place{% endblocktrans %}:
        {{ place.owner.name|default:place.owner.INCOGNITO }}, {{ place.get_locality_display }}
    {% elif place %}
        {% blocktrans with kin=_("my ") %}Update {{ kin }}place{% endblocktrans %}
        ({{ place }})
    {% else %}
        {% trans "place"|title %}
        {% if view.role >= roles.SUPERVISOR %}
            {% blocktrans with name=view.create_for.name|default:_("user") %}of {{ name }}{% endblocktrans %}
            {% if not view.create_for.name %}#{{ view.create_for.id }}{% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'chosen/chosen.min.css' %}">
{% endblock %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block form_container_class %}col-xs-12 col-md-offset-2 col-md-8{% endblock %}


{% block form_submit %}
    {% if not form.location %}
        <button type="submit" class="btn btn-default btn-vert-space" id="id_form_submit_alt" name="_gotomap">
            <span class="fa fa-map-marker" aria-hidden="true"></span>
            {% trans "Confirm and edit location" %}
        </button>
    {% endif %}

    <button type="submit" class="btn btn-primary btn-vert-space" id="id_form_submit" name="_continue"
            data-kbdshortcut="{% block form_keyboard_shortcut %}Save{% endblock %}">
        {% trans "Confirm" %}
    </button>
{% endblock %}

{% block form_after %}
    <script type="text/javascript">
        $('#id_conditions, #id_country').chosen({no_results_text: "{% trans "Nothing found for" %}",});
    </script>
{% endblock form_after %}
