{% extends 'core/base.html' %}
{% load i18n static geoformat %}

{% block head_title %}
    {% trans "Find accommodation" %}
    {% if view.query %}
        {% trans "at" %} {{ view.result|format_geo_result|default:view.query.strip }}
    {% endif %}
{% endblock %}

{% block safe_page_title %}
    {% if True %}
            var anonymizedUri = document.location.origin
                + document.location.pathname.replace(/^(\/[^\/]+\/).+/, '$1QQQQQQQQ/')
                + document.location.search.replace(/([?&]ps_q=).+?(&|$)/g, '$1QQQQQQQQ$2');
            if (typeof ga !== "undefined") {
                ga('set', 'location', anonymizedUri);
            }
    {% endif %}
    {% if view.query and not view.result.latlng %}
            return document.title.replace('{{ view.query.strip|escapejs }}', 'XXXXXXXXXX');
    {% endif %}
{% endblock %}

{% block extra_js %}
        <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
{% endblock %}

{% block page_class %} search{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-8">
            <form class="search" id="searchform" role="form" method="GET" action="{% url 'search' %}">
                {% if not view.query or not view.result.point %}
                    <a class="btn btn-default pull-right" href="{% url 'world_map' %}" id="maplink"
                       title="{% trans "Map of hosts" %}" tabindex="2"
                       data-toggle="tooltip" data-placement="bottom">
                        <span class="fa fa-globe fa-lg" aria-hidden="true"></span>
                        <span class="sr-only">{% trans "Map of hosts" %}</span>
                    </a>
                {% endif %}
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="search" id="searchinput"
                               name="ps_q" value="{{ view.query }}" tabindex="1"
                               placeholder="{% trans "Search for a country, a region, or a city…" %}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" id="search" tabindex="1"
                                    title="{% trans "Search" %} {% trans "at" %} Pasporta Servo">
                                <span class="fa fa-search" aria-hidden="true"></span>
                                <span class="hidden-xs">{% trans "Search" %}</span>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h4 class="text-center" id="georesult">
    {% with result=view.result %}
        {% if result.point %}
            <p class="lead">
                {{ result|format_geo_result }}
            </p>
            <p class="maplink">
                <a href="{% url 'world_map' %}{{ result|geo_url_hash }}">{% trans "Open map of the region" %}</a>
            </p>
        {% elif view.query %}
            {% if result.error %}
                <span class="text-warning">
                    <span class="fa fa-chain-broken" aria-label="{% trans "Warning " context 'Title' %}"></span>&nbsp;
                    {% trans "&lt;Geosearch service is unreachable&gt;" %}
                </span>
                {% if debug %}
                    <button type="button" class="btn btn-xs btn-default" id="geoerror"
                            data-toggle="popover" data-placement="auto" data-content="{{ result.error }}">
                        <span class="fa fa-eye fa-lg" aria-hidden="true"></span>
                        <span class="sr-only">{% trans "Details..." %}</span>
                    </button>
                {% endif %}
                <br />
            {% endif %}
            {% blocktrans with query=view.query trimmed %}
                No results found for <em>{{ query }}</em>. Here are some active hosts!
            {% endblocktrans %}
        {% endif %}
    {% endwith %}
    </h4>

    {% if place_list %}
        <div class="row place-list"><div class="col-xs-12">{# SEPARATOR #}</div></div>
        {% include page_template %}
    {% else %}
        <div class="row place-list">
            <div class="col-xs-12 help-block text-body">
                {% if request.GET.ps_q or view.query %}
                    {% trans "Sorry, no kind hosts found…" %}
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock page %}
