{% extends 'hosting/base_form.html' %}
{% load i18n %}

{% block form_action %}{% url 'authorize_user' pk=place.pk %}?next={{ request.GET.next }}{% endblock %}
{% block form_submit_button %}<span class="glyphicon glyphicon-plus"></span> {% trans "Authorize" %}{% endblock %}

{% block form_before %}
    <h1 class="text-center">{% trans "Authorized users" %}</h1>
    <p class="col-xs-12 col-md-8 col-md-offset-2 text-center lead">
        {% trans "Authorized users can see your full address, family members and telephone numbers." %}
        {% trans "Your email still remains private." %}
    </p>
{% endblock form_before %}


{% block form_back_link %}
    <a href="{{ request.GET.next }}" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span class="hidden-xs">{% trans "Back" %}</span>
    </a>
{% endblock %}

{% block form_after %}
    <div class="clearfix"></div>

    {% for user in place.authorized_users.all %}
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <p class="col-xs-12 well">
                <a href="{% url 'authorize_user_link' place.pk user %}?next={{ request.GET.next }}"
                   class="btn-sm btn-danger pull-right"
                   title="{% trans "Remove user" %}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
                <span class="authorized-user">
                    <a href="{{ user.profile.get_absolute_url }}">
                        {{ user.profile.full_name }}
                    </a>
                </span>
            </p>
        </div>
    {% endfor %}
{% endblock form_after %}
