{% extends 'core/base.html' %}
{% load i18n static geoformat %}

{% block head_title %}
    {% trans "Find accomodation" %}
    {% if view.get_query %}
        {% trans "at" %} {{ view.get_query.strip }}
    {% endif %}
{% endblock %}

{% block page_class %} search{% endblock %}

{% block page %}
    <form class="form-inline row search" id="searchform" role="form" method="GET" action="{% url 'search' %}">
        <div class="form-group col-xs-12 col-md-offset-2 col-md-8">
            <div class="input-group" style="width: 100%">
                <input class="form-control" type="search" id="searchinput" name="ps_q" value="{{ view.get_query }}" placeholder="{% trans "Search for a country, a region, or a city…" %}">
                <span class="input-group-btn" style="width: 20%">
                    <button class="btn btn-default" type="submit" id="search" style="min-width: 40px; width: 50%;"
                            title="{% trans "Search" %} {% trans "at" %} Pasporta Servo">
                        <span class="glyphicon glyphicon-search"></span>
                        <span class="hidden-xs">{% trans "Search" %}</span>
                    </button>
                </span>
            </div>
        </div>
    </form>

    <h4 class="text-center">
      {% with result=view.result %}
        {% if result.point %}
          {{ result|format_result }}
          <p><a href="{% url 'world_map' %}{{ result|geo_url_hash }}">{% trans "Open map of the region" %}</a></p>
        {% else %}
          {% blocktrans with query=view.query trimmed %}
            No results found for <em>{{ query }}</em>. Here are some active hosts!
          {% endblocktrans %}
        {% endif %}
      {% endwith %}
      </h4>

    {% for place in place_list %}
        <div class="row place-list">
            <div class="col-xs-3 col-sm-2 col-md-1 avatar">
                <a href="{{ place.owner.get_absolute_url }}">
                    <img src="{{ place.owner.avatar_url }}" />
                </a>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-11 name">
                <div class="pull-right status">
                    {% if user.is_authenticated and place.is_blocked %}
                        <span class="label label-default">&nbsp;{% trans "unavailable" %}&nbsp;</span>
                    {% endif %}
                </div>
                <a href="{{ place.owner.get_absolute_url }}"
                   class="{% if place.available or place.owner_available %}text-as-ps{% else %}{% endif %}">
                    {% if user.is_authenticated %}
                        <span class="hidden-xxs">{{ place.owner.get_fullname_display }}</span>
                        <span class="visible-xxs-inline">{{ place.owner.anonymous_name }}</span>
                    {% else %}
                        {{ place.owner.anonymous_name }}
                    {% endif %}
                </a>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-11 address">
                <div class="pull-right">{% include 'hosting/snippets/checked.html' with object=place %}</div>
                <a href="{{ place.get_absolute_url }}">
                    {% if user.is_authenticated %}
                        {% if place.city %}<strong>{{ place.city }}</strong>{% endif %}
                        {% if place.distance %}<small>{{ place.distance.km|floatformat:0 }}&nbsp;km</small>{% endif %}
                        <br>
                        {% if place.state_province %}{{ place.state_province }}, {% endif %} {{ place.country.name }}
                    {% else %}
                        {{ place.country.name }}
                    {% endif %}
                </a>
                <div class="status anchor-group">
                    {% if user.is_authenticated %}
                        {% if place.available %}
                            <div class="anchor-group-item anchor-vert-space-even">
                            {% spaceless %}
                                <span class="place-anchor glyphicon glyphicon-home text-label-info"></span>
                                <span class="label label-info">{% trans "I'm hosting"|lower %}</span>
                            {% endspaceless %}
                            </div>
                        {% endif %}
                        {% if place.tour_guide %}
                            <div class="anchor-group-item anchor-vert-space-even">
                            {% spaceless %}
                                <object type="image/svg+xml" data="{% static 'img/city_guide.svg' %}" class="place-anchor">
                                    <img src="{% static 'img/city_guide.png' %}" class="place-anchor" />
                                </object>
                                <span class="label label-info">{% trans "I can guide around the city" %}</span>
                            {% endspaceless %}
                            </div>
                        {% endif %}
                        {% if place.have_a_drink %}
                            <div class="anchor-group-item anchor-vert-space-even">
                            {% spaceless %}
                                <object type="image/svg+xml" data="{% static 'img/city_drink.svg' %}" class="place-anchor">
                                    <img src="{% static 'img/city_drink.png' %}" class="place-anchor" />
                                </object>
                                <span class="label label-info">{% trans "I'd like to have a drink together" %}</span>
                            {% endspaceless %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        <div class="row place-list">
            <div class="col-xs-12 help-block" style="color: #333">
                {% if request.GET.ps_q or view.get_query %}
                    {% trans "Sorry, no kind hosts found…" %}
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock page %}
