{% extends 'hosting/base.html' %}
{% load i18n static %}

{% block page %}
    <div class="row">
        <div class="col-xs-12 col-md-6 owner">
            <div class="row">
                <div class="col-xs-3">
                    <img src="{{ place.owner.avatar_url }}" />
                </div>
                <div class="col-xs-9">
                    <div class="row">
                        <div class="col-xs-5 name">
                            {{ place.owner.anonymous_name }}
                        </div>
                        <div class="col-xs-4 status">
                            {% if place.booked %}
                                <em>{% trans "unavailable" %}</em>
                            {% else %}
                                <em>{% trans "available" %}</em>
                            {% endif %}
                        </div>
                    {% if user.is_authenticated %}
                        <div class="col-xs-9 address">
                            {{ place.city }}<br />
                            {{ place.country }}-{{ place.postcode }}
                        </div>
                    {% endif %}
                    </div>

                </div>
            </div>

            <div class="row">
            {% if user.is_authenticated %}
                <div class="col-md-12 hidden-xs hidden-sm">
                    <h4>{% trans "Description:" %}</h4>
                    {% include 'hosting/snippets/place_description.html' with description=place.description contact_before=place.contact_before max_host=place.max_host max_night=place.max_night %}
                </div>
            {% else %}
                {% include 'hosting/snippets/registration.html' %}
            {% endif %}
            </div>
        </div>
        
        <div class="map col-xs-12 col-md-6">
                <iframe width="100%"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="http://www.openstreetmap.org/export/embed.html?bbox={{ place.bbox }}&amp;layer=hot{% if user.is_authenticated %}&amp;marker={{ place.latitude|stringformat:"f" }},{{ place.longitude|stringformat:"f" }}{% endif %}">
                </iframe>
        </div>

        {% if user.is_authenticated %}
            <div class="col-xs-12 hidden-md hidden-lg description-small">
                {% include 'hosting/snippets/place_description.html' with description=place.description contact_before=place.contact_before max_host=place.max_host max_night=place.max_night %}
            </div>

            {% if place.owner != user.profile %}
                <div class="col-xs-12">
                    <a href="{% url 'postman_write' place.owner.user.username %}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span> {% trans "Write message" %}
                    </a>
                </div>
            {% endif %}
        {% endif %}

        {% if user.is_authenticated and user.profile in place.profile_set.all %}
            <div>
                <div>{% trans "Short description" %}</div>
                <p>{{ place.small_description }}</p>
                <div>{% trans "Booked" %}</div>
                <p>{{ place.booked|yesno }}</p>
                <div>{% trans "Available" %}</div>
                <p>{{ place.available|yesno }}</p>
                <div>{% trans "Print in book" %}</div>
                <p>{{ place.print_in_book|yesno }}</p>
            </div>
        {% endif %}
    </div>
{% endblock page %}

