{% load i18n static expression variable cache utils %}
{% load el_pagination_tags %}

    {% expr view.paginate_first_by or view.paginate_by as first_page %}
    {% expr view.paginate_by as paginate_by %}
    {% lazy_paginate first_page,paginate_by place_list %}

    {% for place in place_list %}
        <div class="row place-list">
            <div class="sr-only">&#8962;&nbsp; <em>{% trans "place"|upper %}</em></div>
            {% comment %}
                TODO {{ forloop.counter0|add:endless.page.start_index }}
                when endless-pagination fixes start_index bug
            {% endcomment %}
            <div class="col-xs-3 col-sm-2 col-md-1 avatar">
                <a href="{{ place.owner.get_absolute_url }}" tabindex="-1">
                    <img src="{{ place.owner.avatar_url }}" alt="[{% trans "avatar" %}{% if place.owner.name %}: {{ place.owner.name }}{% endif %}]" />
                </a>
            </div>
            {% expr place.available or place.owner_available as offered %}
            {% expr user.is_authenticated and place.is_blocked as unavailable %}
            <div class="{% if unavailable %}col-xxs-9 col-xs-6 col-sm-8 col-md-9{% else %}col-xs-9 col-sm-10 col-md-11{% endif %} name">
                <span class="sr-only">{% trans "profile"|capfirst %}:</span>
                <a href="{{ place.owner.get_absolute_url }}" class="{% if offered %}text-brand{% else %}{% endif %}">
                    {% if user.is_authenticated %}
                        {{ place.owner.get_fullname_display }}
                    {% else %}
                        {{ place.owner.name|default:place.owner.INCOGNITO }}
                    {% endif %}
                </a>
            </div>
            {% if unavailable %}
                <div class="col-xxs-9 col-xs-3 col-sm-2 col-md-2 status">
                    <span class="label label-default">&nbsp;{% trans "unavailable" %}&nbsp;</span>
                </div>
            {% endif %}
            <div class="col-xs-9 col-sm-10 col-md-11 address">
                <span class="sr-only">{% trans "address"|capfirst %}:</span>
                <div class="pull-right">{% include './snippets/checked.html' with object=place %}</div>
                <a href="{{ place.get_absolute_url }}">
                    {% if user.is_authenticated %}
                        {% if place.city %}
                            {% if offered %}<b>{% endif %}{{ place.city }}{% if offered %}</b>{% endif %}
                        {% endif %}
                        {% if place.distance %}<small>{{ place.distance.km|floatformat:0 }}&nbsp;km</small>{% endif %}
                        {% if user.is_superuser and place.internal_distance %}
                            <small>({{ place.internal_distance.km|floatformat:2 }}&nbsp;km)</small>
                        {% endif %}
                        <br />
                        {% if place.state_province %}
                            {% cache HOUR|mult:96 country-subregion place.country.code place.state_province %}
                                {# Regions are not expected to change too often, so caching for 96 hours. #}
                                {{ place.subregion.translated_or_latin_name }},
                            {% endcache %}
                        {% endif %}
                        {{ place.get_country_display }}
                    {% else %}
                        {{ place.get_country_display }}
                    {% endif %}
                </a>
                <div class="status anchor-group">
                    {% if user.is_authenticated %}
                        {% list place.available place.tour_guide place.have_a_drink as offer_details %}
                        {% if offer_details|are_any %}
                            <span class="sr-only">{% trans "Notes " context 'Title' %}:</span>
                        {% endif %}
                        {% dict icon="ps-home"       class="host"  title=_("I'm hosting")                       as style_house %}
                        {% dict icon="ps-city-guide" class="guide" title=_("I can guide around the city")       as style_guide %}
                        {% dict icon="ps-city-drink" class="drink" title=_("I'd like to have a drink together") as style_drink %}

                        {% cycle style_house style_guide style_drink as offer_style silent %}
                        {% for proposed_activity in offer_details %}
                            {% if proposed_activity %}
                                {% spaceless %}
                                <div class="anchor-group-item anchor-vert-space-even" data-cycle="{{ forloop.counter }}">
                                    <span class="place-anchor place-anchor-{{ offer_style.class }} text-label-info">
                                        <span class="fa {{ offer_style.icon }}" aria-hidden="true"></span>
                                    </span>
                                    <span class="label label-info">{{ offer_style.title }}</span>
                                </div>
                                {% endspaceless %}
                            {% endif %}
                            {% cycle offer_style %}
                        {% endfor %}
                        {% resetcycle offer_style %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

    {% asvar more_template %}
        <span class="fa fa-sort-amount-desc" aria-hidden="true"></span>&nbsp;
        {% trans "further results &raquo;" %}&nbsp;
    {% endasvar %}
    {% asvar loading_template %}
        <img src="{% static 'img/loading_bars.gif' %}" alt="{% trans "working..." %}" />
        <span class="sr-only">{% trans "working..." %}</span>
    {% endasvar %}
    {% show_more more_template loading_template "control-buttons btn btn-xs btn-default" %}
    {# TODO after loading the next page, (tab) focus should be set to its start #}
    {% if endless.page.has_previous and not endless.page.has_next %}
        <hr class="hidden" />
        <small class="text-muted">
            {% trans "you reached the end of the list" %} &nbsp;<span class="fa fa-cube" aria-hidden="true"></span>
        </small>
    {% endif %}
