{% extends 'core/base.html' %}
{% load i18n static variable %}
{% load is_invalid clear_invalid is_esperanto_surrogate from profile %}

{% block head_title %}{{ view.country.name }}{% endblock %}

{% block extra_js %}
        <script src="{% static 'js/ajax.js' %}"></script>
        <script src="{% static 'maps/region-map.js' %}"></script>
{% endblock %}
{% block extra_head %}
        <link rel="stylesheet" href="{{ MAPBOX_GL_CSS }}">
        <script src="{{ MAPBOX_GL_JS }}"></script>
        <script src="{% url 'gis_endpoints' %}?format=js&type=region&country={{ view.country.code }}{% if view.in_book_status is not None %}&in_book={{ view.in_book_status|yesno:"1,0" }}{% endif %}"></script>
{% endblock %}

{% block page %}
    {% blocktrans count counter=13 asvar checked_title trimmed %}
        checked{% plural %}checked
    {% endblocktrans %}  {# always show the plural adjective #}

    {% blocktrans count counter=13 asvar confirmed_title trimmed %}
        confirmed{% plural %}confirmed
    {% endblocktrans %}  {# always show the plural adjective #}

    {% blocktrans count counter=not_confirmed_count asvar not_confirmed_title trimmed %}
        not confirmed{% plural %}not confirmed
    {% endblocktrans %}

    {% if place_count %}
        <div>
            {% widthratio checked_count place_count 100 as checked_progress %}
            {% widthratio confirmed_count place_count 100 as confirmed_progress %}
            <div class="progress" title="{{ checked_title }}" data-toggle="tooltip">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ checked_progress }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ checked_progress }}%">
                    {{ checked_count }}
                </div>
            </div>
            <div class="progress" title="{{ confirmed_title }}" data-toggle="tooltip">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ confirmed_progress }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ confirmed_progress }}%">
                    {{ confirmed_count }}
                </div>
            </div>
        </div>
    {% endif %}

    <h1 class="text-center" style="padding: 10px;">
        {{ view.country.name }}
        {% if country_coordinates %}
            <button class="btn btn-default collapsed requires-scripting" style="margin-left: 1em" data-target="#map-container" data-toggle="collapse" aria-controls="map-container" aria-expanded="false" title="{% trans "Map of the country" %}">
                <span class="fa fa-lg fa-globe" aria-hidden="true"></span>
                <span class="sr-only">{% trans "Map of the country" %}</span>
            </button>
        {% endif %}
    </h1>

    <div class="row collapse" id="map-container">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="embed-responsive embed-responsive-16by9" id="map" data-coordinates="{{ country_coordinates }}" style="visibility: hidden">
            </div>
        </div>
    </div>

    <br />
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" {% if view.in_book_status is True %}aria-pressed="true" class="active {% else %}class="{% endif %}pull-sm-right btn-vert-space">
            <a href="{% url 'staff_place_list' country_code=view.country in_book=1 %}">
                <span class="badge">{{ in_book_count }}</span>
                {% trans "In the book" %}
            </a>
        </li>
        <li role="presentation" {% if view.in_book_status is False %}aria-pressed="true" class="active {% else %}class="{% endif %}pull-sm-right btn-vert-space">
            <a href="{% url 'staff_place_list' country_code=view.country in_book=0 %}">
                <span class="badge">{{ not_in_book_count }}</span>
                {% trans "Not in the book" %}
            </a>
        </li>
        <li role="presentation" {% if view.in_book_status is None %}aria-pressed="true" class="active {% else %}class="{% endif %}pull-sm-right btn-vert-space">
            <a href="{% url 'staff_place_list' country_code=view.country %}">
                {% trans "All hosts" %}
            </a>
        </li>
        <li role="presentation" {% if view.kwargs.email %}aria-pressed="true" class="active {% else %}class="{% endif %}btn-vert-space">
            {# Translators: must be identical to the <email> parameter value in staff_place_list url. #}
            {% trans "email-addr" context "URL" as email_url_part %}
            {% if view.in_book_status is not None %}
                {% if view.kwargs.email %}
                    {% url 'staff_place_list' country_code=view.country in_book=view.in_book_status|yesno:"1,0" as invalid_emails_list_url %}
                {% else %}
                    {% url 'staff_place_list' country_code=view.country in_book=view.in_book_status|yesno:"1,0" email=email_url_part as invalid_emails_list_url %}
                {% endif %}
            {% else %}
                {% if view.kwargs.email %}
                    {% url 'staff_place_list' country_code=view.country as invalid_emails_list_url %}
                {% else %}
                    {% url 'staff_place_list' country_code=view.country email=email_url_part as invalid_emails_list_url %}
                {% endif %}
            {% endif %}
            <a href="{{ invalid_emails_list_url }}">
                <span class="badge">{{ invalid_emails_count }}</span>
                {% trans "invalid emails"|capfirst %}
            </a>
        </li>
        <li role="presentation" class="btn-vert-space">
            <a href="#{% trans "not-confirmed" context "URL" %}">
                <span class="badge">{{ not_confirmed_count }}</span>
                {{ not_confirmed_title|capfirst }}
                {% if not_confirmed_count %}<span class="fa fa-level-down" aria-hidden="true"></span>{% endif %}
            </a>
        </li>
    </ul>
    <br />

    {% regroup place_list by confirmed as confirmed_list %}
    {% for confirmed_state in confirmed_list %}
        <div>
            {% if confirmed_state.grouper %}
                <h3 id="{% trans "confirmed" context "URL" %}" class="text-center text-info">
                    {{ confirmed_title|capfirst }}
                    <small>&bull;&nbsp; {{ confirmed_state.list|length }}</small>
                </h3>
            {% else %}
                <h3 id="{% trans "not-confirmed" context "URL" %}" class="text-center text-warning">
                    {{ not_confirmed_title|capfirst }}
                    <small>&bull;&nbsp; {{ confirmed_state.list|length }}</small>
                </h3>
            {% endif %}
            {% for place in confirmed_state.list %}
                <div class="place-supervisor-detail callout {% if place.checked %}callout-success{% endif %} {% if not place.confirmed %}callout-warning{% endif %}"
                     id="p-{{ place.pk }}">
                    {% asvar current_page_position %}{{ request.get_full_path }}#p-{{ place.pk }}{% endasvar %}

                    <div class="control-buttons pull-right">
                    {# CONTROL BUTTONS: CHECK, UPDATE; IMPORTANT TIMESTAMPS #}
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                {% asvar id_check_status %}check-place-{{ place.pk }}{% endasvar %}
                                {% if place.checked %}
                                    {% include './snippets/checked.html' with object=place button=True button_id=id_check_status %}
                                {% else %}
                                    <form action="{% url 'place_check' place.pk %}" method="POST" class="unwrap-after-success">
                                        {% csrf_token %}
                                        <button type="button" id="{{ id_check_status }}" class="btn btn-warning ajax"
                                                aria-live="assertive" aria-atomic="true"
                                                data-csrf="{{ csrf_token }}"
                                                data-hover-text="{% trans "Check?" %}"
                                                data-process-elem=".process-icon"
                                                data-success-text="{% trans "Checked" %}"
                                                data-on-ajax-setup="checkPlaceSetup"
                                                data-on-ajax-success="checkPlaceSuccess"
                                                data-failure-message="check-place-check-errors"
                                                autocomplete="off">
                                            {% trans "Not checked" %}
                                        </button>
                                        <span class="fa fa-clock-o fa-spin process-icon" style="display: none" aria-label="{% trans "working..." %}">
                                    </form>
                                {% endif %}
                            </div>
                            <div class="btn-group" role="group">
                                <a class="btn btn-success" href="{% url 'place_update' place.pk %}" target="_blank">
                                    <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                                    {% trans "Update" %}
                                </a>
                            </div>
                        </div>

                        {% spaceless %}
                        <p class="timestamp text-right text-muted"
                           title="{% trans "last login" %}<br />{{ place.owner.user.last_login|default:_("never") }}"
                           data-toggle="tooltip" data-html="true" data-placement="bottom">
                            <small class="fa fa-sign-in" aria-hidden="true" style="position: relative; left: -2px"></small>
                            <small><samp> {{ place.owner.user.last_login|date:"Y-m-d H:i"|default:"—"|stringformat:"-16s" }} UTC</samp></small>
                        </p>
                        {% endspaceless %}
                        {% spaceless %}
                        <p class="timestamp text-right text-muted"
                           title="{% trans "last modification" %}<br />{{ place.modified|default:_("never") }}"
                           data-toggle="tooltip" data-html="true" data-placement="bottom">
                            <small class="fa fa-pencil-square-o" aria-hidden="true"></small>
                            <small><samp> {{ place.modified|date:"Y-m-d H:i"|default:"—"|stringformat:"-16s" }} UTC</samp></small>
                        </p>
                        {% endspaceless %}
                    {# END OF CONTROL BUTTONS #}
                    </div>

                    <address>
                        <a href="{{ place.profile.get_edit_url }}" target="_blank">
                            <h4 class="name">
                                <small>{{ place.profile.get_title_display }}</small>
                                {{ place.profile.get_fullname_display }}
                                {% if place.profile.birth_date %}
                                    &lrm;<small>{{ place.profile.birth_date|date:"Y-m-d" }} ({% blocktrans with age=place.profile.age %}{{ age }} y.o.{% endblocktrans %})</small>
                                {% endif %}
                            </h4>
                        </a>
                        <a href="{% url 'profile_update' place.profile.pk place.profile.autoslug %}?next={{ current_page_position|urlencode:"" }}"
                           class="btn btn-default btn-sm btn-vert-space">
                            {% trans "Update profile" %}
                        </a>

                        <div class="address">
                            {{ place.address }}<br />
                            {{ place.postcode}} <span class="fa fa-dot-circle-o" aria-hidden="true"></span> <strong>{{ place.city }}</strong><br />
                            {{ place.state_province }}
                        </div>
                        <div class="description-short {% if place.short_description.strip %}has-content{% endif %}">
                            {% with desc=place.short_description %}
                                {% if desc|is_esperanto_surrogate %}
                                    {% asvar description_color %}text-surrogate text-warning{% endasvar %}
                                    {% asvar description_text_warning %}{% trans "Esperanto letters?" %}{% endasvar %}
                                {% endif %}
                                {% if desc|length > 135 %}
                                    {% asvar description_length_warning %}{% trans "Description too long." %}{% endasvar %}
                                {% endif %}
                                <small class="{{ description_color }}">
                                    {{ desc }}
                                    {% if description_length_warning %}
                                        <span class="text-danger text-nowrap">
                                            <span class="fa fa-exclamation-triangle" data-toggle="tooltip" data-html="true"
                                                  title="{{ description_text_warning }}
                                                         {% if description_text_warning and description_length_warning %}<br />{% endif %}
                                                         {{ description_length_warning }}"
                                                  aria-label="{% trans "Warning " context 'Title' %}"></span>
                                            {{ desc|length }}&#8202;/&#8202;135
                                        </span>
                                    {% elif description_text_warning %}
                                        <span class="fa fa-exclamation-triangle" data-toggle="tooltip"
                                              title="{{ description_text_warning }}"
                                              aria-label="{% trans "Warning " context 'Title' %}: {{ description_text_warning }}"></span>
                                    {% endif %}
                                </small>
                            {% endwith %}
                        </div>
                        <div>
                            {# TODO: Phones are re-fetched even though they are in a prefetch... #}
                            {% for phone in place.profile.phones.all %}
                                {% if not phone.deleted %}
                                    <small class="phone-number">
                                        {% asvar phone_dimmed_reason trimmed %}
                                            {% if view.in_book_status is True and not phone.visibility.in_book %}
                                                {% trans "not printed in the book" %}
                                            {% endif %}
                                            {% if view.in_book_status is False and not phone.visibility.online_public and not phone.visibility.online_authed %}
                                                {% trans "not displayed to other users" %}
                                            {% endif %}
                                            {% if view.in_book_status is None and phone.visibility.concealed %}
                                                {% trans "The owner set it as not visible to other users" %}
                                            {% endif %}
                                        {% endasvar %}
                                        {% if phone_dimmed_reason %}
                                            <span class="sr-only">{% trans "Note " context 'Title' %}: {{ phone_dimmed_reason }}"</span>
                                        {% endif %}
                                        <b class="number{% if phone_dimmed_reason %} text-muted{% endif %}"
                                           data-toggle="tooltip" data-placement="top"
                                           title="{{ phone_dimmed_reason }}">
                                            {{ phone.icon }}
                                            {{ phone.number.as_international }}
                                        </b>
                                        <em class="comment{% if phone.comments|is_esperanto_surrogate %} text-surrogate text-warning{% endif %}"
                                            {% if phone_dimmed_reason %}style="opacity: 0.55"{% endif %}>
                                            {{ phone.comments }}
                                            {% if phone.comments|is_esperanto_surrogate %}
                                                <span class="fa fa-exclamation-triangle text-warning"
                                                      data-toggle="tooltip" data-container="#p-{{ place.pk }} address"
                                                      title="{% trans "Esperanto letters?" %}"
                                                      aria-label="{% trans "Warning " context 'Title' %}: {% trans "Esperanto letters?" %}"></span>
                                            {% endif %}
                                        </em>
                                        {% spaceless %}
                                        <a href="{% url 'phone_update' place.profile.pk phone.pk %}?next={{ current_page_position|urlencode:"" }}"
                                           class="action-edit-inline text-label-success"
                                           title="{% trans "Update a phone number" %}" data-toggle="tooltip">
                                            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                                            <span class="sr-only">{% trans "Update a phone number" %}</span>
                                        </a>
                                        {% endspaceless %}
                                    </small>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </address>
                    <div class="host">
                        <h5>
                            <small>{% trans "username"|capfirst %}</small>
                            <span class="person-username">{{ place.profile.user.username }}</span>
                        </h5>
                        {% if place.profile.user.email|is_invalid %}
                            <span class="person-email-address text-danger" title="{% trans "invalid email" %}" data-toggle="tooltip">
                                {{ place.profile.user.email|clear_invalid }}
                                <span class="fa fa-exclamation-triangle" aria-label="{% trans "Warning " context 'Title' %}"></span>&nbsp;
                            </span>
                        {% else %}
                            <span class="person-email-address">{{ place.profile.user.email|urlize }}</span>
                            <form action="{% url 'staff_email_mark_invalid' place.profile.pk place.profile.autoslug %}?next={{ current_page_position|urlencode:"" }}"
                                  method="POST"
                                  class="unwrap-after-success" style="display: inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-default btn-xs btn-vert-space-even ajax"
                                        data-csrf="{{ csrf_token }}"
                                        data-hover-class="btn-danger"
                                        data-on-ajax-success="markInvalidEmailSuccess"
                                        autocomplete="off">
                                    {% trans "Mark invalid" %}
                                </button>
                            </form>
                        {% endif %}
                        <a href="{% url 'staff_email_update' place.profile.pk place.profile.autoslug %}?next={{ current_page_position|urlencode:"" }}"
                           class="btn btn-default btn-sm">
                            {% trans "Update email" %}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% empty %}
        <div class="row place-list">
            <div class="col-xs-12 help-block text-body">
                {% trans "Sorry, no kind hosts found…" %}
            </div>
        </div>
    {% endfor %}

    <div class="modal fade" id="check-place-check-errors" tabindex="-1" role="dialog" aria-labelledby="check-place-check-errors-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="check-place-check-errors-title">{% trans "There is a problem with this host's data…" %}</h5>
                </div>
                <div class="modal-body">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.checkPlaceTextSurrogateWarning = "{% trans "The description or phone note seems to contain Esperanto written in a surrogate manner. Accept such text?" %}";
    </script>
{% endblock page %}
