{% extends 'hosting/base_confirm.html' %}
{% load i18n %}

{% block head_title %}
    {% if place.owner.user == user %}
        {% blocktrans with kin=_("my ") %}Remove {{kin}}place{% endblocktrans %}
        ({% if place.city %}{{ place.city }}, {% endif %}{{ place.get_country_display }})
    {% else %}
        {% blocktrans %}Remove {{kin}}place{% endblocktrans %}: {{ place.owner.name }},
        {% if place.city %} {{ place.city }} ({{ place.get_country_display }}) {% else %} {{ place.get_country_display }} {% endif %}
    {% endif %}
{% endblock %}

{% block confirmation %}
            {% trans "Are you sure you want to delete this place?" %}
{% endblock %}
