{% extends 'hosting/base_form.html' %}
{% load i18n %}

{% block head_title %}
    {% if user.is_staff and profile and user.profile != profile %}
        {% if profile.user %}
            {% trans "Update user's details" %}{% if profile.name %}: {{ profile.name }} {% else %} #{{ profile.id }} {% endif %}
        {% else %}
            {% trans "Update a family member" %}
        {% endif %}
    {% elif profile %}
        {% if user.profile != profile %}
            {% trans "Update a family member" %}
        {% else %}
            {% trans "Update my details" %}
        {% endif %}
    {% else %}
        {% if user.profile or view.place %}
            {% trans "Add a family member" %}
        {% else %}
            {% trans "My profile" %}
        {% endif %}
    {% endif %}
{% endblock %}
{% block head_title_separator %}
    {% if not profile and not user.profile and not view.place %}
        {% trans "at" %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block enctype %}enctype='multipart/form-data'{% endblock %}

{% block messages %}
    {{ block.super }}
    {% if messages %}
        <div class="alert alert-info col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 flyover">
            <ul class="list-group">
                {% for message in messages %}
                    <li class="list-group-item list-group-item-text help-block">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
