{% extends 'hosting/profile_detail.html' %}
{% load trans blocktrans from i18n %}
{% load next from utils %}
{% load is_supervisor_of from profile %}

{% block profile_edit_buttons %}
    <a href="{% url 'profile_update' profile.pk profile.autoslug %}"
       class="btn btn-success"
       title="{% trans "Update profile" %}"
       data-toggle="tooltip" data-container="body" data-placement="bottom">
        <span class="fa fa-user-edit" aria-hidden="true"></span>
        <span class="hidden-xxs">{% trans "Update" %}</span>
    </a>
    <a href="{% url 'profile_settings' profile.pk profile.autoslug %}"
       class="btn btn-info"
       title="{% trans "Settings" %}"
       data-toggle="tooltip" data-container="body" data-placement="bottom">
        <span class="fa fa-cogs" aria-hidden="true"></span>
        <span class="hidden-xxs">{% trans "Settings" %}{% if view.role >= roles.SUPERVISOR %}: {% trans "Account" %}{% endif %}</span>
    </a>
    <a href="{% url 'profile_detail' profile.pk profile.autoslug %}"
       class="btn btn-primary"
       title="{% trans "View public profile" %}"
       data-toggle="tooltip" data-container="body" data-placement="bottom">
        <span class="fa fa-arrow-right" aria-hidden="true"></span>
        <span class="hidden-xs">{% trans "View" %}</span>
    </a>
{% endblock %}

{% block public_email_edit_buttons %}
    {% spaceless %}
    <a href="{% url 'profile_email_update' profile.pk profile.autoslug %}"
       class="action-edit-inline text-label-success" title="{% trans "Update public email" %}">
        <span class="fa fa-edit" aria-hidden="true"></span>
        <span class="sr-only">{% trans "Update public email" %}</span>
    </a>
    {% endspaceless %}
{% endblock %}

{% block public_phone_edit_buttons %}
    {% spaceless %}
    <a href="{% url 'phone_update' profile.pk phones_public.0.pk %}"
       class="action-edit-inline text-label-success" title="{% trans "Update a phone number" %}">
        <span class="fa fa-edit" aria-hidden="true"></span>
        <span class="sr-only">{% trans "Update a phone number" %}</span>
    </a>
    {% endspaceless %}
{% endblock %}

{% block place_edit_buttons %}
    {% if place_owner_or_supervisor %}
        <a href="{% url 'place_update' place.pk %}"
           class="btn btn-success"
           title="{% blocktrans with kin=_("this ") %}Update {{ kin }}place{% endblocktrans %}"
           data-toggle="tooltip" data-container="#p{{ place.pk }}" data-placement="top">
            <span class="fa fa-edit" aria-hidden="true"></span>
            <span class="hidden-xxs">{% trans "Update" %}</span>
        </a>
        <a href="{% url 'place_delete' place.pk %}"
           class="btn btn-danger"
           title="{% blocktrans with kin=_("this ") %}Remove {{ kin }}place{% endblocktrans %}"
           data-toggle="tooltip" data-container="#p{{ place.pk }}" data-placement="top">
            <span class="fa fa-regular fa-trash-can" aria-hidden="true"></span>
            <span class="sr-only">{% trans "Remove" %}</span>
        </a>
    {% endif %}
    {% if view.role == roles.OWNER %}
        <a href="{% url 'authorize_user' place.pk %}?{% next '#p' place.pk %}"
           class="btn btn-warning"
           title="{% trans "Authorized users" %}"
           data-toggle="tooltip" data-container="#p{{ place.pk }}" data-placement="top">
            <span class="fa fa-eye" aria-hidden="true"></span>
            <span class="hidden-xxs">{% trans "Authorizations" %}</span>
        </a>
    {% endif %}
{% endblock %}

{% block place_add_buttons %}
    <a class="control-buttons btn btn-info" href="{% url 'place_create' profile.pk %}">
        <span class="fa ps-plus-heavy" aria-hidden="true"></span>
        <b>{% trans "Add a place" %}</b>
    </a>
{% endblock %}

{% block family_member_edit_buttons %}
    {% if place_owner_or_supervisor or user|is_supervisor_of:member %}
        <div class="btn-group control-buttons pull-right">
            {% if not member.user_id %}
                <a href="{% url 'family_member_update' place.pk member.pk %}?{% next '#p' place.pk %}"
                   class="btn btn-smaller-xxs btn-success"
                   title="{% trans "Update a family member" %}"
                   data-toggle="tooltip" data-container="#p{{ place.pk }}" data-placement="top">
                    <span class="fa fa-edit" aria-hidden="true"></span>
                    <span class="hidden-xs">{% trans "Update" %}</span>
                </a>
            {% elif user|is_supervisor_of:member %}
                <a href="{% url 'profile_update' member.pk member.autoslug %}?{% next '#p' place.pk %}"
                   class="btn btn-smaller-xxs btn-success"
                   title="{% trans "Update profile" %}"
                   data-toggle="tooltip" data-container="#p{{ place.pk }}" data-placement="top">
                    <span class="fa fa-edit" aria-hidden="true"></span>
                    <span class="hidden-xs">{% trans "Update" %}</span>
                </a>
            {% endif %}
            {% if place_owner_or_supervisor %}
                <a href="{% url 'family_member_remove' place.pk member.pk %}"
                   class="btn btn-smaller-xxs btn-danger"
                   title="{% trans "Remove a family member" %}"
                   data-toggle="tooltip" data-container="#p{{ place.pk }}" data-placement="top">
                    <span class="fa fa-user-times" aria-hidden="true"></span>
                    <span class="sr-only">{% trans "Remove" %}</span>
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block family_member_add_buttons %}
    <div class="row control-buttons">
        <div class="col-xs-12">
            {% if place_owner_or_supervisor %}
                <a class="btn btn-info" href="{% url 'family_member_create' place.pk %}?{% next '#p' place.pk %}">
                    <span class="fa fa-user-plus" aria-hidden="true"></span>
                    <b>{% trans "Add a family member" %}</b>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block phone_edit_buttons %}
    <div class="btn-group control-buttons pull-right">
        <a href="{% url 'phone_update' profile.pk phone.pk %}"
           class="btn btn-smaller-xxs btn-success"
           title="{% trans "Update a phone number" %}"
           data-toggle="tooltip" data-container="#t{{ phone.pk }}" data-placement="top">
            <span class="fa fa-edit" aria-hidden="true"></span>
            <span class="hidden-xs">{% trans "Update" %}</span>
        </a>
        <a href="{% url 'phone_delete' profile.pk phone.pk %}"
           class="btn btn-smaller-xxs btn-danger"
           title="{% trans "Remove a phone number" %}"
           data-toggle="tooltip" data-container="#t{{ phone.pk }}" data-placement="top">
            <span class="fa fa-regular fa-trash-can" aria-hidden="true"></span>
            <span class="sr-only">{% trans "Remove" %}</span>
        </a>
    </div>
{% endblock %}

{% block phone_priority_buttons %}
    {% if phones|length > 1 %}
        <span class="priority-buttons" id="phone-priority-buttons-{{ forloop.counter }}">
            <span class="fa fa-sort-desc set-priority-button hidden-print" tabindex="0"></span>
        </span>
    {% endif %}
{% endblock %}

{% block phone_add_buttons %}
    <a class="control-buttons btn btn-info btn-vert-space" href="{% url 'phone_create' profile.pk %}">
        <span class="fa ps-plus-heavy" aria-hidden="true"></span>
        <b>{% trans "Add a phone" %}</b>
    </a>
    {% if phones|length > 1 %}
        <button class="control-buttons btn btn-info btn-vert-space adjust-prio-switch requires-scripting"
                type="button" data-list-selector=".phone-list"
                aria-controls="{% for phone in phones %}phone-priority-buttons-{{ forloop.counter }} {% endfor %}"
                aria-expanded="false">
            <span class="fa fa-shuffle" aria-hidden="true"></span>
            <strong>{% trans "Set priorities" %}</strong>
        </button>
    {% endif %}
{% endblock %}

{% block email_edit_buttons %}
    <div class="btn-group control-buttons pull-right">
        <a href="{% url 'profile_email_update' profile.pk profile.autoslug %}"
           class="btn btn-smaller-xxs btn-success"
           title="{% trans "Update public email" %}"
           data-toggle="tooltip" data-container="#e{{ profile.pk }}" data-placement="top">
            <span class="fa fa-edit" aria-hidden="true"></span>
            <span class="hidden-xs">{% trans "Update" %}</span>
        </a>
    </div>
{% endblock %}
