{% extends 'core/base_crispy_form.html' %}
{% load i18n %}

{% block head_title %}
    {% if view.role != roles.OWNER %}
        {% trans "Change user's public email" %}{% if profile.name %}: {{ profile.name }} {% else %} #{{ profile.id }} {% endif %}
    {% else %}
        {% trans "My public email address" %}
    {% endif %}
{% endblock %}

{% block form_title %}
    {% if view.role >= roles.SUPERVISOR %}
        {{ profile.get_fullname_display }} <hr />
    {% endif %}
{% endblock %}

{% block form_title_class %}{% if view.role >= roles.SUPERVISOR %}person-full-name{% endif %}{% endblock %}
