{% extends 'hosting/base_confirm.html' %}
{% load i18n %}

{% block head_title %}
    {% if profile == user.profile %}&#9872;{% endif %}
    {% trans "Delete profile" %}
    {% if profile != user.profile and profile.user %} ({{ profile.anonymous_name.strip }}) {% endif %}
{% endblock %}

{% block confirmation %}
            {% if profile == user.profile %}
                {% trans "your " as kin %}
            {% else %}
                {% trans "this " as kin %}
            {% endif %}
            <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;
            {% blocktrans %}Are you sure you want to delete {{ kin }}profile and all linked data (place, phone…)?{% endblocktrans %}
{% endblock %}
{% block extra_details %}
    {% if profile != user.profile %}
            {% if places %}<br>{% endif %}
            {{ profile }}
    {% endif %}
{% endblock %}
{% block extra_details_block %}
    {% if places and profile != user.profile %}
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <ul class="list-group small">
                    {% for place in places %}
                        <li class="list-group-item place-detail">
                            {{ place }}
                            <span title="{% trans "place" %}: {{ place.available|yesno:_('available,unavailable') }}"
                                  class="status pull-right glyphicon glyphicon-stack-normal">
                                <span class="place-marker glyphicon-stackbit-2x glyphicon-home"></span>
                                <span class="place-availability glyphicon-stackbit-1x glyphicon-{{ place.available|yesno:'ok,remove' }}"></span>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div></div>
    {% endif %}
{% endblock %}
