{% extends 'core/base.html' %}
{% load i18n static %}
{% load is_invalid clear_invalid from profile %}

{% block head_title %}
    {% if view.role == roles.OWNER %}
        {% trans "Settings" %}
    {% else %}
        {% trans "Account" %} {% blocktrans with name=profile.anonymous_name %}of {{ name }}{% endblocktrans %}
    {% endif %}
{% endblock %}

{% block extra_css %}
        <style type="text/css">
            .row + .callout, [class|="col"] > .callout {
                margin-top: -5px;
            }
            .row.setting {
                margin-top: 25px;
            }
        </style>
{% endblock %}

{% block extra_js %}
        <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}

{% block page %}
    <h2>{% if view.role >= roles.SUPERVISOR %}{{ profile.get_fullname_display }}: {% endif %}
        {% trans "Settings" %}</h2>

    {% if profile.deleted %}
    <div class="alert alert-small alert-danger">
        <span class="fa fa-exclamation-circle" aria-label="{% trans "Warning " context 'Title' %}"></span>&nbsp;
        {% trans "Deleted profile" %}
    </div>
    {% endif %}

    {% if view.role == roles.OWNER %}
    <div class="row setting">
        <div class="col-xxs-12 col-xs-6">
            <section class="callout callout-primary">
                <h4 id="{% trans "password" %}">{% trans "password"|capfirst %}</h4>
                <a href="{% url 'password_change' %}" class="btn btn-default btn-sm">
                    {% trans "Change password" %}
                </a>
            </section>
        </div>
        <div class="col-xxs-12 col-xs-6">
            <section class="callout callout-primary">
                <h4 id="{% trans "username" %}">{% trans "username"|capfirst %}</h4>
                <samp><small>{{ profile.user.username }}</small></samp> &nbsp;
                <a href="{% url 'username_change' %}" class="btn btn-default btn-sm">
                    {% trans "Change username" %}
                </a>
            </section>
        </div>
    </div>
    {% endif %}

    <section class="callout callout-primary">
        <h4 id="{% trans "email-addr" context "URL" %}">{% trans "Email" context "Title" %}</h4>
        <samp><small>
            {% if profile.user.email|is_invalid %}
                <span class="email text-danger" data-toggle="tooltip"
                      title="{% trans "invalid email" %}" aria-label="{% trans "Warning " context 'Title' %}: {% trans "invalid email" %}">
                    {{ profile.user.email|clear_invalid }}
                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                </span>
            {% else %}
                {{ profile.user.email }}
            {% endif %}
        </small></samp> &nbsp;
        {% if view.role == roles.OWNER %}
            <a href="{% url 'email_update' %}" class="btn btn-default btn-sm btn-vert-space-even">
                {% trans "Update account email" %}
            </a>
            {% if profile.user.email|is_invalid %}
                <form action="{% url 'email_verify' %}" method="POST"
                      class="unwrap-after-success" style="display: inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default btn-sm btn-vert-space-even ajax"
                            data-csrf="{{ csrf_token }}"
                            data-success-text="{% trans "Awaiting verification..." %}"
                            data-success-message="email-verification_notification"
                            data-on-ajax-success="verifyEmailSuccess">
                        {% trans "Re-verify address" %}
                    </button>
                    <div class="modal fade" id="email-verification_notification" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body help-block">
                                    <span class="">
                                        {% trans "We've sent a verification message to your email address. Please follow the instructions in the message to complete this step." %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}
        {% else %}
            <a href="{% url 'staff_email_update' profile.pk profile.autoslug %}" class="btn btn-default btn-sm btn-vert-space-even">
                {% trans "Update account email" %}
            </a>
        {% endif %}
        <p class="help-block">{% trans "We send e-mails to this address. It will never be public." %}</p>

        <section class="well well-sm">
            <button data-target="#set-public-email" class="btn btn-primary btn-vert-space btn-xs" data-toggle="collapse" >
                {% trans "Public email?" %}
            </button>
            <div id="set-public-email" class="collapse{% if profile.email %} in{% endif %}">
                {% trans "[no email address]" as no_email %}
                <samp><small>
                    {% if profile.email|is_invalid %}
                        <span class="email text-danger" data-toggle="tooltip"
                              title="{% trans "invalid email" %}" aria-label="{% trans "Warning " context 'Title' %}: {% trans "invalid email" %}">
                            {{ profile.email|clear_invalid }}
                            <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                        </span>
                    {% else %}
                        {% firstof profile.email no_email %}
                    {% endif %}
                </small></samp> &nbsp;
                <a href="{% url 'profile_email_update' profile.pk profile.user.username|slugify %}?next={{ request.get_full_path|urlencode }}"
                   class="btn btn-default btn-sm btn-vert-space-even">
                    {% trans "Update public email" %}
                </a>
                <p class="help-block">{{ view.profile_email_help_text|linebreaksbr }}</p>
            </div>
        </section>
    </section>

    {% if view.role == roles.OWNER %}
    <!--
    <section class="callout callout-warning">
        <h4>{% trans "Privacy" %}</h4>
    </section>
    -->
    {% endif %}

    {% if not profile.deleted %}
    <section class="callout callout-danger">
        <h4>{% if view.role == roles.OWNER %}{% trans "End my membership" %}{% else %}{% trans "End membership" %}{% endif %}</h4>
        <a href="{% url 'profile_delete' profile.pk profile.user.username|slugify %}"
           class="btn btn-danger">
            <span class="fa fa-trash fa-lg" aria-hidden="true"></span>&nbsp;
            {% trans "Delete account" %}
        </a>
    </section>
    {% endif %}
        
    <div class="pull-left">
        <a href="{% url 'profile_edit' profile.pk profile.user.username|slugify %}" class="btn btn-default" title="{% trans "Back" %}">
            <span class="fa fa-arrow-left" aria-hidden="true"></span>
            <span>{% trans "Back" %}</span>
        </a>
    </div>
{% endblock page %}
