{% load i18n variable %}
{% load next from utils %}

    {{ privacy_matrix.management_form }}

    <table class="table table-hover{% if privacy_matrix.read_only %} preview{% endif %}">
    <thead>
        <tr>
            <th rowspan="2" scope="row"><small>{% trans "where the following data should be visible?" %}</small></th>
            <th colspan="2" scope="colgroup" class="header-online">{% trans "on site" %}</th>
            <th rowspan="2" scope="col" class="header-in_book">{% trans "in book" %}</th>
        </tr>
        <tr>
            <th width="1%" scope="col" class="header-public text-nowrap">{% trans "all visitors" %}</th>
            <th width="1%" scope="col" class="header-authed text-nowrap">{% trans "guests and hosts" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for asset in privacy_matrix %}
        <tr id="ppv{{ asset.obj.visibility.pk }}" class="asset-privacy-settings">
            <td>
                <div class="asset-icon text-warning" aria-hidden="true">{{ asset.obj.icon }}</div>
                <span class="sr-only">{{ asset.hint.value }}</span>
                <div class="asset-value {% if asset.indent.value %}idented{% endif %}">
                    {% if asset.indent.value %}
                        <span class="fa fa-reply fa-rotate-180 text-muted fa-spacer-right" aria-hidden="true"></span>
                        <span class="hidden" aria-hidden="true">&#x21b3;</span>
                    {% endif %}
                    {{ asset.id }}
                    {{ asset.obj }}
                </div>
            </td>
            {% for venue in asset.venues %}
            <td>
                <div style="position: relative"> {# required for correct positioning of floating elements #}
                    <span class="fa fa-check text-label-success visibility-success" style="visibility: hidden"
                          aria-role="status" data-notification="{% trans "saved" %}"></span>
                    <span class="sr-only">&nbsp; {% cycle _("all visitors") _("guests and hosts") _("in book") %}</span>

                    {{ venue }}

                    {% if venue.hosting_notification and not privacy_matrix.read_only %}
                        {% if not asset.obj.available %}
                            {% trans "you are not hosting, therefore this place will not be in the book" as asterisk_title %}
                        {% elif not asset.obj.in_book %}
                            {% trans "in place details, you have not marked it to be printed in the book" as asterisk_title %}
                        {% else %}
                            {% delvar asterisk_title %}
                        {% endif %}
                        <span class="fa fa-asterisk text-muted asterisk" tabindex="0" aria-hidden="true"
                              title="{{ asterisk_title }}"
                              data-toggle="tooltip" data-placement="left" data-container="body" data-trigger="hover focus click"></span>
                        <span class="sr-only"><i>* {% trans "Note " context 'Title' %}: {{ asterisk_title }}</i></span>
                    {% endif %}
                    {% if 'auth' in venue.name and asset.obj.authorized_users_cache.query %}
                        {% asvar id_auth_panel %}authlist-{{ asset.obj.visibility.pk }}{% endasvar %}
                        <button class="authorized-list switch requires-scripting btn btn-default btn-xs"
                                type="button" data-target="#{{ id_auth_panel }}"
                                aria-controls="{{ id_auth_panel }}" aria-expanded="false" aria-haspopup="true">
                            <span class="fa fa-eye" aria-hidden="true"></span>
                            <span class="fa fa-question" aria-hidden="true"></span>
                            <span class="sr-only">{% trans "who can view ?" %}</span>
                        </button>
                        {% asvar current_page_position %}#ppv{{ asset.obj.visibility.pk }}{% endasvar %}
                        {% if view.role == roles.OWNER %}
                            <noscript>
                                <a href="{% url 'authorize_user' asset.obj.pk %}?{% next current_page_position %}"
                                   target="authorizations"
                                   class="authorized-list switch btn btn-default btn-xs"
                                   title="{% trans "who can view ?" %}">
                                    <span class="fa fa-eye" aria-hidden="true"></span>
                                    <span class="fa fa-question" aria-hidden="true"></span>
                                    <span class="sr-only">{% trans "who can view ?" %} [{% trans "in new window" %}]</span>
                                </a>
                            </noscript>
                        {% endif %}
                        {% include './snippets/place_authorizations.html' with id=id_auth_panel place_pk=asset.obj.pk authorized_set=asset.obj.authorized_users_cache is_collapsed=True back_to=current_page_position %}
                    {% endif %}
                </div>
            </td>
            {% endfor %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">
                <i>{% trans "You have provided no accommodation or contact details..." %}</i>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <input type="hidden" id="id_dirty" name="dirty" value="" autocomplete="off">
