/*
    This is a basic stylesheet for the django-postman application.
    Called from templates/postman/base.html.
    Make your own design in <settings.STATIC_ROOT>/postman/css/postman.css
*/
@media (max-width: 479px) {
    #postman h1 {
        font-size: 30px;
    }
    #postman h2 {
        font-size: 24px;
    }
}

#pm_messages {
    width: 100%;
}
#pm_messages th,
#pm_messages td {
    padding: .5em;
}
#pm_messages .pm_sign_new {
    color: #f71;
}
#pm_messages .pm_row_odd {
    background-color: #f9f9f9;
}
#pm_messages .pm_row_even {
    background-color: #f0f0f0;
}
.pm_message {
    margin-bottom: 10px;
}
.pm_message.pm_deleted {
    text-decoration: line-through;
}
.pm_message.pm_deleted .pm_body {
    display: none;
}
.pm_message.pm_archived {
    font-style: italic;
    color: grey;
}
.pm_message.pm_unread .pm_subject {
    font-weight: bolder;
}
.pm_message.pm_pending .pm_header {
    background-color: #FFC;
}
.pm_message.pm_rejected .pm_header {
    background-color: #FDD;
}

#pm_reply .control-label {
    display: none;
}

#postman_menu {
    list-style: none;
    font-size: 1.2em;
    padding: 0;
}
#postman_menu li {
    margin: 10px;
}
#postman_menu a {
    display: block;
    color: white;
    background: #f71;
    padding: 0.3em 1em;
}
#postman_menu a:focus,
#postman_menu a:active,
#postman_menu a:hover {
    text-decoration: none;
    background: #f82;
}
#postman_menu .glyphicon {
    top: 3px;
}
#postman_menu .glyphicon,
#postman_menu .fa {
    margin-right: 0.5ex;
}

#postman input,
#postman textarea {
    width: 100%;
}

#pm_buttons {
    margin: 1em 0;
}
