
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 340px">
  <tr>
    <td height="60" align="left" bgcolor="#ff7711" color="white"
        style="font-size: 30; line-height: 0; padding-left: 20px; border-radius: 20px 20px 0 0 / 12px;" >
      <img src="data:image/png;base64,{% include 'hosting/emails/email_logo_base64.txt' %}" 
           alt="Pasporta Servo" 
           style="color: white; font-weight: bold; font-size: 38px; line-height: 40px; font-family: baskerville,palatino,'palatino linotype',georgia,serif;" />
    </td>
  </tr>
  <tr>
    <td bgcolor="white" style="padding: 2em;">
      <font color="#555555" style="font-size: 18px; font-family: helvetica;">
        {{ body }}
        <p id="antauvido"></p>
      </font>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ff7711" height="40" align="right" style="padding-right: 12px">
      <font color="white" style="font-size: 17px">E-gastigantoj tra la mondo</font>
    </td>
  </tr>
  <tr>
    <td align="center">
      <font color="#999999" size="2">
        Vi ricevas ĉi tiun retmesaĝon ĉar vi estas membro de Pasporta Servo
      </font>
    </td>
  </tr>
</table>
