<table align="center" border="0" cellpadding="0" cellspacing="0" width="700">
  <tr>
    <td bgcolor="#ff7711" height="60" color="white" style="font-size: 30; line-height: 0; padding-left:20px;" align="left">
    <img src="/static/img/email_logo.png" alt="Pasporta Servo" style="color:white;font-weight:bold;font-size:38px
;line-height:40px;font-family:baskerville,palatino,'palatino linotype',georgia,serif;" />
    
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffff" color="#dddddd" style="padding: 2em; font-size:18px;font-family:helvetica;">

      {{ body }}
      <p id="antauvido"></p>

    </td>
  </tr>
  <tr>
    <td bgcolor="#ff7711" height="40" align="right" style="padding-right:12px">
        <font color="white" style="font-size:17px;">E-gastigantoj tra la mondo</font>
    </td>
  </tr>
  <tr><td align="center"><font color="#bbbbbb" size="2">
        Vi ricevas tiun retmesaĝon ĉar vi estas membro de Pasporta Servo
    </font></td></tr>
</table>
