[Unit]
Description=Cache for Pasporta Servo (staging)
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=pscache
ExecStart=/usr/local/memcached/bin/memcached -s /tmp/memcached_staging.sock -a 760

[Install]
WantedBy=multi-user.target
