[Unit]
Description=Async tasks runner for Pasporta Servo (staging)

[Service]
ExecStart=/opt/envs/staging/bin/python manage.py qcluster
WorkingDirectory=/srv/staging/pasportaservo
RuntimeDirectory=pasportaservo/staging-qcluster
User=ps
Restart=no
StandardError=syslog

[Install]
WantedBy=multi-user.target
