{% load static i18n %}
{% load compact from utils %}
{% load avatar_dimension from profile %}

        {% if request.user_has_profile or request.user_has_profile is None and user.profile %}
            <a href="{{ user.profile.get_absolute_url }}" class="avatar"
               title="{% trans "My profile" %}"
               data-toggle="tooltip" data-placement="bottom">
                {% filter compact %}
                <img src="{{ user.profile.avatar_url }}"
                     {% if user.profile.avatar %}data-proper-url="{{ user.profile.avatar.url }}"{% endif %}
                     {{ user.profile|avatar_dimension }}
                     data-fallback="{% static 'img/avatar-unknown.png' %}"
                     alt="{% trans "My profile"|lower %}" aria-label="{% trans "avatar" %} : {{ user.username }}" />
                {% endfilter %}
            </a>
        {% else %}
            <a href="{% url 'profile_create' %}" class="avatar"
               title="{% trans "My profile" %}"
               data-toggle="tooltip" data-placement="bottom">
                <img src="{% static 'img/avatar-unknown.png' %}" width="100%" height="100%"
                     alt="{% trans "My profile"|lower %}" aria-label="{% trans "avatar" %} : {{ user.username }}" />
            </a>
        {% endif %}
