{% load i18n bootstrap %}


<div class="col-xs-12">
    <div class="well register">
        <h4>{% trans "Registration" %}</h4>
        <p class="tip">
            {% trans "You must register to see this accomodation." %}
        </p>
        <form class="form row" method="POST" action="{% url 'register' %}?{{ REDIRECT_FIELD_NAME }}={{ request.get_full_path|urlencode }}">
            <div class="col-sm-10 col-sm-offset-1">
                {% csrf_token %}
                {{ form|bootstrap }}
                <p>
                    <button type="submit" class="btn btn-primary">{% trans "Register" %}</button>
                </p>
            </div>
        </form>
    </div>
</div>
