<!DOCTYPE html>
{% load i18n static %}
<html lang="eo">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="{% static 'img/PS_favicon.png' %}" />
        <title>{% block head_title %}{% trans "Find accomodation" %}{% endblock %}
               {% block head_title_separator %}|{% endblock %} Pasporta Servo</title>
        <meta name="description" content="{% block head_description %}{% endblock %}">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/pasportaservo.css' %}">
        {% block extra_css %}{% endblock %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="{% static 'js/news.js' %}"></script>
        {% block extra_js %}{% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>{% block body %}{% endblock %}</body>
</html>
