<!DOCTYPE html>
{% load i18n static %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>{% block head_title %}Trovi acomodación{% endblock %} | Pasporta Servo</title>
        <meta charset="utf-8">
        <meta name="description" content="{% block head_description %}{% endblock %}">
        <meta name="viewport" content="width=device-width"></meta>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/pasportaservo.css' %}">
        {% block extra_css %}{% endblock %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block extra_js %}{% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>{% block body %}{% endblock %}</body>
</html>
