{% load i18n %}

<div class="input-group">
    {% include 'django/forms/widgets/input.html' %}
    <div class="input-group-btn password-toggle requires-scripting">
        <button id="{{ widget.attrs.id }}_toggle" class="btn btn-default" type="button" aria-pressed="false" autocomplete="off"
                aria-label="{% trans "Show the password. Note that your password will become visible on the screen." %}"
                data-aria-label-inactive="{% trans "Hide (mask) the password." %}">
            <span class="fa fa-regular fa-eye small" data-icon-on="fa-eye" data-icon-off="fa-eye-slash" aria-hidden="true"></span>
            <span class="password-toggle-text small hidden-xxs" data-label-inactive="{% trans "Hide" %}">{% trans "Show" %}</span>
        </button>
    </div>
    {% comment %}
        A no-script fallback is needed because an input-group expectes at least 2 visible elements.
        However, we cannot wrap the fallback in the semantically more correct <noscript> because it
        breaks Bootstrap's :last-child selectors logic.
    {% endcomment %}
    <div class="input-group-addon no-scripting-fallback">
        <span class="fa fa-key" aria-hidden="true"></span>
    </div>
</div>
